[2020-05-28 06:29] 0crat commented on #356
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-28 06:30] 0crat commented on #355
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-28 06:32] yegor256 opened #357 "Non final attribute (P12) must ignore static constants in interfaces"
This is the example:

[code]

This `BAR` is OK, there is no pattern here.

[2020-05-28 06:32] 0crat commented on #357
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-28 06:33] yegor256 opened #358 ""some issues found" is redundant message in the log"
There is no point to print this line in the `long` log:

[code]

Please, remove them. Both lines are unnecessary.

[2020-05-28 06:33] 0crat commented on #358
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-28 06:36] yegor256 opened #359 "ignore package-info.java files"
We should not check `package-info.java` files:

[code]

This is wrong.

[2020-05-28 06:36] 0crat commented on #359
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-28 06:48] yegor256 opened #360 "Print the score of the pattern and the total number of patterns"
This is what I see in the log now:

[code]

I would like to see this instead:

[code]

Here:

  * 5.65 is the score of this pattern
  * 2 is the position of this pattern in the total list of patterns found in the file
  * 13 is the total number of found patterns

These numbers should also be visible in the XML.

[2020-05-28 06:48] 0crat commented on #360
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-28 07:16] lyriccoder commented on #358
In this case how can we differ the cases when there is no issues and smth is found? otherwise a user will ask for a file: "why was it missed?"

[2020-05-28 08:10] lyriccoder commented on #357
@0crat assign to @paulodamaso

[2020-05-28 08:16] 0crat commented on #357
@lyriccoder You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-05-28 11:37] g4s8 opened #363 "Get rid of --filenames or --folder"
I'd suggest getting rid of `--filenames` or `--folder` CLI options and use argument instead, since it looks like a primary and mandatory argument for `recommend` command and can be determined easily by using `os.path`: https://stackoverflow.com/a/3204819. E.g.
 - `aibolit recommend ./src/main/java/Main.java` instead of `aibolit recommend --filenames ./src/main/java/Main.java`
 - `aibolit recommend

[2020-05-28 11:37] 0crat commented on #363
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-28 11:43] g4s8 opened #364 "No pattern description for P21"
`aibolit` reported `Var in the middle (P21)` warning, but there're no such description in PATTERNS.md

[2020-05-28 11:43] 0crat commented on #364
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-28 11:46] g4s8 opened #365 "P21 var in the middle is wrong for variable declaration"
I have this code:
[code]
The variable `size` defined at line `150` but assigned conditionally at line `152` or `154`.
The report of `aibolit` says that `line 150: Var in the middle (P21)`, but actually this variable can't be assessed before `155` line with initialization in `152` or `154`.

[2020-05-28 11:46] 0crat commented on #365
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-28 11:58] g4s8 opened #366 "P20_7 Var declaration distance: count statemtnts instead of lines"
I think `P20_7` pattern may be more useful if it counts statements instead of lines, e.g. this code:
[code]
Has only one statement between returning the variable and declaration, but it has multiple lines, so it's a candidate for `P20_7`. I think amount of lines doesn't really make readability worse, but amount of statements does.

[2020-05-28 11:58] 0crat commented on #366
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-28 12:14] #359 closed

[2020-05-28 12:31] 0crat commented on #359
Job `gh:yegor256/aibolit#359` is not assigned, can't get performer

[2020-05-28 12:32] #358 closed

[2020-05-28 12:57] 0crat commented on #358
Job `gh:yegor256/aibolit#358` is not assigned, can't get performer

[2020-05-28 13:37] lyriccoder commented on #363
at the moment we cannot do this. We have a lot for parameters for  `recommend` like --full, --model_name. That's why we have to specify `filenames` or `folder` parameter.

@acheshkov should we close it?

[2020-05-28 13:44] #353 closed

[2020-05-28 14:02] 0crat commented on #353
Job `gh:yegor256/aibolit#353` is not assigned, can't get performer

[2020-05-28 14:06] g4s8 commented on #365
@lyriccoder @acheshkov it seems this ticket was closed by mistake: PR #367 was addressed #364 issue, not #365

[2020-05-28 14:15] 0crat commented on #365
Job `gh:yegor256/aibolit#365` is not assigned, can't get performer

[2020-05-29 02:51] yegor256 opened #368 "rename "recommend" to "check""
It would be more logical call it like this:

[code]

This is the terminology all other static analyzers are using: _checking_ the code to find issues.

[2020-05-29 02:51] 0crat commented on #368
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-29 02:53] yegor256 commented on #363
@lyriccoder I second this. Parameters start with `--` while file names don't. This is how many other tools work, for example my XML static analyzer [xcop](https://github.com/yegor256/xcop)

[2020-05-29 02:56] yegor256 commented on #363
@yegor256 I'm closing #355 in favor of this

[2020-05-29 02:56] yegor256 commented on #355
see #363

[2020-05-29 02:56] #355 closed

[2020-05-29 03:03] yegor256 opened #369 "Null check (P13): false positive"
This is my Java code:

[code]

Obviously, I'm not _checking_ for NULL here.

[2020-05-29 03:03] 0crat commented on #369
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-29 03:06] yegor256 opened #370 "Method chain (P10): JDK classes must be ignored"
This is my code:

[code]

Obviously, I have no other option but to do it this way. I'm suggesting to ignore JDK classes in this pattern.

[2020-05-29 03:06] 0crat commented on #370
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-29 03:08] yegor256 commented on #363
@lyriccoder moreover, we don't need to implement recursive searching of files in folders. The user will do it using standard Linux instruments:

[code]

[2020-05-29 03:11] yegor256 opened #371 "recommend --help: wrong data"
When I run `aibolit recommend --help` I see the output that 1) is formatted in a rather unusual way, and 2) contains wrong data:

[code]

There is no such thing as `--output` for example.

Try to run `wget --help` and see how the output is formatted. Try to use exactly the same style.

[2020-05-29 03:11] 0crat commented on #371
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-29 03:13] 0crat commented on #355
Job `gh:yegor256/aibolit#355` is not assigned, can't get performer

[2020-05-29 03:15] yegor256 opened #372 "--suppress"
Would be great to have an ability to suppress certain patterns:

[code]

These patterns will be ignored.

[2020-05-29 03:15] 0crat commented on #372
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-29 03:22] yegor256 opened #373 "--weight"
Let's make it possible to define the weight for certain patterns in the final calculation:

[code]

[2020-05-29 03:22] 0crat commented on #373
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-29 07:16] #364 closed

[2020-05-29 07:29] lyriccoder commented on #363
1) People complained about this `$(find . -name '*.java')`. They said that they won't search for files. They do not care how to search it. They need to just to set up a parameter. The easier usage is, the more people will use it. We shouldn't rely on `The user will do it using standard Linux instruments:`. Let's then make an input of some txt  file (instead of command line arguments) an then user

[2020-05-29 07:33] 0crat commented on #364
Job `gh:yegor256/aibolit#364` is not assigned, can't get performer

[2020-05-29 08:11] acheshkov commented on #365
@g4s8 could you provide a full listing of the function with this code? Var in the middle considered as a violation if the variable declared in the middle of the current visibility scope.

[2020-05-29 08:26] g4s8 commented on #365
@acheshkov updated: please check the question

[2020-05-29 09:19] 0crat commented on #368
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-05-29 09:21] lyriccoder commented on #369
what is wrong here? `!= null` is checking for null. We have discussed it, `Null check pattern` as it is

[2020-05-29 09:24] lyriccoder commented on #365
Got it, seems you do not consider a new scope as a lambda function. You need to check the place where you describe new scopes

[2020-05-29 10:13] lyriccoder commented on #370
how can we do it? first javalang can't know the type of the variable. What type is for  ?`foo.getClass()`. Moreover if you add `foo.getClass().getCanonicalName()`, it is more complicated to find out type  since you need to check the chain of objects.
Should we parse all jdk functions? Do u have a list of it? In my opinion, it's practically impossible. Or pls clarify what function names (getClass,

[2020-05-29 10:31] acheshkov commented on #363
@lyriccoder I think the CLI shuld expect list of parameters first and the list of files or folders should be always at the tail.

[code]

[2020-05-29 10:38] acheshkov opened #376 "Patterns dictionary. Change pattern's order"
Sort patterns in the PATTERN.md ascending by lexicographical order: P1, P2, ....

[2020-05-29 13:40] #368 closed

[2020-05-29 13:58] 0crat commented on #368
Job `gh:yegor256/aibolit#368` is not assigned, can't get performer

[2020-05-29 14:01] #356 closed

[2020-05-29 14:19] 0crat commented on #356
Job `gh:yegor256/aibolit#356` is not assigned, can't get performer

[2020-05-30 20:00] paulodamaso commented on #123
@acheshkov Ping please take a look at this

[2020-05-30 20:20] paulodamaso commented on #146
@acheshkov please close

[2020-05-31 19:07] paulodamaso commented on #286
@acheshkov Looks like this can't be achieved with current `c2nes/javalang` library. I couldn't discover from which class some `MethodInvocation` belongs. That's what `MethodInvocation` gets me:
[code]
I've filed an issue at javalang repo: https://github.com/c2nes/javalang/issues/79

[2020-06-01 08:46] lyriccoder commented on #363
We need to find a new framework for CLI, because

1) we can have ` recommend [--parameter=value]  [path_to_folder_or_file]`, only we set a list of parameters as value for EACH parameter.  It's because we can change the order of the parameters:
--format=xml --model=1.pkl filename1 filename2
--model=1.pkl --format=xml  filename1 filename2
In this case we need to parse manually and understand that th

[2020-06-01 09:43] lyriccoder commented on #306
now I see, yes, it's true. By some reason the bot which creates issues with #todo now is working

[2020-06-01 09:43] #306 closed

[2020-06-01 10:00] 0crat commented on #306
Job `gh:yegor256/aibolit#306` is not assigned, can't get performer

[2020-06-01 10:47] lyriccoder commented on #357
@paulodamaso could you please assign it to yourself? seems it's your pattern

[2020-06-01 14:21] 0crat commented on #360
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-06-01 14:21] 0crat commented on #376
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-06-01 14:54] paulodamaso commented on #357
@lyriccoder I don't think I have the permissions for that.

[2020-06-01 14:54] paulodamaso commented on #357
@acheshkov Could you please assign me?

[2020-06-01 15:02] #376 closed

[2020-06-01 15:19] 0crat commented on #376
Job `gh:yegor256/aibolit#376` is not assigned, can't get performer

[2020-06-01 16:24] #360 closed

[2020-06-01 16:47] 0crat commented on #360
Job `gh:yegor256/aibolit#360` is not assigned, can't get performer

[2020-06-02 10:30] 0crat commented on #372
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-06-02 10:45] lyriccoder commented on #372
as discussed with @yegor256, we will make suppressed pattern be equal to 0.
Since we do not care about some certain patterns, we must exclude it from the prediction. It can affect the importance of different patterns

[2020-06-02 11:33] lyriccoder commented on #142
Can we discuss this pattern? Seems it's absolutely wrong anti-pattern. If u use have compound names which start with the same first word then it is not bad.

My point is the following:

1) Method names are **ACTIONS**. We have an action and a subject. A subject is the only thing which can differ the meaning of the action (or "shorten" the context). E.g.,
you have the _calculate_ verb. If we name a

[2020-06-02 12:58] paulodamaso commented on #142
@lyriccoder I'll give my 5 cents on this:
Actually, method names doesn't always are related to actions anymore. When we start to use a more declarative approach these behaviors are composed through other objects. Take a look at:
[code]
In this case, the context is already shortened by the class which the method is called. Having lots of methods in the same class is a bad thing, and having a lot of

[2020-06-02 13:33] 0crat commented on #340
You @aravij[/z](https://www.0crat.com/u/aravij) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-06-02 14:58] #318 closed

[2020-06-02 15:15] 0crat commented on #318
Job `gh:yegor256/aibolit#318` is not assigned, can't get performer

[2020-06-03 06:41] 0crat commented on #365
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-03 07:28] 0crat commented on #365
You @aravij[/z](https://www.0crat.com/u/aravij) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-06-03 11:27] lyriccoder opened #383 "Add verions of aibolit, datetime to xml report"
[code]

[2020-06-03 11:28] 0crat commented on #383
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-03 11:37] lyriccoder opened #384 "add format=short"
need just to show the final score of the project

[2020-06-03 11:37] 0crat commented on #384
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-03 11:42] lyriccoder opened #385 "Add/fix explanation of total score to Readme.pd"
1) need to explain how 18.3 score differs from 2.8
2) need to add information about how to know that patterns should be fixed first

[2020-06-03 11:42] 0crat commented on #385
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-03 14:12] lyriccoder commented on #373
@yegor256, @acheshkov  and me thinks that we do not need to define the weight for certain patterns in the final calculation. In this case it's manual weights and we do not need ML here. It's brown magic.
@acheshkov could you please confirm?

[2020-06-03 15:14] #384 closed

[2020-06-03 15:32] 0crat commented on #384
Job `gh:yegor256/aibolit#384` is not assigned, can't get performer

[2020-06-04 07:56] #372 closed

[2020-06-04 08:14] 0crat commented on #372
Job `gh:yegor256/aibolit#372` is not assigned, can't get performer

[2020-06-04 12:44] 0crat commented on #383
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-06-04 13:00] lyriccoder opened #388 "Check for updates when aibolit is loaded"
just a warning if there is a newer version of aibolit

[2020-06-04 13:01] 0crat commented on #388
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-04 18:19] aravij opened #390 "AST class refactoring."
AST class needs to be splitted into two separate modules for file encoding detection and ast building.

[2020-06-04 18:19] 0crat commented on #390
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-04 18:20] 0crat commented on #390
You @aravij[/z](https://www.0crat.com/u/aravij) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-06-05 13:33] #383 closed

[2020-06-05 13:59] 0crat commented on #383
Job `gh:yegor256/aibolit#383` is not assigned, can't get performer

[2020-06-05 18:40] #390 closed

[2020-06-05 18:46] #340 closed

[2020-06-05 18:57] 0crat commented on #390
Job `gh:yegor256/aibolit#390` is not assigned, can't get performer

[2020-06-05 19:03] 0crat commented on #340
Job `gh:yegor256/aibolit#340` is not assigned, can't get performer

[2020-06-06 19:11] paulodamaso commented on #146
@yegor256 @acheshkov Already merged, please close

[2020-06-08 08:47] aravij commented on #365
@g4s8 Thanks for snippet, but can you add or link a minimal working example next time. Just to mention, I turned your snippet in the following test data and it will not produce P21 error.
[code]

[2020-06-08 08:49] 0crat commented on #388
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-06-08 13:56] Vitaly-Protasov opened #395 "Metric for counting number of methods and variables in class"

[2020-06-08 13:56] 0crat commented on #395
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-08 14:45] lyriccoder opened #397 "add ignore file for deepcode"

[2020-06-08 14:46] 0crat commented on #397
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-08 16:12] #365 closed

[2020-06-08 16:31] 0crat commented on #365
Job `gh:yegor256/aibolit#365` is not assigned, can't get performer

[2020-06-09 07:54] #388 closed

[2020-06-09 08:11] 0crat commented on #388
Job `gh:yegor256/aibolit#388` is not assigned, can't get performer

[2020-06-09 11:19] 0crat commented on #146
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) the issue is closed not by @yegor256[/z](https://www.0crat.com/u/yegor256) (its creator); I won't close the order; please, re-open it and ask @yegor256[/z](https://www.0crat.com/u/yegor256) to close it

[2020-06-09 12:37] lyriccoder commented on #366
seems we count ncss, not lines of code. But idea is good.

@acheshkov @aravij  Is it worth implementing it?

[2020-06-09 12:45] 0crat commented on #357
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-06-09 12:51] #397 closed

[2020-06-09 13:15] lyriccoder opened #399 "We need to include P31, P32 patterns"
Some time ago these patterns had issues. Seems are now fixed and we need to uncomment it

[2020-06-09 13:16] 0crat commented on #399
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-09 17:18] #399 closed

[2020-06-09 17:47] 0crat commented on #399
Job `gh:yegor256/aibolit#399` is not assigned, can't get performer

[2020-06-10 11:22] lyriccoder opened #401 "prepare config for new release"
Need to remove duplicates in config
Need to add new metrics implemented by @Vitaly-Protasov

[2020-06-10 11:22] 0crat commented on #401
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-10 16:21] aravij opened #404 "Create javalang package wrapper."
We a using javalang package from PyPi, to parse java files. This package lack documentation and has inconvenience interface to work with. We should wrap by some class, that we can be easily managed by our team and allowed evaluating different tree algorithms on it.

[2020-06-11 08:32] lyriccoder opened #406 "SendNull pattern has errors"
files.tar.gz - files with

errors
[files.tar.gz](https://github.com/yegor256/aibolit/files/4763540/files.tar.gz)

Errors:

'SuperMethodInvocation' object has no attribute '_position'
'SuperConstructorInvocation' object has no attribute '_position'
'ExplicitConstructorInvocation' object has no attribute '_position'

Full log is here:

[errors.txt](https://github.com/yegor256/aibolit/files/4763550/e

[2020-06-11 08:32] 0crat commented on #406
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-11 10:10] lyriccoder opened #407 "Make new release 1.1.0"

[2020-06-11 10:10] 0crat commented on #407
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-11 10:10] 0crat commented on #407
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-06-11 10:11] 0crat commented on #401
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-06-11 14:19] lyriccoder commented on #407
1) Complexity is predicted as a negative value. Should we use it?
2) if yes, then if we have 2 negative value -2 real CC, -10 after pattern change, then the diff is -2-(-10)=-8. Since we usually we do the following ( to understand whether it is increased or decreased): diff * -1, we will get +8, but actually complexity decreased
3) we have too small score (usually, it is not more than 0.2). That's

[2020-06-11 14:34] #401 closed

[2020-06-11 14:45] acheshkov commented on #407
@0crat out

[2020-06-11 14:46] acheshkov commented on #407
It's strange, as I sad

[2020-06-11 14:47] acheshkov commented on #407
how we calculate patterns' importance now?

[2020-06-11 15:04] 0crat commented on #401
Job `gh:yegor256/aibolit#401` is not assigned, can't get performer

[2020-06-12 16:13] paulodamaso commented on #146
@yegor256 could you please reopen and close this one? It is rotting in my agenda, and it is already done

[2020-06-12 16:14] paulodamaso commented on #286
@acheshkov Any advice on this one?

[2020-06-15 13:45] #373 closed

[2020-06-15 13:49] acheshkov commented on #373
@lyriccoder I confirm

[2020-06-15 14:04] 0crat commented on #373
Job `gh:yegor256/aibolit#373` is not assigned, can't get performer

[2020-06-16 10:34] #385 closed

[2020-06-16 10:49] #407 closed

[2020-06-16 10:55] 0crat commented on #385
Job `gh:yegor256/aibolit#385` is not assigned, can't get performer

[2020-06-16 11:06] 0crat commented on #407
Job `gh:yegor256/aibolit#407` is not assigned, can't get performer

[2020-06-16 12:49] #395 closed

[2020-06-16 13:07] 0crat commented on #395
Job `gh:yegor256/aibolit#395` is not assigned, can't get performer

[2020-06-16 13:11] lyriccoder opened #411 "Fix readme"
We have a bug in readme, nee to fix it. It will confuse people

[2020-06-16 13:12] 0crat commented on #411
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-16 13:42] #411 closed

[2020-06-16 13:59] 0crat commented on #411
Job `gh:yegor256/aibolit#411` is not assigned, can't get performer

[2020-06-16 14:19] #404 closed

[2020-06-16 14:43] 0crat commented on #404
Job `gh:yegor256/aibolit#404` is not assigned, can't get performer

[2020-06-16 17:36] paulodamaso commented on #123
@acheshkov ping

[2020-06-16 17:37] paulodamaso commented on #146
@yegor256 ping

[2020-06-16 18:57] paulodamaso commented on #357
@0crat wait for #403 merge

[2020-06-16 19:00] 0crat commented on #357
@paulodamaso Job `gh:yegor256/aibolit#357` is not assigned, can't get performer

[2020-06-17 07:10] lukyanoffpashok opened #413 "Modify instance_of"

[2020-06-17 07:10] 0crat commented on #413
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-17 07:11] 0crat commented on #413
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [0ea2a856-828e-44dc-8f98-5f104bc55e81](https://www.0crat.com/footprint/CT5UB7XAP/0ea2a856-828e-44dc-8f98-5f104bc55e81), Type: "Job milestoned"

[2020-06-17 08:17] 0crat commented on #406
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-06-17 08:35] aravij opened #414 "Create classes representing Java classes, methods and fields."
To operate on a source code we need to represent its parts as packages, classes, methods and fields by separate objects with its own functionality.

[2020-06-17 08:35] 0crat commented on #414
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-17 08:44] 0crat commented on #414
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @aravij[/z](https://www.0crat.com/u/aravij) are: `DEV`, `REV`

[2020-06-17 08:45] 0crat commented on #414
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [5faff3c0-8e5c-485b-9bcb-0aa21f7ed8ad](https://www.0crat.com/footprint/CT5UB7XAP/5faff3c0-8e5c-485b-9bcb-0aa21f7ed8ad), Type: "Job milestoned"

[2020-06-17 15:15] acheshkov opened #416 "Survey Description"
Maintainability Survey
---

Hi,

We are doing the research and want to find a group of respondents to participate in a survey.
We are going to pay for the time you spent. But before participating in the big survey we'd like to ask you to do the smaller version of the same survey to match your
profile with our expectations of respondents.

Survey details
---

In this survey, we ask you to rate `Mod

[2020-06-17 15:41] lyriccoder commented on #416
[maintenanability_survey.zip](https://github.com/yegor256/aibolit/files/4793646/maintenanability_survey.zip)

[2020-06-18 14:35] acheshkov opened #418 "Design methods & classes to calculate CFG"
I want to be able to obtain the simplified version of CFG for a class method

[2020-06-18 15:41] aravij opened #419 "Class methods and fields usage"
Create new methods to find out which fields and methods are used in any given class method.

[2020-06-18 15:41] 0crat commented on #419
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-18 15:42] 0crat commented on #419
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [4de353fd-c470-4bed-9f4b-dcf372bcaeaa](https://www.0crat.com/footprint/CT5UB7XAP/4de353fd-c470-4bed-9f4b-dcf372bcaeaa), Type: "Job milestoned"

[2020-06-18 15:42] 0crat commented on #419
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @aravij[/z](https://www.0crat.com/u/aravij) are: `DEV`, `REV`

[2020-06-19 07:26] lyriccoder opened #422 "Fix input (remove debug print)"

[2020-06-19 07:26] 0crat commented on #422
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-19 07:27] 0crat commented on #422
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-06-19 07:49] #422 closed

[2020-06-19 08:06] 0crat commented on #422
Job `gh:yegor256/aibolit#422` is not assigned, can't get performer

[2020-06-19 09:23] #414 closed

[2020-06-19 09:45] 0crat commented on #414
Job `gh:yegor256/aibolit#414` is not assigned, can't get performer

[2020-06-19 09:46] yegor256 opened #425 "Var in the middle (P21) false positive"
This is my Java code:

[code]

It points me to the second line and says that variable `builder` is "in the middle".

[2020-06-19 09:46] 0crat commented on #425
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-19 09:50] yegor256 commented on #363
@acheshkov @lyriccoder how about this:

[code]

It will get all files from `/code/takes` and will exclude what matches the provided [glob pattern](https://en.wikipedia.org/wiki/Glob_%28programming%29).

[2020-06-19 10:43] aravij commented on #425
@yegor256 Can you please provide minimal working example? Currently you code can't be parsed. I have put it in a class. Now it pass parsing, but I don't get error for `builder` variable. Only for `body` inside `for` cycle.

[2020-06-19 12:00] yegor256 commented on #425
@aravij try this class: https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/rq/multipart/RqMtFake.java

[2020-06-19 12:41] aravij commented on #425
The problem was in annotation with params. It is now fixed. If you have some other positive false examples, it might be better to submit it here and fix in the same PR.

[2020-06-19 13:09] yegor256 commented on #425
@yegor256 I will make other tickets, if I find something else. Let's release this one.

[2020-06-19 14:05] #425 closed

[2020-06-19 14:22] 0crat commented on #425
Job `gh:yegor256/aibolit#425` is not assigned, can't get performer

[2020-06-19 14:59] #363 closed

[2020-06-19 15:16] 0crat commented on #363
Job `gh:yegor256/aibolit#363` is not assigned, can't get performer

[2020-06-19 17:57] #419 closed

[2020-06-19 18:14] 0crat commented on #419
Job `gh:yegor256/aibolit#419` is not assigned, can't get performer

[2020-06-19 19:00] yegor256 opened #429 "summary line is not informative enough"
Currently I see this:

[code]

How about this instead:

[code]

(no need to show the entire score down to every digit, just two digits after the dot is enough)

[2020-06-19 19:00] 0crat commented on #429
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-20 10:41] acheshkov opened #430 "Why we check here only the value of the first snippet?"
https://github.com/yegor256/aibolit/blob/6c139802a3e914c825cc14039a8309095faa712b/aibolit/model/model.py#L218

[2020-06-20 10:45] 0crat commented on #430
The job [#430](https://github.com/yegor256/aibolit/issues/430) assigned to @lyriccoder[/z](https://www.0crat.com/u/lyriccoder), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/7aeb2910-5645-4402-9fc1-c29e64defe1b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-06-20 10:45] 0crat commented on #430
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-20 11:58] acheshkov opened #431 "CFG of class' method"

[2020-06-20 11:59] 0crat commented on #431
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [81bd7810-3b19-4043-822c-70acf14b18b6](https://www.0crat.com/footprint/CT5UB7XAP/81bd7810-3b19-4043-822c-70acf14b18b6), Type: "Job milestoned"

[2020-06-20 11:59] 0crat commented on #431
The job [#431](https://github.com/yegor256/aibolit/issues/431) assigned to @acheshkov[/z](https://www.0crat.com/u/acheshkov), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/b5fe1d31-6703-44ae-9f17-301710b2db2e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-06-20 12:02] acheshkov opened #432 "List of variables and read/write statements"
Having source code presented as CFG we need to obtain three lists:

1. List of all variables used in the code
2. List of pairs (Node of CFG,  variable) reading variable
3. List of pairs (Node of CFG,  variable) writing variable

[2020-06-20 12:03] 0crat commented on #432
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [5aedd54d-beff-4ef2-90fc-ee2204c2e415](https://www.0crat.com/footprint/CT5UB7XAP/5aedd54d-beff-4ef2-90fc-ee2204c2e415), Type: "Job milestoned"

[2020-06-20 12:04] acheshkov opened #433 "Make dependency graph"
Having CFG, list of variables, and information who writes and reads the variables we need to build the graph.

[2020-06-20 12:05] 0crat commented on #433
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [7cfd9464-ae2b-4b59-a236-4372953ff86c](https://www.0crat.com/footprint/CT5UB7XAP/7cfd9464-ae2b-4b59-a236-4372953ff86c), Type: "Job milestoned"

[2020-06-20 12:05] acheshkov opened #434 "New dataset"
The new dataset will consider Java class as a set of its components (in terms of LCOM4)

[2020-06-20 12:06] 0crat commented on #434
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [4b6a71b2-d58c-4d80-9f4b-2f01c9c4bea9](https://www.0crat.com/footprint/CT5UB7XAP/4b6a71b2-d58c-4d80-9f4b-2f01c9c4bea9), Type: "Job milestoned"

[2020-06-20 12:07] acheshkov opened #435 "Implement metrics: Fan-out"

[2020-06-20 12:07] 0crat commented on #435
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [a0e49230-7910-4867-bd40-2207565eba02](https://www.0crat.com/footprint/CT5UB7XAP/a0e49230-7910-4867-bd40-2207565eba02), Type: "Job milestoned"

[2020-06-20 12:07] acheshkov opened #436 "Implement metric: Response For Class (RFC)"
https://www.oreilly.com/library/view/sonar-code-quality/9781849517867/ch09s04.html#:~:text=your%20free%20trial-,The%20Response%20for%20Class%20metric,directly%20within%20the%20class%20methods.

[2020-06-20 12:08] 0crat commented on #436
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [d2109876-5d3a-4100-948a-3ed683f8f554](https://www.0crat.com/footprint/CT5UB7XAP/d2109876-5d3a-4100-948a-3ed683f8f554), Type: "Job milestoned"

[2020-06-20 12:08] acheshkov opened #437 "Implement metric: LCOM5"

[2020-06-20 12:09] 0crat commented on #437
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [0c9b0d95-72bb-4ae9-b016-18b1d14f198b](https://www.0crat.com/footprint/CT5UB7XAP/0c9b0d95-72bb-4ae9-b016-18b1d14f198b), Type: "Job milestoned"

[2020-06-20 12:10] acheshkov opened #438 "Multi-target recommendations"
Design and implement a method to combine recommendations from multiple targets

[2020-06-20 12:10] 0crat commented on #438
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [5dd9882a-f080-4209-a49a-a88a03f8b10c](https://www.0crat.com/footprint/CT5UB7XAP/5dd9882a-f080-4209-a49a-a88a03f8b10c), Type: "Job milestoned"

[2020-06-20 16:09] 0crat commented on #429
The job [#429](https://github.com/yegor256/aibolit/issues/429) assigned to @lyriccoder[/z](https://www.0crat.com/u/lyriccoder), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/a7c54bf5-64a3-4d0d-878a-71cc45b5ac06); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-06-22 08:44] aravij opened #439 "Get used fields of method."
Functionality to get all used class fields ASTs for given method.

[2020-06-22 08:45] 0crat commented on #439
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-22 08:46] 0crat commented on #439
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [0e88a6d7-eb32-49ce-b64e-d775af4fbb7e](https://www.0crat.com/footprint/CT5UB7XAP/0e88a6d7-eb32-49ce-b64e-d775af4fbb7e), Type: "Job milestoned"

[2020-06-22 08:47] 0crat commented on #439
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @aravij[/z](https://www.0crat.com/u/aravij) are: `DEV`, `REV`

[2020-06-22 09:04] lyriccoder commented on #429
is it ok to show NCSS instead of LOC? LOC is not so informative. You can have a full class with imports and spaces.
What do u think @yegor256?

[2020-06-22 13:44] angusev opened #440 "Fix TwoFoldRankingModel (quantity func)"
1. Recommendation method must not take into account quantity function (logarithm default)
https://github.com/yegor256/aibolit/blob/6c139802a3e914c825cc14039a8309095faa712b/aibolit/model/model.py#L150

2. Rewrite `informative` method [2] to make clear that it takes only one snippet as input

https://github.com/yegor256/aibolit/blob/6c139802a3e914c825cc14039a8309095faa712b/aibolit/model/model.py#L19

[2020-06-22 13:44] 0crat commented on #440
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-22 15:29] #357 closed

[2020-06-22 15:29] #146 closed

[2020-06-22 15:29] 0crat commented on #146
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-22 15:30] #123 closed

[2020-06-22 15:41] #284 closed

[2020-06-22 15:41] 0pdd commented on #284
The puzzle `141-6e9388cb` has disappeared from the source code, that's why I closed this issue.

[2020-06-22 15:42] 0pdd commented on #141
@yegor256 the only puzzle [#284](https://github.com/yegor256/aibolit/issues/284) is solved here.

[2020-06-22 15:48] 0crat commented on #357
Job `gh:yegor256/aibolit#357` is not assigned, can't get performer

[2020-06-22 20:49] acheshkov commented on #357
@0crat out

[2020-06-22 20:50] 0crat commented on #357
@acheshkov Job `gh:yegor256/aibolit#357` is not assigned, can't get performer

[2020-06-23 10:09] #440 closed

[2020-06-23 10:27] 0crat commented on #440
Job `gh:yegor256/aibolit#440` is not assigned, can't get performer

[2020-06-23 10:47] lyriccoder opened #443 "new release 1.1.2"
Release 1.1.2 with fixed model and retrained pattern 'var in the middle'

[2020-06-23 10:47] 0crat commented on #443
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-23 10:52] 0crat commented on #443
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-06-23 13:27] angusev opened #445 "Improve code quality"
1. I think renaming (X -> snippet, X_old -> patterns_orig) will sufficiently enhance readability.
https://github.com/yegor256/aibolit/blob/5bc30f6e158c42652b7e2eca4f6e01c9e6bc2270/aibolit/model/model.py#L171

2. Make `sigmoid` method a `staticmethod`.
https://github.com/yegor256/aibolit/blob/5bc30f6e158c42652b7e2eca4f6e01c9e6bc2270/aibolit/model/model.py#L102

[2020-06-23 13:27] 0crat commented on #445
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-23 14:20] #443 closed

[2020-06-23 14:53] 0crat commented on #443
Job `gh:yegor256/aibolit#443` is not assigned, can't get performer

[2020-06-24 09:17] lukyanoffpashok opened #446 "Modify_string_concat"

[2020-06-24 09:17] 0crat commented on #446
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-24 09:17] 0crat commented on #446
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [648b9f66-95b2-48f7-aa18-86a15582fc1b](https://www.0crat.com/footprint/CT5UB7XAP/648b9f66-95b2-48f7-aa18-86a15582fc1b), Type: "Job milestoned"

[2020-06-25 06:46] lyriccoder commented on #445
fixed in https://github.com/yegor256/aibolit/pull/444

[2020-06-25 06:46] #445 closed

[2020-06-25 06:47] lyriccoder commented on #430
fixed in https://github.com/yegor256/aibolit/pull/444

[2020-06-25 06:47] #430 closed

[2020-06-25 07:04] 0crat commented on #445
Job `gh:yegor256/aibolit#445` is not assigned, can't get performer

[2020-06-25 07:04] 0crat commented on #430
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) the issue is closed not by @acheshkov[/z](https://www.0crat.com/u/acheshkov) (its creator); I won't close the order; please, re-open it and ask @acheshkov[/z](https://www.0crat.com/u/acheshkov) to close it

[2020-06-25 08:30] #446 closed

[2020-06-25 08:31] lukyanoffpashok opened #447 "Modify multiple_while"

[2020-06-25 08:32] 0crat commented on #447
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [4d0475d9-6181-449d-ba74-059aef7e2a2f](https://www.0crat.com/footprint/CT5UB7XAP/4d0475d9-6181-449d-ba74-059aef7e2a2f), Type: "Job milestoned"

[2020-06-25 08:49] 0crat commented on #446
Job `gh:yegor256/aibolit#446` is not assigned, can't get performer

[2020-06-25 14:39] Vitaly-Protasov opened #450 "Add Fan Out metric"
https://checkstyle.sourceforge.io/config_metrics.html#ClassFanOutComplexity

http://www.virtualmachinery.com/jhawkmetricsclass.htm

[2020-06-25 14:39] 0crat commented on #450
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-25 14:48] lyriccoder commented on #429
`format=xml` will contain such the tags:

[code]

`format=compact` will contain the following lines:

`Total score: 18.87, files seen: 3, patterns found: 15, ncss: 632`

format=long won't contain the info about patterns number since there are grouped by lines code, not by patterns:
`
Total score: 18.87, files seen: 3, ncss 632`

[2020-06-25 14:53] 0crat commented on #450
You @vitaly-protasov[/z](https://www.0crat.com/u/vitaly-protasov) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-06-26 08:43] g4s8 opened #454 "Github action to review pull requests"
It would be great to provide Aibolit GitHub action to comment on submitted pull requests with warning messages. For example Codecov has similar tool: https://github.com/marketplace/actions/codecov - user enables this Codecov action in GitHub repo, and on each pull request this action performs some kind of review with comments about changed test coverages, like here: https://github.com/artipie/asto

[2020-06-26 08:43] 0crat commented on #454
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-26 09:48] g4s8 opened #455 ""Exception: Unknown format" for valid Java code"
I run the command:
[code]
Against https://github.com/artipie/maven-adapter/ project, but Aibolit fails with error:
[code]

Version is `aibolit 1.1.2`

To reproduce you can use this commit: https://github.com/artipie/maven-adapter/commit/2135c25f7a4e17dae7f976a3c845047aba8424c3

[code]

[2020-06-26 09:48] 0crat commented on #455
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-26 10:26] #429 closed

[2020-06-26 10:47] 0crat commented on #429
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @yegor256[/z](https://www.0crat.com/u/yegor256) (its creator); I won't close the order; please, re-open it and ask @yegor256[/z](https://www.0crat.com/u/yegor256) to close it

[2020-06-26 12:11] 0pdd commented on #281
The puzzle `142-80952438` has disappeared from the source code, that's why I closed this issue.

[2020-06-26 12:11] #281 closed

[2020-06-26 12:11] 0pdd commented on #142
@yegor256 the only puzzle [#281](https://github.com/yegor256/aibolit/issues/281) is solved here.

[2020-06-26 16:12] #439 closed

[2020-06-26 16:29] 0crat commented on #439
Job `gh:yegor256/aibolit#439` is not assigned, can't get performer

[2020-06-28 16:27] #437 closed

[2020-06-28 16:35] acheshkov opened #458 "Analyse 20 `top` java OSS projects and 20 `random` with Aibolit"
Measure Aibolit Score for each project in the table.

I want to see the table:

| project | stars | aibolit score |
|--------|------|--------------|
| | | |

Then I want to measure the Average aibolit score amount two groups `top` and `random`.

[2020-06-28 16:38] acheshkov commented on #435
the same as #451

[2020-06-28 16:53] acheshkov opened #459 "Aibolit API to get patterns and metrics statistics table"
I want to be able to get a table as we have across our patterns using as simple as the following pseudo-code bellow

[code]

[2020-06-28 17:08] 0crat commented on #437
Job `gh:yegor256/aibolit#437` is not assigned, can't get performer

[2020-06-28 17:09] 0crat commented on #458
The job [#458](https://github.com/yegor256/aibolit/issues/458) assigned to @lyriccoder[/z](https://www.0crat.com/u/lyriccoder), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/9905e47b-1cc9-404c-afd3-063e48312625); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-06-28 17:09] 0crat commented on #459
The job [#459](https://github.com/yegor256/aibolit/issues/459) assigned to @lyriccoder[/z](https://www.0crat.com/u/lyriccoder), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/136e3a4b-621a-4290-a97b-9bb633e831bc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-06-29 06:37] lyriccoder commented on #455
`--format=text`  - there is no such a format

format=compact
format=long
format=xml

[2020-06-29 06:45] lyriccoder commented on #455
No issue here, close

[2020-06-29 06:45] #455 closed

[2020-06-29 07:01] #447 closed

[2020-06-29 07:01] #413 closed

[2020-06-29 07:02] 0crat commented on #455
Job `gh:yegor256/aibolit#455` is not assigned, can't get performer

[2020-06-29 07:18] 0crat commented on #447
Job `gh:yegor256/aibolit#447` is not assigned, can't get performer

[2020-06-29 07:18] 0crat commented on #413
Job `gh:yegor256/aibolit#413` is not assigned, can't get performer

[2020-06-29 12:21] lyriccoder opened #461 "If we have ncss = 0, we should ignore file"
[code]

[2020-06-29 12:21] 0crat commented on #461
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-29 12:22] 0crat commented on #461
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-06-29 12:56] g4s8 opened #462 "SuppressWarnings annotation support"
JDK has source annotation to suppress any warnings: `@SupressWarnings`: https://docs.oracle.com/javase/8/docs/api/java/lang/SuppressWarnings.html Many linters (like javac or PMD) suppores this annotation to ignore warning, e.g.
[code]
In java code will suppress public static method PMD warning. It's the standard way to ignore warnings for Java linters and checkers.

I'd suggest supporting this ann

[2020-06-29 12:56] 0crat commented on #462
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-29 13:44] g4s8 opened #463 "Require minimum score"
Aibolit would be more useful if project can control the minimum score to include CLI into build pipeline. I'd suggest adding additional configuration parameter to require minimum score instead of zero to fail the build, e.g. `aibolit --min-score=5` exits with ok=0 if score <= 5, and fail (exit status 1) if > 5.

[2020-06-29 13:58] lyriccoder commented on #461
[RedissonAutoConfiguration.zip](https://github.com/yegor256/aibolit/files/4845937/RedissonAutoConfiguration.zip)

[2020-06-29 14:44] 0crat commented on #463
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-30 06:18] aravij opened #466 "Split class by usage components."
Split class by several AST by pruning methods and fields. Kept fields and methods must use only themselves.

[2020-06-30 06:19] 0crat commented on #466
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-30 06:19] 0crat commented on #466
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [0435f36c-6353-4cc4-9831-18af6e61b38d](https://www.0crat.com/footprint/CT5UB7XAP/0435f36c-6353-4cc4-9831-18af6e61b38d), Type: "Job milestoned"

[2020-06-30 06:20] aravij opened #467 "Regression testing."
Despite of unit tests, we need ability to test all patterns against large number of source codes and fix their behavior.

[2020-06-30 06:20] 0crat commented on #467
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-30 06:20] 0crat commented on #467
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [9ee95629-c17e-4fba-9a85-140bf3f98d9f](https://www.0crat.com/footprint/CT5UB7XAP/9ee95629-c17e-4fba-9a85-140bf3f98d9f), Type: "Job milestoned"

[2020-06-30 06:23] aravij opened #468 "Change API for work with class components"
Now patterns output error line numbers for a file, but we need to make them output error line numbers for all class components. Code, handling patterns need to be properly changed.

[2020-06-30 06:23] 0crat commented on #468
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-30 06:24] 0crat commented on #468
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [d83529bb-7670-42fd-89d4-9df27e9757af](https://www.0crat.com/footprint/CT5UB7XAP/d83529bb-7670-42fd-89d4-9df27e9757af), Type: "Job milestoned"

[2020-06-30 06:24] aravij opened #469 "AST API refactoring."
Refactoring plan:

- [x]  Move all ast relative modules to separate package
- [x] Add all `javalang` fields to `netwrokx` graph as attributes; remove auxiliary methods from `AST` class; simplify refactored patterns
- [x] Add proxy object for ast nodes, to hide out `networkx` API, and provide more convenient API, more close to `javalang`

[2020-06-30 06:24] 0crat commented on #469
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-06-30 06:26] 0crat commented on #469
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [1a06d7d2-1fa1-479f-a9bd-5140056646c9](https://www.0crat.com/footprint/CT5UB7XAP/1a06d7d2-1fa1-479f-a9bd-5140056646c9), Type: "Job milestoned"

[2020-06-30 06:26] 0crat commented on #467
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @aravij[/z](https://www.0crat.com/u/aravij) are: `DEV`, `REV`

[2020-06-30 06:26] 0crat commented on #466
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @aravij[/z](https://www.0crat.com/u/aravij) are: `DEV`, `REV`

[2020-06-30 08:07] #461 closed

[2020-06-30 08:25] 0crat commented on #461
Job `gh:yegor256/aibolit#461` is not assigned, can't get performer

[2020-06-30 10:20] lyriccoder opened #470 "# deepcode ignore ExpectsIntDislikesStr: False positive"
This bug occurred since the list of results was empty when JavaParser failed

[2020-06-30 10:20] 0crat commented on #470
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-07-01 07:51] #470 closed

[2020-07-01 08:08] 0crat commented on #470
Job `gh:yegor256/aibolit#470` is not assigned, can't get performer

[2020-07-01 12:26] yegor256 commented on #462
@acheshkov @g4s8 definitely a feature we need!

[2020-07-02 07:09] lyriccoder commented on #458
is it done? Can we merge PR?

[2020-07-03 06:34] #436 closed

[2020-07-03 06:50] 0crat commented on #436
Job `gh:yegor256/aibolit#436` is not assigned, can't get performer

[2020-07-03 07:52] lyriccoder opened #476 "Filter Java files with nested classes"

[2020-07-03 07:52] 0crat commented on #476
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-07-03 07:57] 0crat commented on #476
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-07-03 09:17] #466 closed

[2020-07-03 09:34] 0crat commented on #466
Job `gh:yegor256/aibolit#466` is not assigned, can't get performer

[2020-07-03 10:24] #476 closed

[2020-07-03 10:48] 0crat commented on #476
Job `gh:yegor256/aibolit#476` is not assigned, can't get performer

[2020-07-03 15:03] #458 closed

[2020-07-03 15:20] 0crat commented on #458
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) the issue is closed not by @acheshkov[/z](https://www.0crat.com/u/acheshkov) (its creator); I won't close the order; please, re-open it and ask @acheshkov[/z](https://www.0crat.com/u/acheshkov) to close it

[2020-07-06 11:08] 0crat commented on #469
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-06 11:13] lyriccoder opened #480 "Fix filter function to allow split dataset by filenames"
We need to set test part and train par for dataset before model is loaded.
We will split the dataset when we have only filenames.

It's a part of https://github.com/cqfn/aibolit/issues/459

[2020-07-06 11:13] 0crat commented on #480
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) I'm not managing this repo, remove the [webhook](https://github.com/cqfn/aibolit/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](http

[2020-07-06 11:13] 0crat commented on #480
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-06 14:36] #480 closed

[2020-07-06 14:36] 0crat commented on #480
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): Issue: cqfn/aibolit#480, Action: `closed`

[2020-07-06 14:36] 0pdd opened #485 "non_final_argument.py:14-17: Implement NonFinalArgument..."
The puzzle `146-4f2084fc` from #146 has to be resolved:

https://github.com/cqfn/aibolit/blob/42a4ae6175d17c894e758d58215db5186397d36b/aibolit/patterns/non_final_argument/non_final_argument.py#L14-L17

The puzzle was created by Evgeny Maslov on 06-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-07-06 14:36] 0pdd opened #486 "bidirect_index.py:12-17: Implement bidirect index pattern..."
The puzzle `139-732b1bcc` from #139 has to be resolved:

https://github.com/cqfn/aibolit/blob/42a4ae6175d17c894e758d58215db5186397d36b/aibolit/patterns/bidirect_index/bidirect_index.py#L12-L17

The puzzle was created by Evgeny Maslov on 06-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2020-07-06 14:36] 0crat commented on #485
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/cqfn/aibolit/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](https://www.0cra

[2020-07-06 14:37] 0pdd opened #487 "mutable_index.py:13-16: Implement MutableIndex pattern We..."
The puzzle `147-d9d6862a` from #147 has to be resolved:

https://github.com/cqfn/aibolit/blob/42a4ae6175d17c894e758d58215db5186397d36b/aibolit/patterns/mutable_index/mutable_index.py#L13-L16

The puzzle was created by Evgeny Maslov on 06-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2020-07-06 14:37] 0crat commented on #486
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/cqfn/aibolit/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](https://www.0cra

[2020-07-06 14:37] 0pdd opened #488 "local_methods_calls.py:27-31: Implement local method..."
The puzzle `183-069e5295` from #183 has to be resolved:

https://github.com/cqfn/aibolit/blob/42a4ae6175d17c894e758d58215db5186397d36b/aibolit/metrics/local_methods_calls/local_methods_calls.py#L27-L31

The puzzle was created by Evgeny Maslov on 06-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2020-07-06 14:37] 0crat commented on #487
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/cqfn/aibolit/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](https://www.0cra

[2020-07-06 14:37] 0pdd opened #489 "external_methods_called.py:27-31: Implement external..."
The puzzle `183-9b03d7d9` from #183 has to be resolved:

https://github.com/cqfn/aibolit/blob/42a4ae6175d17c894e758d58215db5186397d36b/aibolit/metrics/external_methods_called/external_methods_called.py#L27-L31

The puzzle was created by Evgeny Maslov on 06-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"d

[2020-07-06 14:37] 0pdd commented on #146
@yegor256 the puzzle [#485](https://github.com/cqfn/aibolit/issues/485) is still not solved.

[2020-07-06 14:37] 0pdd commented on #139
@yegor256 the puzzle [#486](https://github.com/cqfn/aibolit/issues/486) is still not solved.

[2020-07-06 14:37] 0pdd commented on #147
@yegor256 the puzzle [#487](https://github.com/cqfn/aibolit/issues/487) is still not solved.

[2020-07-06 14:37] 0pdd commented on #183
@lukyanoffpashok 2 puzzles [#488](https://github.com/cqfn/aibolit/issues/488), [#489](https://github.com/cqfn/aibolit/issues/489) are still not solved.

[2020-07-06 14:37] 0crat commented on #488
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/cqfn/aibolit/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](https://www.0cra

[2020-07-06 14:37] 0crat commented on #183
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-06 14:38] 0crat commented on #183
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-06 14:38] 0pdd commented on #488
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-07-06 14:38] 0pdd commented on #487
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-07-06 14:38] 0pdd commented on #486
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-07-06 14:38] 0pdd commented on #485
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-07-06 14:38] 0crat commented on #147
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-06 14:38] 0crat commented on #147
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-06 14:38] 0crat commented on #147
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-06 14:38] 0crat commented on #147
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-06 14:38] 0crat commented on #147
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-06 14:38] 0crat commented on #147
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-06 14:38] 0crat commented on #139
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-06 14:38] 0crat commented on #139
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-06 14:38] 0crat commented on #146
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-06 14:38] 0crat commented on #146
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-06 14:39] 0crat commented on #489
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/cqfn/aibolit/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](https://www.0cra

[2020-07-06 15:30] lukyanoffpashok commented on #467
[report_patterns.pdf](https://github.com/cqfn/aibolit/files/4879861/report_patterns.pdf)

[2020-07-06 15:33] lukyanoffpashok commented on #467
In case of 2 snippets there were nan in implementing with refactoring

[2020-07-06 15:38] #416 closed

[2020-07-06 15:38] 0crat commented on #416
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-06 15:41] lukyanoffpashok commented on #467
In other patterns (exclude "Return null", "Multiple While", metric "ncss") there were mistakes (< 6 %)

[2020-07-06 15:42] acheshkov opened #491 "Decrease connection timeout"
If there are no internet Aibolit stuck several minutes before return the version

[code]
1. Decrease connection timeout
2. And improve output. It is confusing.

[2020-07-06 15:42] 0crat commented on #491
@acheshkov[/z](https://www.0crat.com/u/acheshkov) I'm not managing this repo, remove the [webhook](https://github.com/cqfn/aibolit/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](https:

[2020-07-06 15:42] 0crat commented on #491
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-06 21:53] aravij commented on #467
Great! I would also consider patterns with near 5% a case for research. So now we have following tasks:
 - [ ] Find out reason for getting `NaN` on those two snippets
 - [ ] Research "Multiple While" pattern for significant changes
 - [ ] If we have time, take a look for "Joined validation" and "ForceTypeCastingFinder" patterns.
I think I can take care of it.

[2020-07-07 09:31] lyriccoder commented on #491
And improve output. It is confusing?
What is it necessary to improve? It is not clear. Could you please  explain or provide a solution/example?

[2020-07-07 09:47] 0crat commented on #462
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-07 14:50] lyriccoder opened #495 "Function to find start and end lines for a node"
need to write Function to find start and end lines for a node
part of #462

[2020-07-07 14:50] 0crat commented on #495
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) I'm not managing this repo, remove the [webhook](https://github.com/cqfn/aibolit/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](http

[2020-07-07 14:52] 0crat commented on #495
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-07 16:39] yegor256 opened #497 "aibolit/test/integration Java files need disclaimer headers"
Let's add a disclaimer to all Java files used in tests:

[code]

[2020-07-07 16:39] 0crat commented on #497
@yegor256[/z](https://www.0crat.com/u/yegor256) I'm not managing this repo, remove the [webhook](https://github.com/cqfn/aibolit/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](https://

[2020-07-08 10:01] #495 closed

[2020-07-08 10:01] 0crat commented on #495
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): Issue: cqfn/aibolit#495, Action: `closed`

[2020-07-08 10:06] lyriccoder opened #500 "Create function for finding annotations"
1) Create test which will show how to use `@SuppressWarnings` to ignore patterns
2) Create function for finding annotations for FieldDeclaration, MethodDeclaration, ClassDeclaration which is supported at the moment

[2020-07-08 10:06] 0crat commented on #500
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) I'm not managing this repo, remove the [webhook](https://github.com/cqfn/aibolit/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](http

[2020-07-08 14:34] #500 closed

[2020-07-08 14:58] lyriccoder opened #502 "Create function to filter ignored lines"
Create function to filter ignored lines
It's a part of #462

[2020-07-08 15:02] 0crat commented on #502
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) I'm not managing this repo, remove the [webhook](https://github.com/cqfn/aibolit/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](http

[2020-07-08 15:35] 0crat commented on #500
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-09 07:45] #497 closed

[2020-07-09 08:40] #502 closed

[2020-07-09 10:41] 0crat commented on #502
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-09 10:48] 0crat commented on #497
I'm not managing `cqfn/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-09 11:47] #462 closed

[2020-07-09 11:49] 0crat commented on #462
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): Issue: cqfn/aibolit#462, Action: `closed`

[2020-07-10 14:22] paulodamaso commented on #286
@acheshkov ping

[2020-07-10 17:51] acheshkov commented on #286
@paulodamaso, to figure it out you have to work with AST directly.

@aravij could you get piece of advice, ho to implement that using a new AST API?

[2020-07-13 07:25] 0crat commented on #286
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): Issue: cqfn/aibolit#286, Comment: 627867797

[2020-07-13 07:26] 0crat commented on #286
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): Issue: cqfn/aibolit#286, Comment: 635085794

[2020-07-13 07:26] 0crat commented on #286
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): Issue: cqfn/aibolit#286, Action: `created`

[2020-07-13 10:42] Vitaly-Protasov commented on #286
According to your issue in javalang repo, I think our previous implemented metric "FanOut" can help you.

[code]

Also, my advice is not to use javalang anymore. We currently use new interface AST

[2020-07-13 11:42] #491 closed

[2020-07-13 13:43] yegor256 opened #507 "--exclude doesn't work: crashes with exception"
[code]

[2020-07-13 15:26] Vitaly-Protasov opened #508 "Refactor empty_rethrow"
refactor P3

[2020-07-13 16:02] Vitaly-Protasov opened #510 "Refactor er_class"
refactor P4

[2020-07-13 16:11] lyriccoder commented on #507
It is written:
Exception: Usage: --exclude=<glob pattern> --exclude=<glob pattern> ... --exclude=folder_to_find_exceptions

The first parameter is glob pattern, the second one is folder to find exceptions.

No issue here

[2020-07-13 16:14] yegor256 commented on #507
@lyriccoder I don't understand at all. `--exclude` is supposed to specify glob pattern to exclude files from the `--folder`. I'm specifying the folder and then a list of "excludes":

[code]

This is how "exclude" works in all tools I know :)

[2020-07-13 16:15] yegor256 commented on #507
@lyriccoder it seems you are mixing `--exclude` with `--ignore`, don't you?)

[2020-07-13 16:16] lyriccoder commented on #507
We discussed such the behaviour by phone, we have even such the description in the docs

[2020-07-13 16:38] yegor256 commented on #507
@lyriccoder yes, `--folder` is where my files are, but `--exclude` is the glob pattern to apply to the search, in order to exclude some files from my folder.

[2020-07-13 16:42] yegor256 opened #512 "bottom-line stats are wrong"
[code]

The last line is wrong. Many more files have been "seen" and the total NCSS is larger than 56.

[2020-07-13 17:44] yegor256 opened #513 "I can't install it on Travis"
See: https://travis-ci.org/github/yegor256/xembly/builds/707721160

Any ideas?

[2020-07-14 07:26] yegor256 opened #514 "P13 suppression doesn't work"
This is the build: https://travis-ci.org/github/yegor256/xembly/builds/707883888 You can see that the bug is in `UpDirective`. However, there is a suppression: https://github.com/yegor256/xembly/blob/master/src/main/java/org/xembly/UpDirective.java#L53

Looks like the suppression doesn't work?

[2020-07-14 07:26] lyriccoder commented on #512
Everything is correct: we see 3 files
/Volumes/ssd2/code/xembly/src/main/java/org/xembly/AddIfDirective.java
/Volumes/ssd2/code/xembly/src/main/java/org/xembly/UpDirective.java
/Volumes/ssd2/code/xembly/src/main/java/org/xembly/Directives.java

ncss is also correct here

[2020-07-14 07:32] lyriccoder commented on #507
https://github.com/cqfn/aibolit/issues/363
You described it here, you forgot it already

[2020-07-14 10:19] lyriccoder commented on #157
Not relevant anymore, we have a different API already

[2020-07-14 10:19] #157 closed

[2020-07-14 10:21] lyriccoder commented on #202
Nobody cares, I will close it

[2020-07-14 10:21] #202 closed

[2020-07-14 10:22] yegor256 commented on #255
@paulodamaso it's fixed, thanks

[2020-07-14 10:22] #255 closed

[2020-07-14 10:22] 0crat commented on #202
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): Issue: cqfn/aibolit#202, Comment: 612089615

[2020-07-14 10:22] 0crat commented on #255
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): Issue: cqfn/aibolit#255, Action: `created`

[2020-07-14 10:22] #303 closed

[2020-07-14 10:22] #304 closed

[2020-07-14 10:22] #305 closed

[2020-07-14 10:23] #302 closed

[2020-07-14 10:27] lyriccoder commented on #371
Already fixed in https://github.com/cqfn/aibolit/pull/423

[2020-07-14 10:27] #371 closed

[2020-07-14 10:32] #450 closed

[2020-07-14 10:32] #435 closed

[2020-07-14 11:10] #154 closed

[2020-07-14 11:10] #149 closed

[2020-07-14 11:11] 0crat commented on #149
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): Issue: cqfn/aibolit#149, Comment: 612461737

[2020-07-15 09:52] aravij commented on #469
Currently polishing the work.

[2020-07-15 09:55] aravij opened #520 "Show progress for intergration test."
Integration tests get slower and Travis kill its for not responding for 10 minutes. Printing progress should solve this problem.
Tasks:
 - [x] Print and update a single line progress, showing quantity of files processed out of total number of files
 - [x] Make exception messages more informative by adding information about exception it caused

[2020-07-15 12:18] acheshkov opened #521 "Release 1.2.3"

[2020-07-15 12:19] acheshkov commented on #521
@rultor release, tag=`1.1.3`

[2020-07-15 12:21] rultor commented on #521
@acheshkov OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22607-658734479)

[2020-07-15 12:38] rultor commented on #521
@acheshkov Done! FYI, the full log is [here](https://www.rultor.com/t/22607-658734479) (took me 17min)

[2020-07-15 17:26] yegor256 commented on #514
@lyriccoder fixed?

[2020-07-16 09:20] lyriccoder commented on #514
@yegor256, yes, it is fixed.

[2020-07-16 09:20] #514 closed

[2020-07-16 09:40] lyriccoder commented on #463
This is another way to get rid of such behaviour. Now we can just ignore pattern for function or class.
Should we implement it? @yegor256 @acheshkov  Seems we have solved it with @SuppressWarning feature

[2020-07-16 14:58] lyriccoder opened #524 "we have a wrong procedure for making release"
we have a wrong procedure for making release.
If we install aibolit locally, we have always 0.0.0 version.
We need to change version of aibolit everytime  in "__init__.py"

[2020-07-17 06:35] #510 closed

[2020-07-17 08:38] #508 closed

[2020-07-17 14:16] aravij opened #526 "Refactor "Argument as parameter" pattern."

[2020-07-17 15:09] #526 closed

[2020-07-19 17:03] acheshkov commented on #521
@rultor release, tag=`1.2.3`

[2020-07-19 17:04] rultor commented on #521
@acheshkov OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22607-660676729)

[2020-07-19 17:20] rultor commented on #521
@acheshkov Done! FYI, the full log is [here](https://www.rultor.com/t/22607-660676729) (took me 15min)

[2020-07-20 06:36] #520 closed

[2020-07-20 06:47] Vitaly-Protasov opened #528 "Refactor 18 patterns"
Description of each pattern you can find here: [PATTERNS.md](https://github.com/cqfn/aibolit/blob/master/PATTERNS.md)
- [x] 1) many_primary_ctors
- [x] 2) method_chaining
- [x] 3) method_siblings
- [x] 4) multiply_try
- [x] 5) nested_blocks
- [x] 6) nested_loop
- [x] 7) non_final_attribute
- [x] 8) null_check
- [x] 9) partial_synchronized
- [x] 10) private_static_method
- [x] 11) protected_method

[2020-07-20 09:39] aravij opened #530 "Add property `line` to all nodes."

[2020-07-20 09:41] g4s8 opened #531 "TypeError: '<' not supported between instances of 'NoneType' and 'NoneType'"
After updating to `1.2.3` version `aibolit` starting to fail for `recommend` command for github.com/artipie/artipie repository with error:
[code]

[2020-07-20 09:44] aravij opened #532 "AST computed fields architecture."
Add ability to add computed fields to some nodes.
 - Computed field is computed from fields gathered from `javalang`.
 - Each type of node has its own set of computed fields.
 - Several node types may have the same computed field.

[2020-07-20 09:48] aravij opened #533 "Javalang nodes in fields."
All fields are now gathered from `javalang` as is, but is a field is a `javalang` node or list of such nodes, they are wrapped with `ASTNodeReference`.
Sometimes fields have lists included in in other lists and so on. We should traverse those containers recursively to wrap all `javalang` nodes with `ASTNodeReference`.

[2020-07-20 09:49] aravij opened #534 "AST textual representation improvement."

[2020-07-20 09:54] aravij opened #535 "Refactor RFC metric with ASTNode API."
Lets discuss how RFC metric is described in internet and in our code and decide how to implement it. The informal definition of RFC is given as "The  RFC  is  the  count  of  the  set  of  all  methods  that  can  be  invoked  in  response  to  a message  to  an  object  of  the  class  or  by  some  method  in  the  class".

The calculation of the RFC is done in the following way:
 - Count all `p

[2020-07-20 09:55] aravij opened #536 "Refacor 'Cognitive Complexity' metric to new `ASTNode` API."

[2020-07-20 09:56] aravij opened #537 "Refactor 'Fanout' metric to new `ASTNode` API."

[2020-07-20 10:18] aravij opened #538 "NCSS metric discussion."
Let us discuss and state how do we calculate NCSS metric, how it differ from `PMD` variant and so on.
Current variant of metric calculation:
 - **+1** for each of the following keyword:
   - `assert`
   - `break`
   - `catch`
   - `continue`
   - `do` (`do ... while();`)
   - `for`
   - `if`
   - `return`
   - `switch`
   - `case` (`switch .... case():`)
   - `synchronize`
   - `throw`
   - `while

[2020-07-20 10:20] aravij opened #539 "AST framework documentation."

[2020-07-20 10:23] #469 closed

[2020-07-20 10:24] #467 closed

[2020-07-20 10:24] acheshkov commented on #538
What is the difference between `+1 for each statement expression` and `+1 for each of the keyword FOR`?

[2020-07-20 10:44] aravij opened #540 "Provide API for decomposing and merging AST"

[2020-07-20 10:47] aravij commented on #538
In our code there is node type `STATEMENT_EXPRESSION`, so we make an easy difference.
In a Java code a statement expression seamed to me an expression with `;` on the end. It could be an assignment or method call or something like this. I can find out how often this node is appeared and what kind of children may it have.

[2020-07-20 12:12] acheshkov commented on #531
@lyriccoder, can we add an integration test to avoid such things in the future?

[2020-07-20 12:25] #530 closed

[2020-07-20 14:18] acheshkov commented on #531
@rultor release, tag=`1.2.4`

[2020-07-20 14:20] rultor commented on #531
@acheshkov OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22661-661069154)

[2020-07-20 14:36] rultor commented on #531
@acheshkov Done! FYI, the full log is [here](https://www.rultor.com/t/22661-661069154) (took me 16min)

[2020-07-20 15:04] g4s8 commented on #531
@acheshkov @lyriccoder it can be reproduced with this script  in docker:
[code]

[2020-07-20 15:19] #534 closed

[2020-07-20 15:59] aravij opened #550 "Check return in integration tests."
Check, that
 - Patterns return list of integers
 - Metric return single integer

[2020-07-20 20:37] aravij commented on #538
Just to mention it here.
Following node types were never met in all integration test files:
 - CREATOR
 - DECLARATION
 - DOCUMENTED
 - EXPRESSION
 - INVOCATION
 - MEMBER
 - PRIMARY
 - TYPE
 - TYPE_DECLARATION

All this nodes are used in `javalang` as intermediate classes in class hierarchy. It seems like those nodes shouldn't be used in code analysis. I will remove TYPE_DECLARATION from types on w

[2020-07-20 20:39] aravij commented on #538
Considering question, I think to count both `assert` and `try` statements to increment NCSS and count `if else` statement as **single** increment.
Any thoughts?

[2020-07-21 07:05] g4s8 opened #551 "It's not possible to fix P13 when null is returning from external library"
We can't avoid `null`s returning from Java classes or third-party dependency, e.g. `String prop = System.getProperty("name")` so we need to check it for nulls, so the pattern `P13` doesn't make sense in this case. I'd keep only `P16` (return null).

[2020-07-21 07:08] g4s8 opened #552 "P21 conflicts with PMD rules"
The pattern `P21` says:

It contradicts with existing PMD rule `PrematureDeclaration`:

If I fix Aibolit `P21` issue, then PMD will complain.

[2020-07-21 09:58] g4s8 opened #554 "Github bot for producing PR reports"
It would be great to have GitHub app to use it instead of GitHub actions or other manual CI scripts. It can look similar to Codecov reports, e.g. see this comment: https://github.com/artipie/http/pull/204#issuecomment-661751762

The advantages:
 - Aibolit automatically setup itself on auth: user clicks "install" button on Aibolit web page, it redirects to GitHub OAuth page, user select repository

[2020-07-21 14:10] lyriccoder commented on #552
@yegor256 comment pls

[2020-07-21 14:10] lyriccoder commented on #551
@yegor256 comment pls

[2020-07-21 14:19] aravij opened #556 "ML pipline overview discussion."
Leave your comments, diagrams and text here.

[2020-07-22 06:31] #550 closed

[2020-07-22 14:22] #533 closed

[2020-07-22 15:15] aravij commented on #538
@acheshkov @lyriccoder I decided to create a PR #559 with differences to NCSS metric I propose.

[2020-07-23 08:27] lyriccoder opened #561 "Training model fails"
Training model fails when we set the directory for saving model and it doesn't exist

[2020-07-23 08:28] Vitaly-Protasov opened #562 "Clarify Nested Blocks pattern"
Once I started to refactor 'Nested Blocks pattern', I faced the misunderstanding of how it should works.

First of all, I found `block_type` argument is undue one, because I think that we do not need to specify the type of statement which we want to search for. I think it is better to find all nested blocks inside each other.

To be more clear, let's consider the example:
[code]

[2020-07-23 08:36] lyriccoder commented on #562
seems we need

[2020-07-23 08:41] aravij commented on #562
I am for finding out nested blocks with `for`, `if` etc. at once.

Considering nested blocks of different types, their nesting depth should be greater than for nested blocks of same type. For example triple nested `if` is definitely complex structure to me, but nested `for`->`if`->`for` is arguable.

[2020-07-23 09:45] acheshkov commented on #562
@Vitaly-Protasov

[2020-07-23 09:51] lyriccoder commented on #531
@acheshkov can we close it?

[2020-07-23 09:57] g4s8 commented on #531
@lyriccoder it's working now, thanks

[2020-07-23 09:57] #531 closed

[2020-07-23 09:57] acheshkov commented on #562
@Vitaly-Protasov
The current implementation has the following features

1. Counts nested STATEMENTS of  the kinds from the list parameter `block_type `
2. The length of nesting is the parameter `max_depth `

for example, If  `block_type=['DO', 'WHILE']` and `max_depth`=3  the we have to match the following nestied combinations:

[DO, DO, DO]
[WHILE, WHILE, WHILE]
[DO, WHILE, WHILE]
[WHILE, DO, WHI

[2020-07-23 09:58] acheshkov commented on #562
I suggest keeping the current functionality.

[2020-07-23 09:59] #521 closed

[2020-07-24 10:21] lyriccoder commented on #561
cannot reproduce, code is ok

[2020-07-24 10:21] #561 closed

[2020-07-24 10:22] #406 closed

[2020-07-24 10:23] #369 closed

[2020-07-24 10:23] lyriccoder commented on #113
out of date

[2020-07-24 10:23] #113 closed

[2020-07-24 10:54] lyriccoder opened #565 "If file is failed, we should keep making processing `recommend`"
If java parsers is failed, we should keep making processing `recommend`

[2020-07-24 10:54] lyriccoder commented on #565
https://github.com/artipie/http/blob/ac23b6bc3e9a63dbd1e6026112e9345cf5f2462a/src/main/java/com/artipie/http/stream/ByteByByteSplit.java

[2020-07-24 11:21] lyriccoder opened #566 "Bug with P20_5, P20_7"
Var_decl_7 is raised for wrong line:

It shows 126th line

[2020-07-24 11:24] g4s8 opened #567 "Interrupt signal doesn't work"
When I send interrupt signal with `Ctrl+C` CLI shows a lot of errors with stacktraces but doesn't stop.

[2020-07-24 11:38] lyriccoder commented on #567
Seems it doesn't work since we have multiprocess inside python.
We need to investigate it, how to stop all child processes

[2020-07-24 16:39] #535 closed

[2020-07-24 16:59] #537 closed

[2020-07-25 09:01] aravij opened #570 "Copmuted field 'statements_by_scope'"
To provide seamless functionality with `JavalangImproved` we need to be able to provide all method statements grouped by scope.

[2020-07-26 14:29] #538 closed

[2020-07-27 08:02] lyriccoder opened #571 "Cannot create dataset.csv"
When we set dataset.csv, we are searching dataset.csv to save it to another directory.

It doesn't exist yet:

[code]

![image](https://user-images.githubusercontent.com/20803206/88518162-b09ade80-cff8-11ea-92a0-f29cb20ce14b.png)

We need to move shutil.copy later after merge (or split-08.py)

[2020-07-27 18:10] aravij commented on #562
@Vitaly-Protasov So to keep current functionality, pattern class needs to accept in its constructor `max_depth` and tuple of statements types. It is better be done the following way:
[code]

Also notice, that there is pattern `nested_loop`. It is actually the same pattern, just with some predefined configuration. We better stick with single pattern, and provide one of possible configuration with `

[2020-07-27 18:18] aravij commented on #528
I think last patterns should be distributed the next way:
 - @Vitaly-Protasov can take `nesting_block` and `nesting_loop` (last one should be deleted, check my comment in #562).
 - I am currently working with grouping statements by scope and providing `JavaLangImproved` functionality. I consider to take patterns, which use it:
    - `partial_synchronized`
    - `redundant_catch`
    - `var_decl_di

[2020-07-27 19:13] #459 closed

[2020-07-27 19:16] Vitaly-Protasov commented on #528
I have almost finished "redundant_catch". may i take this?

[2020-07-27 21:32] aravij commented on #528
@Vitaly-Protasov Yep, no problem.

[2020-07-28 14:18] KatGarmash opened #574 "have feature extraction as part of the model and not in the main script"
Why?

- it's intuitive to have feature extraction and computation to be close to model definition and training. Since the feature set is in fact part of the model

- when one loads an old pretrained model with its own set of features, the pipeline should be able to recognize that recommendation should be done with that old set of features. Right now it just uses the feature set defined in config.p

[2020-07-28 15:03] #565 closed

[2020-07-28 15:04] lyriccoder opened #575 "Rewrite send_null with ASTNODE"

[2020-07-28 15:12] lyriccoder commented on #574
1) As I remember @acheshkov  asked to have it outside of the model. Since we can count patterns not only for a model, but for different experiments, it was asked to keep it outside. Moreover, feature extraction doesn't have any state, it will be static method. So, again it is not related to a model

2)need to discuss. Config is a place where we keep current state of the aibolit. Lots of patterns c

[2020-07-28 16:19] KatGarmash commented on #574
1. the state is the set of features used at training the model. you could implement feature extraction as a separate class and have it as an attribute of a model, and u could also use it outside of the model.

2. yeah, but if you can't use the config of the model, then you can't use the model.

[2020-07-28 16:23] KatGarmash commented on #574
1. plus, if in the future we do feature preprocessing such as standard scaling, we need to record the parameters of sclaing in the model.

[2020-07-29 15:21] lyriccoder opened #579 "Rewrite this_finder with ASTNODE"

[2020-07-30 07:09] #532 closed

[2020-07-30 12:03] acheshkov commented on #574
@KatGarmash  there is issue #556 where you can suggest how it should work from an end-user point of view.

[2020-07-30 12:05] KatGarmash commented on #574
@acheshkov  i will, thanks

[2020-07-30 14:08] #575 closed

[2020-07-30 14:12] KatGarmash commented on #556
First attempt, let me know if it's not the right format:

In general, I'd like feature extraction to be customizable. Right now it is set globally in config.py.

If I may propose a way of implementing it: Have text-> feature_vector extraction included in model train and inference pipeline. A model object would store an information about features, and once a text is passed it extracts them automati

[2020-07-30 14:42] #579 closed

[2020-07-31 04:34] yegor256 opened #584 "References need corrections"
Take a closer look at the References section in the White Paper. Many of them need corrections. Let's try to make all of them sound right and be correctly formatted.

[2020-07-31 09:46] lyriccoder commented on #567
There is a bug in python: https://bugs.python.org/issue8296

[2020-07-31 09:50] lyriccoder commented on #567
It seems there are two issues that make exceptions while multiprocessing annoying. The first is that you need to use map_async with a timeout instead of map in order to get an immediate response (i.e., don't finish processing the entire list). The second is that multiprocessing doesn't catch exceptions that don't inherit from Exception (e.g., SystemExit).

https://stackoverflow.com/a/23682499

[2020-07-31 11:24] g4s8 opened #585 "SuppressWarning doesn't work sometimes"
When I ignore `P31` warning in method https://github.com/artipie/asto/blob/9f398e8e566e3b44806f4e7825443ed80c0b9bd4/src/main/java/com/artipie/asto/fs/FileStorage.java#L156
with
[code]
It doesn't work and aibolit reports this issue:
[code]
The line of warning is: https://github.com/artipie/asto/blob/9f398e8e566e3b44806f4e7825443ed80c0b9bd4/src/main/java/com/artipie/asto/fs/FileStorage.java#L181

Al

[2020-08-03 14:27] #585 closed

[2020-08-04 09:27] lyriccoder commented on #556
The problem is that we have certain functionality related to `recommend` functionality. And it has additional functionality as filtering `suppressWarnings` patterns, exceptions handling. Also we have certain type of dictionary which is handled by another part of a program (it is returned by `run_recommend_for_file` function which will be `rank` function, as I have understood).

So, we cannot pass

[2020-08-04 09:30] acheshkov opened #587 "Metric: Number of methods in a class"
- implement metric
 - add tests
 - change Pattern.md
 - change white paper appendix

[2020-08-04 09:36] acheshkov commented on #556
@lyriccoder yes, you can create a new function with desired interface

[2020-08-04 09:55] KatGarmash commented on #556
@lyriccoder  what part of code is this? can you give me the link?

[2020-08-04 10:03] KatGarmash commented on #556
@lyriccoder which "certain type of dictionary"?

[2020-08-04 10:18] KatGarmash commented on #556
@lyriccoder @acheshkov

I have looked through the methods for the `recommend` functionality and if anything, my suggestion will only simplify that code.
For example, lines 74-75 in predict method will be removed, or calculate_patterns_and_metrics method will be done internally in the model. I may have overlooked something though.

Actually, now that I have looked at the __main__.py code, I guess

[2020-08-04 10:29] KatGarmash commented on #556
@acheshkov @lyriccoder updated the specification of the desired functions (see first comment). Is it better?

[2020-08-04 13:07] aravij opened #588 "Refactor class decomposition function"
Current implementation uses deprecated API which throws exceptions while calculating new dataset. Moving it to new API should solve the problem.

[2020-08-05 06:23] acheshkov opened #593 "Create an template for PRs"

[2020-08-05 08:18] aravij commented on #570
At this point it is quite hard to create such functionality as computed field, because some scopes (like lambdas) may be inside expressions. To be able to search inside expression, we need on of this:
 - decompose expression to atoms (literals, variables and lambdas)
 - use DFS

First option is seamed to me right, but quite expensive. Second cannot be done without retrieving `AST`, which, unfortun

[2020-08-05 08:19] #588 closed

[2020-08-05 12:55] acheshkov commented on #556
yes, it is

[2020-08-06 11:07] KatGarmash opened #596 "Bug with P21 (var in the middle)"
Aibolit detects P21 in lines 6,7,8, but it should not, since becase the only preceding expression in super invocation.

[code]

[2020-08-06 11:29] KatGarmash commented on #596
Also, it detects the P21 here:

[code]

[2020-08-07 06:45] #593 closed

[2020-08-07 07:55] acheshkov opened #598 "Aibolit WP: Developers should avoid "bad" patterns"
https://github.com/cqfn/aibolit/blob/0382fdc44d07d0c00a07870a57484cc1ae37106d/wp/wp.tex#L92

[2020-08-07 08:00] acheshkov opened #599 "Aibolit WP: How to compute the metric value? There is no further explanation."
https://github.com/cqfn/aibolit/blob/1192345b396c5b26713c1420d6825997cb67cc21/wp/sections/how_aibolit_works.tex#L18

How to compute the metric value? There is no further explanation.

[2020-08-07 08:06] acheshkov opened #600 "Aibolit WP: what is the meaning of rank? Need clarify"
https://github.com/cqfn/aibolit/blob/1192345b396c5b26713c1420d6825997cb67cc21/wp/sections/how_aibolit_works.tex#L21-L22

If one pattern is bad, Aibolit should recommend to remove it. As declared in the end of Conclusion section: " If the anti-pattern has found, we recommend to fix all instances of the pattern in the code ". So what is the meaning of rank?

[2020-08-07 08:22] acheshkov opened #601 "Aibolit WP: typo and grammar mistake"
https://github.com/cqfn/aibolit/blob/7ba9e693d551f110c92521af02b5fa09f33163bc/wp/sections/usage_scenarios.tex#L4

It has to be: "It is a single number, with the following properties:"

[2020-08-07 08:30] acheshkov opened #603 "Aibolit WP: write it better"
https://github.com/cqfn/aibolit/blob/7ba9e693d551f110c92521af02b5fa09f33163bc/wp/sections/usage_scenarios.tex#L3

write this sentence better

[2020-08-07 09:02] #574 closed

[2020-08-07 09:21] lyriccoder commented on #571
out of date, new model has been uploaded

[2020-08-07 09:21] #571 closed

[2020-08-07 09:28] #601 closed

[2020-08-07 10:40] #598 closed

[2020-08-07 11:25] #603 closed

[2020-08-10 08:39] yegor256 opened #608 "--suppress and --exclude options are not documented"
This is what I see:

[code]

Would be great to document them.

[2020-08-10 08:44] yegor256 opened #609 "output is too cryptic"
This is what I'm getting:

[code]

If I'm a new user, I have no idea what this means. I need more details.

I'm suggesting:

  - remove the lines announcing the score, they are pointless
  - print a link at the end of the output, where I can find the description of each `Pxx` pattern

[2020-08-11 14:16] lyriccoder commented on #609
we cannot make a link, since we have described it in makrdown, it doesn't have anchor like in html:

https://github.com/lyriccoder/aibolit/blob/master/PATTERNS.md#code

[2020-08-12 04:50] yegor256 commented on #507
@lyriccoder I made a mistake in the spec, sorry. `--exclude` should accept just a list of glob patterns and exclude them all. That's it. The folder should still be provided in the `--folder` parameter. Can we please fix this?

[2020-08-13 10:20] #608 closed

[2020-08-13 11:08] #609 closed

[2020-08-13 14:28] #524 closed

[2020-08-14 06:52] aravij opened #613 "Inference on decomposed class"
Currently dataset is represented with class components instead of a single file. We have to do the inference the same way. Gathered ranks must be merged into a single list in the following way:  first goes all first elements, then all seconds and so on. Order on components is arbitrary.

It might be also added to stat command.

[2020-08-14 09:37] acheshkov opened #614 "Aibolit WP: We do filtering by NCSS not number of lines"
https://github.com/cqfn/aibolit/blob/014fc731b428bc06e86b0ac258d4f36bebb2c322/wp/sections/how_aibolit_works.tex#L80

can we explain why we choose 50 and 300?

[2020-08-14 11:11] lyriccoder opened #615 "Seems that decomposing class (LCOM4) works incorrectly"
In this class we are using field `dir`, but it is extracted to a different LCOM4 component.

[1.txt](https://github.com/cqfn/aibolit/files/5074244/1.txt)

[2020-08-17 08:31] aravij commented on #570
Currently scope graph does not provide all the needed information. To correct it the concept of the graph have to be changed. Now graph vertexes should either represent scope or statement. Graph becomes bipartite. Edges go from scope to statement is that statement is contained in that scope. Edges from statement goes to scope if it is created by that statement.

[2020-08-17 11:37] lyriccoder commented on #507
Can we choose another parameter? I see people are using it for a different case. They are searching java files there.

I see that @g4s8  is using `--folder`, but not `--filenames`. Moreover, we should leave a way to use `--folder` for Windows users

[2020-08-17 11:38] #512 closed

[2020-08-17 11:39] lyriccoder commented on #513
@yegor256, was it fixed?

[2020-08-17 11:41] yegor256 commented on #513
@lyriccoder yes, it's gone, thanks

[2020-08-17 11:41] #513 closed

[2020-08-17 11:41] lyriccoder commented on #330
fixed in https://github.com/cqfn/aibolit/pull/597/files

[2020-08-17 11:41] #330 closed

[2020-08-17 15:12] lyriccoder opened #617 "Need to ignore setters when we do LCOM decomposition"
setters will be always a component, so we must ignore it.

[2020-08-18 10:05] lyriccoder opened #619 "Need to ignore getters for LCOM decomposition"

[2020-08-19 17:07] aravij opened #622 "Dataset filtering"
Currently there is fixed tresholds for NCSS dataset items. It would not work with class components. We need a more flexible way to filter out dataset items.

Assignees: @aravij
Labels:

[2020-08-20 13:38] lyriccoder opened #623 "sum of NCSS of all components must be equal to the ncss of the whole file"
sum of NCSS of all components must be equal to the ncss of the whole file.
 Now it differs significantly for all files.

Example is here:
[Configuration.java.txt](https://github.com/cqfn/aibolit/files/5103402/Configuration.java.txt)

1211 (all components) vs 1502 (the whole file)

[2020-08-24 10:03] aravij opened #626 "Make "max diameter" metric to accept AST"

[2020-08-24 11:49] #619 closed

[2020-08-25 08:02] #626 closed

[2020-08-25 10:14] aravij opened #628 "Add ability to create dataset without decomposition."
This can be done with help of environment variable `LCOM_DECOMPOSITION`. If it set to "True" or "1" decomposition is applied. If it is set to "False" or "0" it is not applied. By default decomposition is applied.

[2020-08-25 13:53] #628 closed

[2020-08-25 15:23] #617 closed

[2020-08-25 18:13] #622 closed

[2020-08-25 18:44] aravij opened #630 "Fix pattern calculation."

[2020-08-25 19:17] aravij opened #632 "Mutitargeting."
Add ability to train against different metrics:
 - RFC
 - Fanout
 - Max diameter

[2020-08-27 07:51] #630 closed

[2020-08-28 13:16] #632 closed

[2020-08-28 14:05] #613 closed

[2020-09-03 10:18] #623 closed

[2020-09-03 10:19] #615 closed

[2020-09-03 10:19] lyriccoder commented on #507
fixed, closing

[2020-09-03 10:19] #507 closed

[2020-09-15 08:58] aravij opened #634 "Extract semantic."
Extracts semantic from methods.

[2020-09-15 11:58] aravij opened #636 "Extract semantic from nested statements."
Add support for complex statements such as `if` and `for` and handle nested statements.

[2020-09-15 14:15] aravij opened #638 "Visualize method semantic."
CLI app for printing statements semantic in method.

[2020-09-15 18:47] Vitaly-Protasov opened #640 "Add clustering"
In case of #634 #636 #638 need to add clustering algorithm

[2020-09-16 06:49] lyriccoder opened #642 "Aibolit cyclomatic fail to count for large lambda"
[1.txt](https://github.com/cqfn/aibolit/files/5230161/1.txt)

[code]

Aibolit shows 0 Cogc for this method.
It also ignores all `if/else` statements inside lambda.

[2020-09-16 07:36] #634 closed

[2020-09-16 09:35] #636 closed

[2020-09-16 12:51] #638 closed

[2020-09-17 13:19] aravij opened #645 "Clustering statements"
Cluster statements based o their semantic.

[2020-09-17 15:27] aravij opened #646 "Add names of declared variables into semantic"
During semantic extraction we have to considered local variables declarations to have their declared variables in semantic.

[2020-09-18 07:14] Vitaly-Protasov opened #648 "Add unittest"
According to #640 it is also need to add unittest to check the algorithm.

[2020-09-18 07:15] #648 closed

[2020-09-18 08:30] aravij opened #649 "Add test based on paper example"

[2020-09-21 07:36] #640 closed

[2020-09-21 08:27] #649 closed

[2020-10-27 08:56] aravij commented on #645
Close, as SEMI development moved into veniq repository.

[2020-10-27 08:56] #645 closed

[2020-10-27 08:58] aravij opened #652 "Update AST framework"

[2020-10-27 09:37] aravij opened #654 "Remove SEMI draft scripts"
SEMI was moved to veniq, and there is no reason to store it here.

[2020-10-27 11:22] #654 closed

[2022-05-24 17:28] sv-atoslav opened #666 "cant install "aibolit" using different python versions"
OS AND Python versions ([pyenv](https://github.com/pyenv/pyenv) used):
[code]
## Steps to reproduce:
before repeating, create folder `aibolit3.10` and `aibolit3.7` in downloads (or other locations)
### Try 1 with python3.10 (latest)
* `$ python3 --version`
`Python 3.10.4`
* `cd ~/Downloads/aibolit3.10`
* create [virtual enviroment](https://docs.python.org/3/installing/index.html?highlight=virtuale

[2022-05-31 07:55] lyriccoder commented on #666
Hi, @sv-atoslav
1)  Aibolit is only supported for Python 3.7.7 as it is declared in `Readme.md`
2) It's a problem with your `pyenv` environment, not with `aibolit`.

Try to do the following:

[code]

[2022-09-15 07:41] #666 closed