[2020-01-30 14:46] zuoqin opened #1 "Implement Aibolit with Python script and Maven installation"

[2020-01-30 15:55] yegor256 opened #2 "deploy to pypi"

[2020-01-31 05:10] yegor256 commented on #2
@rultor release, tag is `0.0.1`

[2020-01-31 05:12] rultor commented on #2
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21276-580584766)

[2020-01-31 05:14] rultor commented on #2
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21276-580584766) (spent 2min)

[code]

[2020-01-31 07:04] yegor256 commented on #2
@rultor release, tag is `0.0.1`

[2020-01-31 07:05] rultor commented on #2
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21276-580610575)

[2020-01-31 07:08] rultor commented on #2
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21276-580610575) (spent 2min)

[code]

[2020-01-31 12:28] yegor256 commented on #2
@rultor release, tag is `0.0.1`

[2020-01-31 12:30] rultor commented on #2
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21276-580714359)

[2020-01-31 12:33] rultor commented on #2
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21276-580714359) (spent 2min)

[code]

[2020-01-31 12:37] yegor256 commented on #2
@rultor release, tag is `0.0.1`

[2020-01-31 12:39] rultor commented on #2
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21276-580717063)

[2020-01-31 12:42] rultor commented on #2
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21276-580717063) (spent 2min)

[code]

[2020-01-31 19:03] yegor256 commented on #2
@rultor release, tag is `0.0.1`

[2020-01-31 19:04] rultor commented on #2
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21276-580867085)

[2020-01-31 19:07] rultor commented on #2
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21276-580867085) (spent 2min)

[code]

[2020-01-31 19:13] yegor256 commented on #2
@rultor release, tag is `0.0.1`

[2020-01-31 19:14] rultor commented on #2
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21276-580870649)

[2020-01-31 19:17] rultor commented on #2
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21276-580870649) (spent 2min)

[code]

[2020-01-31 19:18] yegor256 commented on #2
@rultor release, tag is `0.0.1`

[2020-01-31 19:21] rultor commented on #2
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21276-580872550)

[2020-01-31 19:23] rultor commented on #2
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21276-580872550) (spent 2min)

[code]

[2020-01-31 19:30] yegor256 commented on #2
@rultor release, tag is `0.0.1`

[2020-01-31 19:31] rultor commented on #2
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21276-580877189)

[2020-01-31 19:34] rultor commented on #2
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21276-580877189) (took me 2min)

[2020-01-31 19:40] #2 closed

[2020-01-31 19:40] 0crat commented on #2
I'm not managing `yegor256/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-02-03 14:14] yegor256 opened #5 "first simple metric-finding object"
Let's implement the first simple `LocMetric` class, which will return the number of lines of code from a java class. Let's place it into `aibolit/metrics/loc`. Let's make sure we have it covered with unit tests, static analysis, and coverage control.

[2020-02-03 14:15] 0crat commented on #5
@yegor256[/z](https://www.0crat.com/u/yegor256) I'm not managing this repo, remove the [webhook](https://github.com/yegor256/aibolit/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `yegor256/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](

[2020-02-04 04:48] #5 closed

[2020-02-04 04:48] yegor256 commented on #5
@rultor release, tag is `0.0.2`

[2020-02-04 04:48] 0crat commented on #5
I'm not managing `yegor256/aibolit` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-02-04 04:50] rultor commented on #5
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21289-581741257)

[2020-02-04 04:52] rultor commented on #5
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21289-581741257) (spent 2min)

[code]

[2020-02-04 05:31] yegor256 commented on #5
@rultor release, tag is `0.0.2`

[2020-02-04 05:32] rultor commented on #5
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21289-581749917)

[2020-02-04 05:35] rultor commented on #5
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21289-581749917) (took me 2min)

[2020-02-04 11:37] zuoqin opened #7 "Create download java repositories script"
Create a script to:
1. Download trending java repositories first 100
2.  git clone to local
3.  find .java files length > 50 and < 300 lines
4.  output list of paths to such files

[2020-02-04 11:37] 0crat commented on #7
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-04 11:37] 0crat commented on #7
@zuoqin[/z](https://www.0crat.com/u/zuoqin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT5UB7XAP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-04 12:54] yegor256 commented on #1
@zuoqin done, thanks

[2020-02-04 12:54] #1 closed

[2020-02-04 12:54] yegor256 opened #9 "LoC doesn't count right"
We have to calculate lines of code correctly, using http://cloc.sourceforge.net/

[2020-02-04 12:55] yegor256 commented on #9
@zuoqin please, take care of this

[2020-02-04 13:47] 0crat commented on #1
Job `gh:yegor256/aibolit#1` is not assigned, can't get performer

[2020-02-04 13:54] 0crat commented on #1
This job is not in scope

[2020-02-04 14:07] zuoqin opened #12 "Implement metrics file for Java repositories files"

[2020-02-04 14:07] 0crat commented on #12
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-04 14:07] 0crat commented on #12
@zuoqin[/z](https://www.0crat.com/u/zuoqin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT5UB7XAP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-05 05:37] zuoqin opened #13 "Implement NPath complexity"

[2020-02-05 05:37] 0crat commented on #13
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-05 05:37] 0crat commented on #13
@zuoqin[/z](https://www.0crat.com/u/zuoqin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT5UB7XAP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-06 07:25] lyriccoder opened #22 "Need to calculate readability metrics"
The target class of our model is `Readability` class. It includes the numeric value from 0 up to 1 and tells us how well-readable the code is.

At the moment, we do not have lots of reviewers to review all Java files.
It is necessary to do the script which runs JAR (see the reference below) which estimates `Readability`. It is the result of the following paper :

The reference of the paper is the

[2020-02-06 07:26] 0crat commented on #22
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-06 07:26] 0crat commented on #22
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT5UB7XAP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-06 08:30] lyriccoder opened #23 "Need to calculate Halstead Metrics"
Often, Halstead metrics are used to measure readability code as it is demonstrated in the following paper:

Daryl Posnett, Abram Hindle, and Premkumar Devanbu. 2011. A simpler model of software readability. In Proceedings of the 8th Working Conference on Mining Software Repositories (MSR ’11). Association for Computing Machinery, New York, NY, USA, 73–82. DOI:https://doi.org/10.1145/1985441.198545

[2020-02-06 08:30] 0crat commented on #23
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-06 08:30] 0crat commented on #23
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT5UB7XAP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-07 08:15] zuoqin commented on #23
@yegor256, Halstead Metric is calculated using complecated algorithms build above eclipse Java packages, which is impossible to implement in Python. How to add it to this repository?

[2020-02-07 13:17] lyriccoder opened #26 "Need to calculate 2 patterns for all java files in parallel"
Need to calculate 2 patterns for all java files in parallel. At the moment it is not performed in parallel.

[2020-02-07 13:17] 0crat commented on #26
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-07 13:17] 0crat commented on #26
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT5UB7XAP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-07 13:23] lyriccoder opened #28 "Need to filter java files"
At the moment we have different files, but we do not need Test files, Enums, AbstractFiles, Interfaces

[2020-02-07 13:23] 0crat commented on #28
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-07 13:23] 0crat commented on #28
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT5UB7XAP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-10 04:59] yegor256 opened #31 "01-fetch-github.py must accept the max amount of repos"
I should be able to run:

[code]

And it will fetch exactly 10 repositories. If I say `--repos=1` it will fetch just one.

[2020-02-10 04:59] yegor256 commented on #31
@zuoqin please, take care of this one

[2020-02-10 06:01] #31 closed

[2020-02-10 06:02] yegor256 commented on #31
@zuoqin thanks!

[2020-02-10 06:02] yegor256 opened #35 "./02-filter-and-move.py should accept --max-classes"
Let's make it possible to configure `02-filter-and-move.py` with `--max-classes`. When I say `--max-classes=10` it should take and move only 10 classes.

[2020-02-10 06:02] yegor256 commented on #35
@zuoqin please help

[2020-02-10 06:49] 0crat commented on #31
Job `gh:yegor256/aibolit#31` is not assigned, can't get performer

[2020-02-10 07:22] 0crat commented on #31
This job is not in scope

[2020-02-10 13:31] lyriccoder opened #40 "Need to use utf-8 when opening files"
Need to use utf-8 in patterns, metrics

[2020-02-10 13:31] 0crat commented on #40
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-10 13:31] 0crat commented on #40
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT5UB7XAP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-12 11:52] #40 closed

[2020-02-12 11:52] #26 closed

[2020-02-12 12:22] 0crat commented on #40
Job `gh:yegor256/aibolit#40` is not assigned, can't get performer

[2020-02-12 12:26] 0crat commented on #26
Job `gh:yegor256/aibolit#26` is not assigned, can't get performer

[2020-02-12 12:57] 0crat commented on #40
This job is not in scope

[2020-02-12 13:04] 0crat commented on #26
This job is not in scope

[2020-02-20 08:43] lyriccoder opened #47 "Need to write console program"
Need to write console program which will find all patterns and show the most important one.
Also, need to make program compilation with all modules embedded

[2020-02-20 08:43] 0crat commented on #47
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-20 08:44] 0crat commented on #47
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT5UB7XAP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-25 07:47] #47 closed

[2020-02-25 07:49] lyriccoder opened #49 "Need to calculate number of method chaining"
Given a file, need to find method chaining.

[2020-02-25 07:49] 0crat commented on #49
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-25 07:50] 0crat commented on #49
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT5UB7XAP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-25 08:15] 0crat commented on #47
Job `gh:yegor256/aibolit#47` is not assigned, can't get performer

[2020-02-25 08:17] 0crat commented on #47
This job is not in scope

[2020-02-27 07:34] yegor256 opened #51 "var-in-the-middle doesn't work as expected"
Try this Java class:

[code]

Aibolit says that the variable `baos` is in the middle of the method, but it's not.

[2020-03-02 10:29] lyriccoder opened #54 "Instance Of usage"
Need to find _instanceof_  and _.isInstance()_ usage

[2020-03-02 12:29] 0crat commented on #54
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-03-02 12:29] 0crat commented on #54
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT5UB7XAP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-02 14:42] yegor256 commented on #51
@rultor release, tag is `0.0.4`

[2020-03-02 14:43] rultor commented on #51
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21451-593435612)

[2020-03-02 14:46] rultor commented on #51
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21451-593435612) (spent 2min)

[code]

[2020-03-02 14:48] yegor256 commented on #51
@rultor release, tag is `0.0.4`

[2020-03-02 14:50] rultor commented on #51
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21451-593438435)

[2020-03-02 14:53] rultor commented on #51
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21451-593438435) (spent 2min)

[code]

[2020-03-03 08:44] lyriccoder opened #59 "Pattern with super.func() call needs to be added"
Pattern with super.func() call needs to be added

[2020-03-03 08:44] 0crat commented on #59
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-03-03 08:44] 0crat commented on #59
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT5UB7XAP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-03 10:03] lyriccoder opened #61 "Var_middle doesn't work properly with anonymous class, nested class and autocloseable"
Example:

1. autocloseable:

[code]

2. nested class
[code]

3. anonymous class

[code]

[2020-03-03 10:03] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-03-03 10:03] 0crat commented on #61
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT5UB7XAP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-03 10:05] lyriccoder opened #62 "var_decl_diff doesn't work properly with anonymous class, nested class and autocloseable"
Example:

1. autocloseable:

[code]

2. nested class

[code]

3. anonymous class

[code]

[2020-03-03 10:05] 0crat commented on #62
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-03-03 10:05] 0crat commented on #62
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT5UB7XAP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-03 18:18] yegor256 commented on #51
@rultor release, tag is `0.0.4`

[2020-03-03 18:19] rultor commented on #51
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21451-594093764)

[2020-03-03 18:24] rultor commented on #51
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21451-594093764) (spent 4min)

[code]

[2020-03-03 19:25] yegor256 commented on #51
@rultor release, tag is `0.0.4`

[2020-03-03 19:26] rultor commented on #51
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21451-594124073)

[2020-03-03 19:29] rultor commented on #51
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21451-594124073) (spent 2min)

[code]

[2020-03-04 06:26] yegor256 commented on #51
@rultor merge

[2020-03-04 06:26] yegor256 commented on #51
@rultor release, tag is `0.0.4`

[2020-03-04 06:28] rultor commented on #51
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21451-594349806)

[2020-03-04 06:30] rultor commented on #51
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21451-594349806) (spent 2min)

[code]

[2020-03-04 08:44] lyriccoder opened #64 "Need to update 04-patterns.py"
Need to update 04-patterns.py to support new patterns

[2020-03-04 08:44] 0crat commented on #64
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-03-04 08:44] 0crat commented on #64
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT5UB7XAP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-04 08:52] yegor256 commented on #51
@rultor release, tag is `0.0.4`

[2020-03-04 08:54] rultor commented on #51
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21451-594398657)

[2020-03-04 08:57] rultor commented on #51
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21451-594398657) (took me 2min)

[2020-03-04 08:58] #51 closed

[2020-03-04 09:22] 0crat commented on #51
Job `gh:yegor256/aibolit#51` is not assigned, can't get performer

[2020-03-04 09:25] 0crat commented on #51
This job is not in scope

[2020-03-05 08:03] lyriccoder opened #67 "Merge.py doesn't merge pmd_metrics.py"
Merge.py doesn't merge pmd_metrics.py

[2020-03-05 08:03] 0crat commented on #67
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-03-05 08:10] lyriccoder opened #69 "Writing to file by 04-patterns.py was not thread-safe"
Writing to file by 04-patterns.py was not thread-safe

[2020-03-05 08:11] 0crat commented on #69
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-03-05 08:14] lyriccoder opened #71 "Supermethod fails when arguments list is not a list, but a `Member` class"
Supermethod fails when arguments list is not a list, but a `Member` class

[2020-03-05 08:14] 0crat commented on #71
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-03-10 19:59] php-coder opened #77 "Document what issues this tool can find"
As a possible user of this tool, it's not clear from the first sight why I should use this tool and how it can help me. What issues it looks for and what bugs it can prevent?

I'd suggest to document the rules with examples of good and bad code.

[2020-03-10 19:59] 0crat commented on #77
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-03-12 09:00] acheshkov opened #78 "Pattern: using this in constructor"
Yegor, please describe how this earlier suggested pattern should work.

[2020-03-12 09:00] #62 closed

[2020-03-12 09:01] 0crat commented on #78
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-03-12 09:01] #61 closed

[2020-03-12 09:04] yegor256 commented on #77
@php-coder definitely a good idea. We should do it ASAP.

[2020-03-12 10:07] #54 closed

[2020-03-12 10:19] 0crat commented on #62
Job `gh:yegor256/aibolit#62` is not assigned, can't get performer

[2020-03-12 10:37] 0crat commented on #78
You @acheshkov[/z](https://www.0crat.com/u/acheshkov) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-03-12 11:38] yegor256 commented on #78
@acheshkov here it is. This code has the said pattern:

[code]

The first constructor has `this()` and some other statements. This is the "hybrid constructor" pattern.

[2020-03-12 12:00] 0crat commented on #61
Job `gh:yegor256/aibolit#61` is not assigned, can't get performer

[2020-03-12 12:05] 0crat commented on #54
Job `gh:yegor256/aibolit#54` is not assigned, can't get performer

[2020-03-12 13:58] acheshkov commented on #78
@yegor256 we need to specify _other statements_.  Can we consider _other statements_as any statement? It might be _super_,  _this_, _try_, ...

What about statements we may pass into _this_  as arguments?

[2020-03-12 14:48] yegor256 commented on #78
@acheshkov "other statements" mean anything aside of `this()`. In Java it's not possible to call `this()` more than once. Everything that is an argument of `this()` is not a statement.

[2020-03-15 13:35] victornoel opened #80 "pip install does not install dependencies"
I instaledl aibolit with
[code]

And then I tried to run it:
[code]

Apparently some dependencies must be missing... the `setup.py` should be referencing them so that `pip install` can install them.

[2020-03-15 13:35] 0crat commented on #80
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-03-16 15:14] lyriccoder opened #81 "Make a process of model prediction"
Make a process of model prediction

[2020-03-16 15:14] 0crat commented on #81
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-03-17 08:34] #71 closed

[2020-03-17 08:36] lyriccoder commented on #78
[code]

Is this example is an anti-pattern?

[2020-03-17 09:16] 0crat commented on #71
Job `gh:yegor256/aibolit#71` is not assigned, can't get performer

[2020-03-17 14:02] acheshkov opened #85 "Refactor the code"
https://github.com/yegor256/aibolit/blob/5322a63aeb1d6840c2094b143dc7c7b3a939526c/aibolit/patterns/this_finder/this_finder.py#L33

Get rid of the flake exception. Reduce the complexity of the source code.

[2020-03-17 14:02] 0crat commented on #85
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-03-17 14:39] acheshkov commented on #85
@lukyanoffpashok please look into

[2020-03-18 06:53] yegor256 commented on #80
@rultor release, tag is `0.0.5`

[2020-03-18 06:55] rultor commented on #80
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21557-600454927)

[2020-03-18 07:00] rultor commented on #80
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21557-600454927) (took me 4min)

[2020-03-18 07:15] yegor256 commented on #80
@victornoel should be OK now

[2020-03-18 07:47] #80 closed

[2020-03-18 07:54] victornoel commented on #80
@yegor256 now it install dev dependencies too, it shouldn't be the case.

[2020-03-18 08:32] yegor256 opened #87 "var_decl_diff_number_5"
This code is valid, but the pattern catches it:

[code]

[2020-03-18 08:46] victornoel opened #88 "README is broken"
I run:
[code]

[2020-03-18 08:46] 0crat commented on #88
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-03-18 14:19] yegor256 commented on #88
@acheshkov please take a look

[2020-03-18 14:42] 0crat commented on #88
The job [#88](https://github.com/yegor256/aibolit/issues/88) assigned to @acheshkov[/z](https://www.0crat.com/u/acheshkov), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/6ea105da-eb86-4573-be04-9f296cd69f40); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-03-18 15:15] yegor256 opened #89 "null_check pattern"
This is the pattern:

[code]

The check for `null` is the pattern.

The pattern should not check constructors.

[2020-03-18 15:15] yegor256 commented on #89
@acheshkov FYI

[2020-03-18 16:01] yegor256 opened #90 "multiple_try pattern"
Here it is:

[code]

Once we see more than one `try` in a single method, it's a pattern.

[2020-03-18 16:07] yegor256 opened #91 "er_class pattern"
If a class name is one of the following (or ends with this word), it's the pattern:

[code]

[2020-03-18 16:22] tribals commented on #89
@yegor256 Can you please assign it to me?

[2020-03-18 16:43] lyriccoder commented on #88
Hi @victornoel
You should run this way as it is explained in help:
`aibolit --filename File.java`

or `aibolit --version`

[2020-03-18 17:04] victornoel commented on #88
@lyriccoder I think the README should be fixed

[2020-03-18 17:04] victornoel commented on #88
@lyriccoder or the binary so that things happen like in the README, I suppose @yegor256 would decide between the two.

[2020-03-18 18:06] lyriccoder commented on #88
@victornoel  We will fix it in Readme

[2020-03-18 18:08] yegor256 commented on #87
@acheshkov let's delete this pattern

[2020-03-18 18:10] yegor256 opened #92 "classic_setter pattern"
This is the pattern:

[code]

The method's name starts with `set`, then goes the name of the attribute. The only statement in the method's body is the assignment of the attribute.

[2020-03-18 18:19] yegor256 opened #94 "classic_getter pattern"
This is the pattern:

[code]

The method's name starts with `get`, then goes the name of the attribute. The only statement in the method's body is the return of the attribute.

[2020-03-18 18:28] yegor256 opened #95 "empty_rethrow pattern"
This is the pattern:

[code]

Here we `throw` the same exception.

[2020-03-18 18:30] yegor256 opened #96 "redundant_catch pattern"
Here it is:

[code]

Here, the method `foo()` throws `IOException`, but we catch it inside the method.

[2020-03-18 18:38] yegor256 opened #97 "return_null pattern"
Here it is:

[code]

When we return `null`, it's a pattern.

[2020-03-18 18:56] yegor256 opened #98 "partial_synchronized pattern"
Here it is:

[code]

Here, the `synchronized` block doesn't include all statements of the method. Something stays out of the block.

[2020-03-18 19:01] yegor256 opened #99 "many_primary_ctors pattern"
Here:

[code]

Here, we have two constructors and each of them have atribute-assigning statements. Each constructor is primary. Read here for more info: https://www.yegor256.com/2015/05/28/one-primary-constructor.html

[2020-03-19 08:04] #81 closed

[2020-03-19 08:04] #69 closed

[2020-03-19 08:05] #64 closed

[2020-03-19 08:05] #59 closed

[2020-03-19 08:05] #49 closed

[2020-03-19 08:05] #28 closed

[2020-03-19 08:05] #23 closed

[2020-03-19 08:05] #22 closed

[2020-03-19 08:06] 0crat commented on #67
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.51.12](https://github.com/zerocracy/farm): Issue: yegor256/aibolit#67, Action: `reopened`

[2020-03-19 08:13] lyriccoder opened #100 "Pattern: Class implements more than 1 interface"
Here:

[code]
Here, we have two interfaces and a class implements more than 1 interface.

[2020-03-19 08:13] 0crat commented on #100
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-03-19 08:17] lyriccoder opened #102 "Concat returns wrong lines number"
Concat patterns returns wrong lines number because we remove comments and do not take those lines into account

[2020-03-19 08:17] 0crat commented on #102
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-03-19 09:22] 0crat commented on #64
Job `gh:yegor256/aibolit#64` is not assigned, can't get performer

[2020-03-19 09:28] 0crat commented on #28
Job `gh:yegor256/aibolit#28` is not assigned, can't get performer

[2020-03-19 09:29] 0crat commented on #22
Job `gh:yegor256/aibolit#22` is not assigned, can't get performer

[2020-03-19 09:30] 0crat commented on #67
Job `gh:yegor256/aibolit#67` is not assigned, can't get performer

[2020-03-19 09:31] 0crat commented on #49
Job `gh:yegor256/aibolit#49` is not assigned, can't get performer

[2020-03-19 09:36] 0crat commented on #59
Job `gh:yegor256/aibolit#59` is not assigned, can't get performer

[2020-03-19 09:55] 0crat commented on #69
Job `gh:yegor256/aibolit#69` is not assigned, can't get performer

[2020-03-19 10:03] 0crat commented on #23
Job `gh:yegor256/aibolit#23` is not assigned, can't get performer

[2020-03-19 10:08] 0crat commented on #81
Job `gh:yegor256/aibolit#81` is not assigned, can't get performer

[2020-03-19 12:47] lyriccoder commented on #90
1)
[code]

2)
[code]
3)

[code]
Are mentioned classes anti-patterns?

[2020-03-20 08:00] #102 closed

[2020-03-20 08:04] yegor256 commented on #90
@lyriccoder all of these cases are valid

[2020-03-20 10:22] lyriccoder commented on #90
OK, i am implementing it

[2020-03-20 10:26] lyriccoder commented on #78
@yegor256 You can close it, it is already implemented and merged

[2020-03-20 10:29] acheshkov commented on #94
@BRZInc

[2020-03-20 13:49] silverCase commented on #92
are these recognized as valid(as classic_setter) patterns ?

    public Builder setScope(AclEntryScope scope) {
      this.scope = scope;
      return this;
    }
------------------------------------------------------------------
    public Builder setScope(AclEntryScope scope) {
      assert !x;
      this.scope = scope;
    }

[2020-03-20 14:41] 0crat commented on #92
The job [#92](https://github.com/yegor256/aibolit/issues/92) assigned to @acheshkov[/z](https://www.0crat.com/u/acheshkov), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/ade15ac6-e7ec-4a54-a542-21e24e88faeb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-03-20 15:17] 0crat commented on #102
Job `gh:yegor256/aibolit#102` is not assigned, can't get performer

[2020-03-20 16:49] 0crat commented on #89
The job [#89](https://github.com/yegor256/aibolit/issues/89) assigned to @tribals[/z](https://www.0crat.com/u/tribals), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/df75b119-40a1-45fa-8904-006c59b78224); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-03-20 20:51] tribals commented on #89
@yegor256 @acheshkov Need more clarification which cases should be considered a pattern.

- Should it catch `null`s when it is left operand rather right?
- Should it catch "not equal" operations?
- Should it catch checks involving method calls - `Optional.ofNulable()`, `Objects.requireNotNull()`, possible others?

[2020-03-20 21:46] tribals opened #107 "Use assert methods of `unittest.TestCase` class rather than bare `assert` statement in tests"
If you're using stdlib's `unittest` package for writing tests, you shouldn't use "bare" `assert` statements. They are intended for different purposes - to provide [quick-fail validation](https://wiki.python.org/moin/UsingAssertionsEffectively) of function call preconditions. But even this usage is considered an anti-pattern in community.

The issue is that `assert` statement could be [stripped out

[2020-03-20 21:47] 0crat commented on #107
@yegor256[/z](https://www.0crat.com/u/yegor256), @acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-03-23 08:49] lyriccoder commented on #96
assign it to me @0crat

[2020-03-23 08:56] 0crat commented on #96
Are you speaking to me or about me [here](https://github.com/yegor256/aibolit/issues/96#issuecomment-602461563); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2020-03-23 08:57] lyriccoder commented on #96
@0crat assign to me

[2020-03-23 08:57] 0crat commented on #96
You must be invited in order to do that, see [§1](http://www.zerocracy.com/policy.html#1)

[2020-03-23 09:28] 0crat commented on #96
The job [#96](https://github.com/yegor256/aibolit/issues/96) assigned to @lyriccoder[/z](https://www.0crat.com/u/lyriccoder), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/6a6851f4-5efb-41e0-8223-dd73819dd2a4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-03-23 11:48] tribals commented on #89
@yegor256 @acheshkov Bump7

[2020-03-23 15:15] yegor256 commented on #92
@silverCase no, they are not classic setters

[2020-03-24 05:40] silverCase commented on #94
Is this pattern recognized as valid?

[code]

[2020-03-24 07:08] lyriccoder commented on #97
@0crat assign to @lyriccoder

[2020-03-24 07:18] 0crat commented on #97
You must be invited in order to do that, see [§1](http://www.zerocracy.com/policy.html#1)

[2020-03-24 14:57] tribals commented on #89
@0crat status

[2020-03-24 15:04] 0crat commented on #89
@tribals This is what I know about this job in [CT5UB7XAP](https://www.0crat.com/p/CT5UB7XAP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#89](https://github.com/yegor256/aibolit/issues/89) is [in scope](http://www.zerocracy.com/policy.html#14) for 4days
  * The role is `DEV`
  * The job is assigned to @tribals[/z](https://www.0crat.com/u/tribals) for [4days](http://www.ze

[2020-03-24 15:11] 0crat commented on #89
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @yegor256[/z](https://www.0crat.com/u/yegor256) (its creator); I won't close the order; please, re-open it and ask @yegor256[/z](https://www.0crat.com/u/yegor256) to close it

[2020-03-24 15:43] tribals commented on #89
@yegor256 Can you please re-open issue and close it again by yourself? I don't have enough permissions to re-open.

[2020-03-25 06:46] lyriccoder commented on #95
@yegor256 This pattern is A subset of https://github.com/yegor256/aibolit/issues/96

It catches IOException  when throws IOException and then it's rethrown. Should we still focus on it, because it will be very a rare pattern

[2020-03-25 08:15] lyriccoder commented on #95
as discussed with @yegor256  the pattern is the following:

[code]

[2020-03-25 08:25] lyriccoder commented on #95
I am implementing it

[2020-03-25 08:36] #100 closed

[2020-03-25 08:56] 0crat commented on #100
Job `gh:yegor256/aibolit#100` is not assigned, can't get performer

[2020-03-25 09:42] lyriccoder opened #113 "No License in `aibolit/patterns` folder for many patterns"
No License in patterns aibolit/folder for many patterns
[code]

Need to fix them

[2020-03-25 09:43] 0crat commented on #113
@yegor256[/z](https://www.0crat.com/u/yegor256), @acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-03-25 13:31] tribals commented on #89
@yegor256 Bump. I need to close ticket.

[2020-03-25 13:55] yegor256 commented on #99
@0crat in

[2020-03-25 14:06] 0crat commented on #89
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @acheshkov[/z](https://www.0crat.com/u/acheshkov) is the architect now

[2020-03-25 14:07] 0crat commented on #88
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @acheshkov[/z](https://www.0crat.com/u/acheshkov) is the architect now

[2020-03-25 14:10] 0crat commented on #92
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @acheshkov[/z](https://www.0crat.com/u/acheshkov) is the architect now

[2020-03-25 14:11] 0crat commented on #96
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @acheshkov[/z](https://www.0crat.com/u/acheshkov) is the architect now

[2020-03-25 14:55] acheshkov commented on #107
@0crat assign @tribals

[2020-03-25 14:56] acheshkov commented on #97
@0crat in

[2020-03-25 14:56] acheshkov commented on #97
@0crat assign @lyriccoder

[2020-03-25 14:56] acheshkov commented on #99
@0crat assign @tribals

[2020-03-25 15:07] 0crat commented on #99
@acheshkov The job [#99](https://github.com/yegor256/aibolit/issues/99) assigned to @tribals[/z](https://www.0crat.com/u/tribals), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/a8db7124-22dd-4334-a741-4a2f8e696e07); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-03-25 15:08] 0crat commented on #107
@acheshkov The job [#107](https://github.com/yegor256/aibolit/issues/107) assigned to @tribals[/z](https://www.0crat.com/u/tribals), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/d4d2e797-0d27-4ea7-8a07-1195492a0c5c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-03-25 15:22] 0crat commented on #97
@acheshkov The job [#97](https://github.com/yegor256/aibolit/issues/97) assigned to @lyriccoder[/z](https://www.0crat.com/u/lyriccoder), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/36b9afe9-9e42-4827-b4a2-625f910d8576); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-03-25 15:42] tribals commented on #89
@acheshkov Please, reopen issue and close it by yourself, so I will count as done by me in Zerocrat.

[2020-03-25 17:23] tribals commented on #99
@yegor256 Is it correct that a primary constructor is one that assigns values to instance variables?

[2020-03-26 08:44] acheshkov commented on #89
Thx

[2020-03-26 08:44] #89 closed

[2020-03-26 08:44] 0crat commented on #89
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-03-26 08:53] #67 closed

[2020-03-26 08:56] lyriccoder opened #116 "Check Null: Improvement"
We need to check the following cases also for `null_check` pattern:

1. boolean i = z == null;
2. boolean i = z != null;
3. luckyName != null ? luckyName : "No lucky name found";
4. if (z != null)
5. luckyName == null ? luckyName : "No lucky name found";
6. assert param != null;
7. assertThrows(NullPointerException.class, () -> wrapperSum(null, 2));
8. Optional<String> op2 = Optional.ofNullable(nu

[2020-03-26 08:57] 0crat commented on #116
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-03-26 08:57] acheshkov commented on #116
@0crat in

[2020-03-26 08:58] acheshkov commented on #116
@0crat assign @tribals

[2020-03-26 09:06] acheshkov commented on #97
Thx

[2020-03-26 09:06] #97 closed

[2020-03-26 09:06] #96 closed

[2020-03-26 09:06] #95 closed

[2020-03-26 09:06] #94 closed

[2020-03-26 09:06] #92 closed

[2020-03-26 09:06] #78 closed

[2020-03-26 09:06] #90 closed

[2020-03-26 09:07] 0crat commented on #91
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-03-26 09:09] 0crat commented on #116
@acheshkov The job [#116](https://github.com/yegor256/aibolit/issues/116) assigned to @tribals[/z](https://www.0crat.com/u/tribals), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/4d1776a2-00d6-4826-bf3c-cc1b4e5fbcd5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-03-26 09:40] 0crat commented on #90
Job `gh:yegor256/aibolit#90` is not assigned, can't get performer

[2020-03-26 09:46] 0crat commented on #116
@acheshkov Job [#116](https://github.com/yegor256/aibolit/issues/116) is not in the agenda of @tribals[/z](https://www.0crat.com/u/tribals), can't set title

[2020-03-26 10:06] 0crat commented on #91
Job `gh:yegor256/aibolit#91` is not assigned, can't get performer

[2020-03-26 10:10] 0crat commented on #97
Job was finished in 18 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-03-26 10:12] 0crat commented on #67
Job `gh:yegor256/aibolit#67` is not assigned, can't get performer

[2020-03-26 10:16] 0crat commented on #95
Job `gh:yegor256/aibolit#95` is not assigned, can't get performer

[2020-03-26 10:16] 0crat commented on #94
Job `gh:yegor256/aibolit#94` is not assigned, can't get performer

[2020-03-26 10:19] 0crat commented on #78
Job `gh:yegor256/aibolit#78` is not assigned, can't get performer

[2020-03-26 10:29] 0crat commented on #92
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.52](https://github.com/zerocracy/farm): CID: [50bbb9fd-3312-4165-9df8-c4022823c5e7](https://www.0crat.com/footprint/CT5UB7XAP/50bbb9fd-3312-4165-9df8-c4022823c5e7), Type: "Remove job from WBS"

[2020-03-26 10:31] 0crat commented on #88
@acheshkov[/z](https://www.0crat.com/u/acheshkov) this job was assigned to you 8days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-26 10:58] 0crat commented on #88
@acheshkov[/z](https://www.0crat.com/u/acheshkov) I see that you unassigned this issue; the order is still assigned to @acheshkov[/z](https://www.0crat.com/u/acheshkov) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-03-26 10:58] acheshkov commented on #88
@lyriccoder Have it been fixed already?

[2020-03-26 10:59] 0crat commented on #88
The job [#88](https://github.com/yegor256/aibolit/issues/88) assigned to @lyriccoder[/z](https://www.0crat.com/u/lyriccoder), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/92ec4cd9-cb40-4373-b312-6e30a31b10ee); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-03-26 11:31] 0crat commented on #107
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @tribals[/z](https://www.0crat.com/u/tribals) (its creator); I won't close the order; please, re-open it and ask @tribals[/z](https://www.0crat.com/u/tribals) to close it

[2020-03-26 11:40] #107 closed

[2020-03-26 11:40] 0crat commented on #107
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-03-26 12:02] 0crat commented on #107
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-03-26 13:03] yegor256 opened #118 "non_final_attribute pattern"
Here it is:

[code]

Once we see a mutable attribute (without `final` modifier), it's a pattern

[2020-03-26 13:03] 0crat commented on #118
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-03-26 13:09] yegor256 opened #119 "assert_in_code pattern"
Here it is:

[code]

Once you see the `assert` statement and class name doesn't end with `Test`, it's a pattern.

[2020-03-26 13:09] 0crat commented on #119
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-03-26 13:13] yegor256 opened #120 "multiple_white pattern"
Here it is:

[code]

Once you see two or more `while` statements in a method body, it's a pattern.

[2020-03-26 13:13] 0crat commented on #120
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-03-26 13:45] #91 closed

[2020-03-26 14:07] 0crat commented on #91
Job `gh:yegor256/aibolit#91` is not assigned, can't get performer

[2020-03-26 14:17] #87 closed

[2020-03-26 14:17] #35 closed

[2020-03-26 14:17] #13 closed

[2020-03-26 14:17] #12 closed

[2020-03-26 14:17] #9 closed

[2020-03-26 14:17] #7 closed

[2020-03-26 14:23] acheshkov commented on #119
@0crat in

[2020-03-26 14:24] acheshkov commented on #118
@0crat in

[2020-03-26 14:24] acheshkov commented on #120
@0crat in

[2020-03-26 14:34] 0crat commented on #87
Job `gh:yegor256/aibolit#87` is not assigned, can't get performer

[2020-03-26 14:34] 0crat commented on #35
Job `gh:yegor256/aibolit#35` is not assigned, can't get performer

[2020-03-26 14:35] 0crat commented on #12
Job `gh:yegor256/aibolit#12` is not assigned, can't get performer

[2020-03-26 14:35] 0crat commented on #7
Job `gh:yegor256/aibolit#7` is not assigned, can't get performer

[2020-03-26 14:38] 0crat commented on #9
Job `gh:yegor256/aibolit#9` is not assigned, can't get performer

[2020-03-26 14:40] lyriccoder opened #121 "The Setter pattern shouldn't look at asserts"
As discussed in https://github.com/yegor256/aibolit/issues/92 with @yegor256 there is a pattern with assert:
[code]

We should find those cases

[2020-03-26 14:40] 0crat commented on #121
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-03-26 14:43] 0crat commented on #13
Job `gh:yegor256/aibolit#13` is not assigned, can't get performer

[2020-03-26 14:47] silverCase commented on #121
Will do

[2020-03-26 15:15] 0crat commented on #119
The job [#119](https://github.com/yegor256/aibolit/issues/119) assigned to @tribals[/z](https://www.0crat.com/u/tribals), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/355d864f-b964-4727-9078-e9248dce8fa3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-03-27 00:19] fanifieiev opened #123 "Why not making classes having value() method implement interface???"
Reviewing some pull requests I came across a lot of classes having `value()` method.
So, why not making them implement some interface?
I am doing a python project [PyEO](https://github.com/fanifieiev/pyeo) , where I try to follow EO paradigm and try to use the same approach as in [Cactoos](https://github.com/yegor256/cactoos).
Here is an example of Scalar interface (https://github.com/fanifieiev/p

[2020-03-27 00:19] 0crat commented on #123
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-03-27 08:15] 0crat commented on #121
The job [#121](https://github.com/yegor256/aibolit/issues/121) assigned to @silvercase[/z](https://www.0crat.com/u/silvercase), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/67842526-b189-474e-b42c-e32fec3704db); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-03-27 08:40] lyriccoder commented on #98
I am implemented it

[2020-03-27 09:05] acheshkov commented on #123
@fanifieiev Hi! Yes, good point. The project requires its principal architecture. We bear that in mind.

[2020-03-27 09:27] acheshkov opened #125 "Add CLI usage example video/gif to README"
@yegor256 hoe about to add video from presentation to README file

[2020-03-27 09:33] 0crat commented on #125
The job [#125](https://github.com/yegor256/aibolit/issues/125) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/2229a354-8659-47f4-92c8-cdd47b0b969e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-03-27 09:35] 0crat commented on #98
The job [#98](https://github.com/yegor256/aibolit/issues/98) assigned to @lyriccoder[/z](https://www.0crat.com/u/lyriccoder), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/0a889e39-92d5-43f9-927c-43afe579c662); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-03-27 13:42] yegor256 opened #126 "public_static pattern"
Here it is:

[code]

Once you see a public static method, it's a pattern.

[2020-03-27 13:43] yegor256 opened #127 "private_static pattern"
Here it is:

[code]

Once you see a private static method, it's a pattern.

[2020-03-27 13:45] yegor256 opened #128 "joined_validation pattern"
Here it is:

[code]

Once you see a validation (`if` with a single `throw` inside) and its condition contains more than one condition joined with `OR` -- it's a pattern.

[2020-03-27 14:25] tribals opened #130 "Bring static type checking for whole project"
Python is dynamically typed language. But there is [ongoing work](https://docs.python.org/3/library/typing.html) for bringing static type checking to it.

The static type checking consists of two parts: type hints and third-party static type checkers (linters).

Let's take a closer look to both parts.

Type hints, well, is just hints. They are simple annotations of source code which explain what t

[2020-03-27 14:44] 0crat commented on #126
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-03-27 14:44] 0crat commented on #127
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-03-27 14:46] 0crat commented on #128
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-03-27 15:27] 0crat commented on #130
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-03-27 16:09] fanifieiev opened #131 "why not making __file_to_ast method as a class ????"
I see a lot of methods which look identical in the project
[code]
Why not creating a separate class:
[code]

[2020-03-27 16:09] 0crat commented on #131
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-03-30 09:08] acheshkov opened #133 "Implement Cognitive Complexity metric"
Using specification [1] implement in python CognitiveComplexity metric.

[1].  https://www.sonarsource.com/docs/CognitiveComplexity.pdf

[2020-03-30 09:17] acheshkov commented on #133
@0crat in

[2020-03-30 15:32] #98 closed

[2020-03-30 15:33] acheshkov commented on #131
@0crat in

[2020-03-30 15:35] acheshkov commented on #130
@tribals I agree

[2020-03-30 16:07] 0crat commented on #99
@tribals[/z](https://www.0crat.com/u/tribals) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-30 16:32] victornoel commented on #88
@lyriccoder you are lucky I saw that it was fixed, but next time please notify me so that I can close the ticket when the job is done.

[2020-03-30 16:32] #88 closed

[2020-03-30 16:58] 0crat commented on #118
The job [#118](https://github.com/yegor256/aibolit/issues/118) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/067a5df1-28ff-4727-bcab-4e11e134ec35); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-03-30 17:10] 0crat commented on #120
The job [#120](https://github.com/yegor256/aibolit/issues/120) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/c21c3b75-8056-46e1-a234-835acdd772d1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-03-31 10:48] 0crat commented on #116
@tribals[/z](https://www.0crat.com/u/tribals) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-31 13:16] 0crat commented on #99
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @yegor256[/z](https://www.0crat.com/u/yegor256) (its creator); I won't close the order; please, re-open it and ask @yegor256[/z](https://www.0crat.com/u/yegor256) to close it

[2020-03-31 14:45] 0crat commented on #119
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @yegor256[/z](https://www.0crat.com/u/yegor256) (its creator); I won't close the order; please, re-open it and ask @yegor256[/z](https://www.0crat.com/u/yegor256) to close it

[2020-03-31 15:43] 0crat commented on #119
@tribals[/z](https://www.0crat.com/u/tribals) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-31 16:32] #99 closed

[2020-03-31 16:32] 0crat commented on #99
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-03-31 17:31] 0crat commented on #133
The job [#133](https://github.com/yegor256/aibolit/issues/133) assigned to @tribals[/z](https://www.0crat.com/u/tribals), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/0266f6fc-b743-4f7a-88c5-024d1c9be9ff); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-01 08:46] 0crat commented on #121
@silvercase[/z](https://www.0crat.com/u/silvercase) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-01 14:52] acheshkov commented on #126
@0crat in

[2020-04-01 14:53] acheshkov commented on #127
@0crat in

[2020-04-01 14:53] acheshkov commented on #128
@0crat in

[2020-04-01 14:54] acheshkov commented on #130
@0crat in

[2020-04-01 14:54] acheshkov commented on #130
@0crat assign @tribals

[2020-04-01 15:18] 0crat commented on #130
@acheshkov The job [#130](https://github.com/yegor256/aibolit/issues/130) assigned to @tribals[/z](https://www.0crat.com/u/tribals), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/c779793e-541f-49a3-b09a-150d0bc7d5a3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-04-01 15:48] #119 closed

[2020-04-01 15:48] 0crat commented on #119
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-01 20:45] yegor256 opened #136 "array_as_argument pattern"
Here it is:

[code]

If we pass an array as an argument, it's a pattern. It's better to use objects, instead of arrays.

[2020-04-01 20:45] 0crat commented on #136
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-01 20:52] yegor256 opened #137 "nested_loop pattern"
Here it is:

[code]

Once we find a loop (`for` or `while`) inside another loop (`for` or `while`) it's a pattern.

[2020-04-01 20:53] 0crat commented on #137
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-01 20:56] yegor256 opened #138 "loop_outsider pattern"
Here it is:

[code]

Once we modify a variable, which is declared outside of the scope of the loop, it's a pattern.

[2020-04-01 20:57] 0crat commented on #138
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-01 20:59] yegor256 opened #139 "bidirect_index pattern"
Here it is:

[code]

If the same numeric variable is incremented and decremented within the same method, it's a pattern. A numeric variable should either be always growing or decreasing. Bi-directional index is confusing.

[2020-04-01 20:59] 0crat commented on #139
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-01 21:02] yegor256 opened #140 "incomplete_for pattern"
Here it is:

[code]

A `for` loop must have all three parts defined. Very often programmers skip one, two or all three of them. This definitely is a pattern.

[2020-04-01 21:02] 0crat commented on #140
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-01 21:05] yegor256 opened #141 "var_siblings pattern"
Here it is:

[code]

Here `fileSize` and `fileDate` are "siblings" because they both have `file` as first part of their compound names. This is not a good practice, I believe. It's better to rename them to `size` and `date`.

`file` and `fileSize` are NOT siblings.

[2020-04-01 21:05] 0crat commented on #141
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-01 21:07] yegor256 opened #142 "method_siblings pattern"
Similar to #141. Here it is:

[code]

It's not a good practice to have compound names which start with the same first word. Better rename them to `size()` and `date()`.

`file` and `fileSize` are NOT siblings.

[2020-04-01 21:07] 0crat commented on #142
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-01 21:11] yegor256 opened #143 "non_final_class pattern"
Once we see a class that doesn't have `final` modifier, it's a pattern. It's a good practice to make all classes final: https://www.yegor256.com/2014/11/20/seven-virtues-of-good-object.html

[2020-04-01 21:11] 0crat commented on #143
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-01 21:12] yegor256 opened #144 "mutable_class pattern"
If we see a class that has at least one non-`final` attribute, it's a mutable class. It's a good practice to make all classes immutable: https://www.yegor256.com/2014/06/09/objects-should-be-immutable.html

[2020-04-01 21:12] 0crat commented on #144
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-01 21:14] yegor256 opened #145 "non_final_attribute pattern"
Here it is:

[code]

Once we see an attribute that doesn't have `final` modifier, it's a pattern.

[2020-04-01 21:14] 0crat commented on #145
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-01 21:16] yegor256 opened #146 "non_final_argument pattern"
Here it is:

[code]

All method arguments must have `final` modifiers. Once we find an argument without `final`, it's a pattern.

[2020-04-01 21:16] 0crat commented on #146
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-01 21:22] yegor256 opened #147 "mutable_index pattern"
Here it is:

[code]

Once we see that the index variable of the `for` is being modified in the body of the loop, it's a pattern. It's a bad practice.

[2020-04-01 21:22] 0crat commented on #147
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-01 21:33] yegor256 opened #148 "send_null pattern"
Here it is:

[code]

Once we see that `null` is being given as an argument to some method, it's a pattern.

[2020-04-01 21:33] 0crat commented on #148
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-01 21:35] yegor256 opened #149 "assign_null pattern"
Here it is:

[code]

Once we see `= null`, it's a pattern.

[2020-04-01 21:35] 0crat commented on #149
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-01 21:44] yegor256 opened #150 "class_inheritance pattern"
Here it is:

[code]

Once we see that one class extends another one, it's a pattern. Implementation inheritance is a bad practice in OOP: https://www.yegor256.com/2016/09/13/inheritance-is-procedural.html

[2020-04-01 21:44] 0crat commented on #150
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-02 03:19] paulodamaso commented on #145
@acheshkov @yegor256 seems like a duplicate of #118

[2020-04-02 05:41] yegor256 commented on #145
@paulodamaso indeed, my bad, sorry

[2020-04-02 05:41] #145 closed

[2020-04-02 05:59] 0crat commented on #145
Job `gh:yegor256/aibolit#145` is not assigned, can't get performer

[2020-04-02 08:42] acheshkov commented on #136
@0crat in

[2020-04-02 08:47] acheshkov commented on #137
For those who will implement: take a look at already implemented patterns `nested_blocks`, it may save your time and code.

[2020-04-02 08:49] acheshkov commented on #141
@0crat in

[2020-04-02 09:09] acheshkov opened #153 "CLI. aibolit recommendations pipeline(s)"
Aibolit CLI has to recommend which patterns mostly affect the quality of the code. We call it `recommendation pipeline`. The `recommendation pipeline` consists of:

1. Take in Java Class File or Project Folder
2. Calculate all metrics and patterns for this file
3. Run ML model to get ranked lists of patterns
4. Prepare recommendations for a user based on the ranked patterns

For today, some protot

[2020-04-02 09:17] acheshkov commented on #153
@0crat in

[2020-04-02 10:13] acheshkov opened #154 "CLI. ML pipeline"
Aibolit CLI makes its recommendations based on the model learned using ML algorithms. We need provide a CLI to the open-source community to train its own model. We will call it `ML pipelines`.

 - RQ1. Use for training it's own dataset of Java classes
 - RQ2. ~Use for training [Java-large dataset](https://s3.amazonaws.com/code2vec/data/java-large_data.tar.gz)~
 - RQ3. Use for training trending jav

[2020-04-02 11:32] 0crat commented on #131
The job [#131](https://github.com/yegor256/aibolit/issues/131) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/5a120df8-b846-45e3-bd7d-19e7b4c8ebdb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-02 17:04] fanifieiev opened #157 "Method value(self, filename) in pattern classes should not accept filename"
I can see that the pattern identification classes residing in package https://github.com/yegor256/aibolit/tree/master/aibolit/patterns
have method `value(self, filename)`, like:
So, you can use the value several times with different filenames, but I think the filename should be passed thru `__init__`, and `value` method should just rely on the passed filename.
It is actually better to make interfa

[2020-04-02 17:04] 0crat commented on #157
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-03 07:24] silverCase commented on #148
Can I take it?

[2020-04-03 07:27] acheshkov commented on #148
@silverCase yes, assigned.

[2020-04-03 07:30] 0crat commented on #148
The job [#148](https://github.com/yegor256/aibolit/issues/148) assigned to @silvercase[/z](https://www.0crat.com/u/silvercase), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/a43fd4bd-9042-44f6-b0f5-096eea8287fe); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-04-03 12:02] paulodamaso commented on #118
@yegor256 solved on #134, please close

[2020-04-03 14:42] 0pdd opened #158 "ast.py:14-17: Introduce tests for AST.value method...."
The puzzle `131-820bc5fe` from #131 has to be resolved:

https://github.com/yegor256/aibolit/blob/077cb76d4798cb3cf580a5e538d1132eea6c59e9/aibolit/utils/ast.py#L14-L17

The puzzle was created by paulodamaso on 02-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2020-04-03 14:42] 0pdd opened #159 "string_concat.py:12-15: NoComments implementation of Ast..."
The puzzle `131-26d15f59` from #131 has to be resolved:

https://github.com/yegor256/aibolit/blob/077cb76d4798cb3cf580a5e538d1132eea6c59e9/aibolit/patterns/string_concat/string_concat.py#L12-L15

The puzzle was created by paulodamaso on 02-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2020-04-03 14:42] 0pdd opened #160 "var_middle.py:70-73: Lines implementation of Ast this..."
The puzzle `131-15497229` from #131 has to be resolved:

https://github.com/yegor256/aibolit/blob/077cb76d4798cb3cf580a5e538d1132eea6c59e9/aibolit/patterns/var_middle/var_middle.py#L70-L73

The puzzle was created by paulodamaso on 02-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-04-03 14:42] 0pdd commented on #131
@fanifieiev 3 puzzles [#158](https://github.com/yegor256/aibolit/issues/158), [#159](https://github.com/yegor256/aibolit/issues/159), [#160](https://github.com/yegor256/aibolit/issues/160) are still not solved.

[2020-04-03 14:42] 0crat commented on #158
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-03 14:44] 0crat commented on #160
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-03 14:44] 0crat commented on #159
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-03 15:08] fanifieiev commented on #131
The issue has been resolved, closing the ticket

[2020-04-03 15:08] #131 closed

[2020-04-03 15:26] 0crat commented on #131
Job was finished in 27 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-03 15:32] acheshkov commented on #160
@0crat  in

[2020-04-03 15:33] acheshkov commented on #159
@0crat in

[2020-04-03 15:33] acheshkov commented on #158
@0crat in

[2020-04-03 16:03] 0crat commented on #126
The job [#126](https://github.com/yegor256/aibolit/issues/126) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/eb9b4738-63cc-425b-bb2e-d6c5522c045c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-03 16:09] 0crat commented on #127
The job [#127](https://github.com/yegor256/aibolit/issues/127) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/164ef96c-2796-4d7c-8600-74812c45bd4a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-03 17:08] yegor256 opened #161 "class_variable pattern"
Here it is:

[code]

Once we see a variable with a type of a class (not interface or primitive), it's a pattern. Should be `List` instead, in the example above.

[2020-04-03 17:08] 0crat commented on #161
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-04 09:32] tribals commented on #116
@lyriccoder Could you provide explanation of what is considered a pattern when `null` check is implemented using method calls? It is not clear from these examples:

I'm not a Java programmer, and have no time to dive into these weird Java things.

[2020-04-04 10:20] tribals commented on #133
@acheshkov It is not clear what should be done to resolve the issue.

Please, provide these details:

- It is supposed to implement Cognitive Complexity metric for Java, written purely in Python? I mean, the whole algorithm of counting complexity?
- Or it is supposed to integrate some existing tool which is capable of doing so for Java? If so, which tool? Should it be a Maven plugin, or completely

[2020-04-04 10:21] tribals commented on #133
@0crat wait

[2020-04-04 10:26] tribals commented on #116
@0crat wait

[2020-04-04 16:45] 0crat commented on #118
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-04 17:46] 0crat commented on #120
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-05 02:06] paulodamaso commented on #120
@0crat wait for #135 merge

[2020-04-05 06:25] yegor256 opened #164 "protected_method pattern"
Once we find a protected method in a class, it's a pattern.

[2020-04-05 06:25] 0crat commented on #164
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-06 07:05] acheshkov opened #166 "Suggest new Quality Metrics of Java classes."

[2020-04-06 08:01] lukyanoffpashok commented on #149
@acheshkov, I want to implement this pattern

[2020-04-06 08:03] 0crat commented on #149
The job [#149](https://github.com/yegor256/aibolit/issues/149) assigned to @lukyanoffpashok[/z](https://www.0crat.com/u/lukyanoffpashok), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/b70afb36-2c59-4dce-a1d7-791b43e0bba1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-04-06 08:17] 0crat commented on #121
The user @silvercase[/z](https://www.0crat.com/u/silvercase) resigned from [#121](https://github.com/yegor256/aibolit/issues/121), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-04-06 12:25] angusev commented on #166
I propose to implement metrics of associated AST. I believe these metrics correspond well to human perception:
~ max depth of AST
~ number of leaves (number of all possible paths)
~ max node degree in AST

[2020-04-06 12:30] silverCase commented on #166
Must have:
CWORD – a certain percentage of comments in source code is a good practice.
CBO  – numbers of mutual dependencies between classes.
COH – overall coherence in the source code file.
May be pretty good:
DIT – Depth of Inheritance Tree, the deeper inheritance is the more complex code becomes.
NCO – number of methods returning a NULL value.

[2020-04-06 12:32] lukyanoffpashok commented on #166
NOS - Total number of Java Statements in class. Simple to calculate using javalang.

[2020-04-06 12:54] lukyanoffpashok commented on #166
NSUB - number of subclasses of this class. Simple to calculate using AST representation.

[2020-04-06 13:02] lukyanoffpashok commented on #166
HIER - number of methods called that are defined in the hierarchy of the class.

[2020-04-06 13:14] lukyanoffpashok commented on #166
Based on AST metrics:
1) maxinum lenth of the path between leaves in AST
2) minimum lenth of the path between leaves in AST

[2020-04-06 13:51] lukyanoffpashok commented on #166
MPC - the number of external methods called by all the methods in the class

[2020-04-06 13:55] lukyanoffpashok commented on #166
LMC - number of local methods calls(calls to methods that are defined in this class)

[2020-04-06 14:47] silverCase commented on #148
@yegor256 What if we see something like that?
`    private String getWarningMessage(String key) {
      return getWarningMessage(key, null);
    }`
Is this recognized as a pattern?

[2020-04-06 14:58] lyriccoder commented on #166
**MPC** is has the most impact on readability, in my opinion. The more external methods you call, the less readable code is, since we switch from context into context. Also if we have a complicated domain (we have lots of classes in the package and they are all used in a function), it will also be taking into account.
Also, I would add the number of used class fields to this metrics

[2020-04-06 16:45] 0crat commented on #130
@tribals[/z](https://www.0crat.com/u/tribals) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-07 03:17] paulodamaso commented on #118
@0crat wait for closure

[2020-04-07 03:18] paulodamaso commented on #118
@acheshkov please close

[2020-04-07 03:21] paulodamaso commented on #126
@acheshkov merged, please close

[2020-04-07 08:08] acheshkov commented on #166
A number of unique, non-primitive data types used in the code normalized by NCSS.

[2020-04-07 08:41] acheshkov commented on #123
@0crat in

[2020-04-07 08:45] acheshkov commented on #133
@tribals answers on your questions:

 - yes, implement using Python for Java code
 - you can use 3rd Python party libraries
 - Metric's output is a number

[2020-04-07 09:03] tribals commented on #130
Done

[2020-04-07 09:03] #130 closed

[2020-04-07 09:56] Vitaly-Protasov opened #167 "Metric: Maximum length of the path between identifiers in AST"
Here I'll try to overview an idea of the mentioned metric at the topic.

Our purpose is to get the maximum size of the path between leaves in AST.
It can be conducted by traversing through the AST of code snippet.

Let's consider an example at  the code snippet and its AST representation:
![image](https://user-images.githubusercontent.com/43099602/78655840-33275300-78cf-11ea-8432-bb3c960bfce7.png)

[2020-04-07 09:56] 0crat commented on #167
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-07 10:03] 0crat commented on #121
The job [#121](https://github.com/yegor256/aibolit/issues/121) assigned to @tribals[/z](https://www.0crat.com/u/tribals), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/55e513d5-39e9-499a-a094-254eb762a0cf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-07 13:24] 0crat commented on #167
The job [#167](https://github.com/yegor256/aibolit/issues/167) assigned to @vitaly-protasov[/z](https://www.0crat.com/u/vitaly-protasov), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/6fbcdb42-c55f-4233-a75b-70096ea95822); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-04-07 13:27] silverCase commented on #148
@yegor256 Is this recognized as a valid pattern?
'''
  public static void addDeprecation(String key, String[] newKeys) {
    addDeprecation(key, newKeys, null);
  }
'''
When not only null is given as an argument.

[2020-04-07 14:32] silverCase opened #169 "Metric: Max Depth of AST"
### Max Depth of AST
Using the AST representation of code snippet below we can introduce a new metric:

[code]
This AST for this snippet will look like this:

![image](https://user-images.githubusercontent.com/57872461/78678728-06386780-78f2-11ea-9852-4e021be0c591.png)

Rectangle objects are determined as terminals, elliptic objects are nonterminals, referring to code2seq [paper](https://arxiv.org

[2020-04-07 14:32] 0crat commented on #169
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-07 15:18] lyriccoder opened #170 "multiple try patterns doesn't differ the same method with different class names"
Test should return empty array for this class:

[ServiceEntry.txt](https://github.com/yegor256/aibolit/files/4445460/ServiceEntry.txt)

[2020-04-07 15:19] 0crat commented on #170
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-08 07:45] 0crat commented on #169
The job [#169](https://github.com/yegor256/aibolit/issues/169) assigned to @silvercase[/z](https://www.0crat.com/u/silvercase), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/801f2c37-957f-43dd-9169-ea0c86167e1b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-04-08 07:47] 0crat commented on #148
@silvercase[/z](https://www.0crat.com/u/silvercase) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-08 09:03] 0crat commented on #128
The job [#128](https://github.com/yegor256/aibolit/issues/128) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/10de7f0e-ba78-4ba7-8513-0615ac700924); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-08 10:18] lyriccoder opened #172 "Redundant catch doesn't count lines of code correctly"

[2020-04-08 10:19] 0crat commented on #172
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-08 12:42] #172 closed

[2020-04-08 12:59] 0crat commented on #172
Job `gh:yegor256/aibolit#172` is not assigned, can't get performer

[2020-04-08 13:18] lyriccoder opened #175 "Red_catch fails when throws in constructors and not catch block"
Red_catch fails when throws in constructors and not catch block
[code]

[code]

[2020-04-08 13:18] 0crat commented on #175
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-08 14:00] acheshkov opened #177 "VarMiddle do not count constructor as a method"
VarMiddle pattern do not consider class constructor as a method declaration, but it should.

[2020-04-08 14:44] lyriccoder opened #180 "Empty rethrow fails when we have chaining exceptions"

[2020-04-08 14:44] 0crat commented on #180
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-08 15:25] silverCase opened #182 "Metric: Cohesion"
### Cohesion: [LCOM4](https://www.aivosto.com/project/help/pm-oo-cohesion.html#LCOM4)
For calculating the cohesion of java class I suggest using the LCOM4 metric (Lack of Cohesion in Methods).
LCOM4 measures the number of "connected components" in a class. A connected component is a set of related methods (and class-level variables). There should be only one such component in each class. If there

[2020-04-08 15:26] 0crat commented on #182
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-08 15:30] lukyanoffpashok opened #183 "Metric: number of external methods called by all the methods in the class"
In the methods in the class an external method for this class can be called. So number of external methods called by all the methods in the class is suggested as a metric.

[2020-04-08 15:30] 0crat commented on #183
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-08 15:38] lukyanoffpashok opened #184 "Metric: number of local methods calls"
In the methods in the class an local method(method that is defined in this class) can be called. So number of local methods calls by all the methods in the class is suggested as a metric.

[2020-04-08 15:38] 0crat commented on #184
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-08 16:45] 0crat commented on #127
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-08 16:45] 0crat commented on #126
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-08 17:02] acheshkov commented on #184
@0crat in

[2020-04-08 17:03] acheshkov commented on #183
@0crat in

[2020-04-08 19:49] tribals commented on #175
This is completely not clear what the issue is all about. Please, provide following information:

- Who is failing, though?
- Under what conditions it fails?
- Provide clear Java code example.
- Why it fails?

[2020-04-09 11:30] #175 closed

[2020-04-09 11:52] 0crat commented on #175
Job `gh:yegor256/aibolit#175` is not assigned, can't get performer

[2020-04-09 12:36] #118 closed

[2020-04-09 12:52] 0crat commented on #143
The job [#143](https://github.com/yegor256/aibolit/issues/143) assigned to @acheshkov[/z](https://www.0crat.com/u/acheshkov), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/bbc905db-cbcd-4ceb-a87e-812f59be9586); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-04-09 12:55] 0crat commented on #137
The job [#137](https://github.com/yegor256/aibolit/issues/137) assigned to @acheshkov[/z](https://www.0crat.com/u/acheshkov), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/21ed0a5c-0567-4420-924f-c73a07d8cb9c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-04-09 14:11] paulodamaso commented on #127
@acheshkov Merged, please close

[2020-04-09 14:12] paulodamaso commented on #126
@acheshkov ping

[2020-04-09 14:12] paulodamaso commented on #126
@yegor256 ping

[2020-04-09 16:14] acheshkov commented on #120
@yegor256 done, please close

[2020-04-09 16:22] acheshkov commented on #133
@tribals any progress other questions?

[2020-04-09 16:27] #180 closed

[2020-04-09 16:28] lyriccoder opened #190 "String concat fails for many files"

[2020-04-09 16:28] 0crat commented on #190
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-09 16:52] 0crat commented on #180
Job `gh:yegor256/aibolit#180` is not assigned, can't get performer

[2020-04-09 16:53] #137 closed

[2020-04-09 17:07] acheshkov commented on #137
@yegor256, please close

[2020-04-09 17:10] 0crat commented on #137
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @yegor256[/z](https://www.0crat.com/u/yegor256) (its creator); I won't close the order; please, re-open it and ask @yegor256[/z](https://www.0crat.com/u/yegor256) to close it

[2020-04-09 17:36] acheshkov commented on #166
![image](https://user-images.githubusercontent.com/231433/78924032-cfa14f00-7aa1-11ea-938d-92726f847887.png)

[2020-04-09 17:37] acheshkov commented on #166
![image](https://user-images.githubusercontent.com/231433/78924099-ecd61d80-7aa1-11ea-8146-55cf3ce61538.png)
https://arxiv.org/pdf/1909.09682.pdf

[2020-04-09 17:39] acheshkov commented on #166
looks similar to https://pmd.github.io/latest/pmd_java_metrics_index.html#class-fan-out-complexity-class_fan_out

[2020-04-09 19:43] tribals commented on #116
@acheshkov The ticket is partially done in PR #156. What should be done next?

[2020-04-09 20:12] tribals commented on #133
@acheshkov Well, here is my thoughts.

Unfortunately, this can't be done. At least in the single issue. The topic is complex enough at its own. I'm afraid it requires even the separate project.

There is none of such libraries - written in Python. Is is not surprising since it is not common to analyze sources in one language using tools written in another. But parsers for such a case is generally

[2020-04-09 21:04] tribals commented on #121
@lyriccoder The pattern is still not clear. According to your example:

[code]

But this is simply not a valid code. What is a `x` variable? Was it passed to setter? No. Then from where it comes?

Also, this is not clear what "The Setter pattern shouldn't look at asserts" means ever. As I understood, `classic_setter` matches when method name starts with `set` following member variable name and the

[2020-04-10 08:31] acheshkov commented on #147
@0crat in

[2020-04-10 08:32] acheshkov commented on #142
@0crat in

[2020-04-10 08:33] acheshkov commented on #139
@0crat in

[2020-04-10 09:10] lyriccoder opened #192 "SpaceCounter fails for file with 0 or 1 line"
Fix case for SpaceCounter when we have 0 or 1 lines

1. If the file is empty (all code is commented)
2. If the file has 1 line (cause variance can be calculated for 2 points)

[2020-04-10 09:10] 0crat commented on #192
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-10 09:25] lyriccoder opened #194 "ThisFind patterns fails"
ThisFind patterns fails for the current files:
[ThisFindFiles.zip](https://github.com/yegor256/aibolit/files/4460888/ThisFindFiles.zip)

You can see the full log here:
[errors.txt](https://github.com/yegor256/aibolit/files/4460884/errors.txt)

[2020-04-10 09:25] 0crat commented on #194
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-10 09:26] lyriccoder commented on #194
@0crat  assign to @lukyanoffpashok

[2020-04-10 09:31] 0crat commented on #194
@lyriccoder You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-04-10 09:34] acheshkov commented on #194
@0crat assign to @lukyanoffpashok

[2020-04-10 09:34] acheshkov commented on #194
@lukyanoffpashok please take a look

[2020-04-10 09:35] #170 closed

[2020-04-10 09:35] 0crat commented on #194
@acheshkov There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.1](https://github.com/zerocracy/farm): CID: [068c356b-c049-443f-92e5-03f3257ef65e](https://www.0crat.com/footprint/CT5UB7XAP/068c356b-c049-443f-92e5-03f3257ef65e), Type: "Start order"

[2020-04-10 09:37] lyriccoder commented on #159
@acheshkov  you can close it since string_concat has been rewritten to javalang here: https://github.com/yegor256/aibolit/pull/191

[2020-04-10 09:38] acheshkov commented on #194
@0crat reject

[2020-04-10 09:39] lyriccoder opened #195 "Assert pattern fails for given files"
Assert pattern fails for given files
[AssertFiles.zip](https://github.com/yegor256/aibolit/files/4460942/AssertFiles.zip)

You can found full log here:
[errors.txt](https://github.com/yegor256/aibolit/files/4460946/errors.txt)

[2020-04-10 09:39] 0crat commented on #195
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-10 09:43] acheshkov commented on #195
@0crat assign @tribals

[2020-04-10 09:53] 0crat commented on #194
@acheshkov Job `gh:yegor256/aibolit#194` is not assigned, can't get performer

[2020-04-10 09:53] Vitaly-Protasov opened #196 "Metric: Count the number of leaves in an AST for each method"
As it was considered in #166 it's needed to add counting of leaf nodes in AST

[2020-04-10 09:53] 0crat commented on #196
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-10 09:55] 0crat commented on #195
@acheshkov The job [#195](https://github.com/yegor256/aibolit/issues/195) assigned to @tribals[/z](https://www.0crat.com/u/tribals), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/da8f4929-a22c-4076-b65e-8523234ad1f0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-04-10 09:55] 0crat commented on #170
Job `gh:yegor256/aibolit#170` is not assigned, can't get performer

[2020-04-10 10:05] 0crat commented on #196
The job [#196](https://github.com/yegor256/aibolit/issues/196) assigned to @vitaly-protasov[/z](https://www.0crat.com/u/vitaly-protasov), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/12c839f8-13df-4eb7-9552-abcedc4202f8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-04-10 10:08] acheshkov commented on #161
@yegor256 Is it possible that we can't figure out either type is class or interface without analyzing additional files?

[2020-04-10 10:35] #167 closed

[2020-04-10 13:51] #143 closed

[2020-04-10 14:04] acheshkov commented on #143
@yegor256 it's done, please close

[2020-04-10 14:08] 0crat commented on #143
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @yegor256[/z](https://www.0crat.com/u/yegor256) (its creator); I won't close the order; please, re-open it and ask @yegor256[/z](https://www.0crat.com/u/yegor256) to close it

[2020-04-10 14:22] lyriccoder opened #199 "New release 0.0.6"

[2020-04-10 14:22] 0crat commented on #199
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-10 15:28] Vitaly-Protasov commented on #196
Soluted here: https://github.com/yegor256/aibolit/pull/198

[2020-04-10 15:28] #196 closed

[2020-04-10 15:47] lyriccoder opened #202 "Make CI pipeline faster"
Merge makes from 4 up to 6 minutes. It takes too much time.
Can we make it faster?

Seems it downloads large packages every time (like pytorch etc about 900Mb)

[2020-04-10 15:48] 0crat commented on #202
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-10 15:50] acheshkov commented on #202
@0crat out

[2020-04-10 15:57] 0crat commented on #202
@acheshkov Job `gh:yegor256/aibolit#202` is not assigned, can't get performer

[2020-04-10 15:58] 0crat commented on #202
@acheshkov There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.1](https://github.com/zerocracy/farm): CID: [eb58b2ca-7f73-4c5b-b3a9-d0801e785267](https://www.0crat.com/footprint/CT5UB7XAP/eb58b2ca-7f73-4c5b-b3a9-d0801e785267), Type: "Order was canceled"

[2020-04-10 15:58] 0crat commented on #202
@acheshkov @yegor256[/z](https://www.0crat.com/u/yegor256) resigned from [#202](https://github.com/yegor256/aibolit/issues/202), since the job is not in scope anymore

[2020-04-10 15:59] 0crat commented on #202
The job [#202](https://github.com/yegor256/aibolit/issues/202) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/0f466c9b-bbd8-422b-af79-1984f8fd8d43); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-04-10 15:59] #192 closed

[2020-04-10 15:59] #190 closed

[2020-04-10 16:00] 0crat commented on #196
Job was finished in 5 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-10 16:18] 0crat commented on #192
Job `gh:yegor256/aibolit#192` is not assigned, can't get performer

[2020-04-10 16:18] 0crat commented on #190
Job `gh:yegor256/aibolit#190` is not assigned, can't get performer

[2020-04-10 16:36] paulodamaso commented on #126
@yegor256 please close, this is clogging my agenda

[2020-04-10 16:36] paulodamaso commented on #126
@acheshkov ping

[2020-04-10 16:45] paulodamaso commented on #127
@acheshkov ping

[2020-04-10 16:45] paulodamaso commented on #127
@yegor256 ping

[2020-04-10 16:47] paulodamaso commented on #120
@yegor256 ping

[2020-04-10 17:28] #199 closed

[2020-04-10 17:53] 0crat commented on #199
Job `gh:yegor256/aibolit#199` is not assigned, can't get performer

[2020-04-11 06:03] 0crat commented on #136
The job [#136](https://github.com/yegor256/aibolit/issues/136) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/79da8fca-5a12-43f3-8639-24d8ee41f8a8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-11 08:46] 0crat commented on #149
@lukyanoffpashok[/z](https://www.0crat.com/u/lukyanoffpashok) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-11 16:43] acheshkov commented on #149
@0crat wait

[2020-04-12 10:44] 0crat commented on #121
@tribals[/z](https://www.0crat.com/u/tribals) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-12 13:42] tribals commented on #121
@0crat wait

[2020-04-12 13:43] tribals commented on #121
@lyriccoder Please, read my comment above.

[2020-04-13 07:46] 0crat commented on #148
The user @silvercase[/z](https://www.0crat.com/u/silvercase) resigned from [#148](https://github.com/yegor256/aibolit/issues/148), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-04-13 08:49] 0crat commented on #169
@silvercase[/z](https://www.0crat.com/u/silvercase) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-13 09:48] 0crat commented on #128
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-13 10:23] #169 closed

[2020-04-13 15:20] lukyanoffpashok opened #206 "Implementing cognitive complexity by steps"
https://github.com/yegor256/aibolit/issues/133
We suggested to implement  considered metric step by step. In the first step lets consider incrementing only 'if, else if, for' structures without nesting.

[2020-04-13 15:20] 0crat commented on #206
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-13 16:05] lyriccoder opened #208 "Pairwise model"
To get ranked list of documents,
we do pairwise comparisons between documents and order them in accordance with classifier predictions.
Train mode and check the results

[2020-04-13 16:05] 0crat commented on #208
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-13 19:03] 0crat commented on #141
The job [#141](https://github.com/yegor256/aibolit/issues/141) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/1c59b4fe-f3e2-4fca-8c93-b6d9db42ca25); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-14 07:24] lyriccoder commented on #157
1) In this case we have a lot of copy-paste code:

[code]

We should avoid it.

2) Moreover, we need to rewrite a lot of tests for this feature.
3) The file is not an attribute of a patterns, it's just a parameter. So, if we need to handle several files we need to create an instance of a patterns. Again,  we have lots of duplicated code. Actually, patterns is a singleton, once created it is never

[2020-04-14 12:45] 0crat commented on #143
@acheshkov[/z](https://www.0crat.com/u/acheshkov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-14 14:00] yegor256 commented on #126
@paulodamaso thanks!

[2020-04-14 14:00] #126 closed

[2020-04-14 14:00] yegor256 commented on #127
@paulodamaso thanks!

[2020-04-14 14:00] #127 closed

[2020-04-14 14:08] 0crat commented on #137
@acheshkov[/z](https://www.0crat.com/u/acheshkov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-14 16:07] 0crat commented on #153
The job [#153](https://github.com/yegor256/aibolit/issues/153) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/0849c36b-dacc-4454-a77a-a337bcb84b1d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-14 16:20] 0crat commented on #148
The job [#148](https://github.com/yegor256/aibolit/issues/148) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/d2b50d58-5f22-41fa-bca6-efb1db6bc8c4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-14 16:22] 0crat commented on #160
The job [#160](https://github.com/yegor256/aibolit/issues/160) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/62cc5f38-f077-4d54-96ce-eb3d10f9a944); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-14 18:10] paulodamaso commented on #128
@yegor256 merged, please close

[2020-04-14 18:10] paulodamaso commented on #128
@0crat wait for closure

[2020-04-14 18:11] paulodamaso commented on #136
@yegor256 merged, please close

[2020-04-14 18:11] paulodamaso commented on #136
@0crat wait for closure

[2020-04-15 01:29] 0crat commented on #137
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.1](https://github.com/zerocracy/farm): CID: [c018fe1c-7cd3-407f-a06f-77ecadef7a65](https://www.0crat.com/footprint/CT5UB7XAP/c018fe1c-7cd3-407f-a06f-77ecadef7a65), Type: "Order was canceled"

[2020-04-15 01:33] 0crat commented on #137
@acheshkov[/z](https://www.0crat.com/u/acheshkov) resigned from [#137](https://github.com/yegor256/aibolit/issues/137), since the job is not in scope anymore

[2020-04-15 10:17] lyriccoder commented on #116
`assertThrows(NullPointerException.class, () -> wrapperSum(null, 2));`
read this answer:
https://stackoverflow.com/a/40268447/565447

`Optional op2 = Optional.ofNullable(null);`
read this answer:
https://stackoverflow.com/a/52038789/565447

`Objects.requireNonNull(bar, "bar must not be null");`
read answer:
https://stackoverflow.com/a/59224387/565447

So, it's a different interfaces to replace `!=

[2020-04-15 10:20] #121 closed

[2020-04-15 11:02] 0crat commented on #195
@tribals[/z](https://www.0crat.com/u/tribals) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-15 11:11] Vitaly-Protasov opened #212 "Consider nesting in cognitive complexity"
Main issue is #133

The first step for solving cognitive complexity was at https://github.com/yegor256/aibolit/pull/207, but there was not considered nesting level for each structure; that's why this metric doesn't work correctly.

The next step is to add to the final value relying on the nesting level.

[2020-04-15 11:11] 0crat commented on #212
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-15 16:44] #148 closed

[2020-04-15 17:03] 0crat commented on #148
Job was finished in 24 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-16 09:01] #212 closed

[2020-04-16 09:18] 0crat commented on #212
Job `gh:yegor256/aibolit#212` is not assigned, can't get performer

[2020-04-16 09:37] acheshkov commented on #166
more metrics here https://hal.inria.fr/hal-00646878/file/Duca11b-Cutter-deliverable11-SoftwareMetrics.pdf

[2020-04-16 11:20] Vitaly-Protasov opened #215 "Cognitive Complexity. Change policy of incrementing IfStatement"
Since the lash PR about Cognitive Complexity it was added incrementing for statements rely on their nesting level.
But, as this metric was discussed in https://www.sonarsource.com/docs/CognitiveComplexity.pdf policy for inrementing IfStatement need to be changed.

For example, in structure
![image](https://user-images.githubusercontent.com/43099602/79450232-58157780-7fed-11ea-9b4f-54d745e2c615.png

[2020-04-16 11:20] 0crat commented on #215
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-16 11:39] Vitaly-Protasov opened #216 "Cognitive Complexity. Didn't consider logical operators"
At the last PR https://github.com/yegor256/aibolit/pull/213  javalang.tree.BinaryOperation was even commented.
It's important to consider this operation, because it was mentioned in original article https://www.sonarsource.com/docs/CognitiveComplexity.pdf

[2020-04-16 11:40] 0crat commented on #216
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-16 13:18] acheshkov commented on #116
@tribals We want to have more test cases to be sure that our pattern catches those particular cases described in this issue.

[2020-04-16 13:20] #128 closed

[2020-04-16 13:22] acheshkov commented on #216
@0crat out

[2020-04-16 13:25] 0crat commented on #216
@acheshkov Job `gh:yegor256/aibolit#216` is not assigned, can't get performer

[2020-04-16 13:26] 0crat commented on #215
The job [#215](https://github.com/yegor256/aibolit/issues/215) assigned to @vitaly-protasov[/z](https://www.0crat.com/u/vitaly-protasov), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/7bc55a27-839b-4cf6-a56b-44199bdf00ea); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-04-16 13:55] paulodamaso commented on #136
@acheshkov please close

[2020-04-16 13:56] paulodamaso commented on #141
@acheshkov merged, please close

[2020-04-16 14:01] paulodamaso commented on #153
@acheshkov Which of these issues should I address first?

[2020-04-17 07:54] #216 closed

[2020-04-17 08:11] 0crat commented on #216
Job `gh:yegor256/aibolit#216` is not assigned, can't get performer

[2020-04-17 08:12] Vitaly-Protasov opened #219 "Cognitive complexity. It's important to add incrementing for recursion"
In original paper was discussed  about recursion:
![image](https://user-images.githubusercontent.com/43099602/79547184-3a531b80-809c-11ea-801f-87ec926b1cf9.png)

Hence, in this project this thing also need to be considered.

[2020-04-17 08:12] 0crat commented on #219
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-17 08:19] acheshkov commented on #219
@0crat out

[2020-04-17 08:21] 0crat commented on #219
@acheshkov Job `gh:yegor256/aibolit#219` is not assigned, can't get performer

[2020-04-17 13:56] #219 closed

[2020-04-17 14:08] Vitaly-Protasov opened #221 "Fix metric CountLeaves in AST for each method"
In https://github.com/yegor256/aibolit/blob/master/aibolit/metrics/countLeaves/numberofleaves.py
there's some problem.

The purpose of this metric is to count number of leaves for each class's method, but it doesn't work properly. In function
`

     def value(self, filename: str):

        tree = JavalangImproved(filename)

        nodes = tree.tree_to_nodes()
        traversed = []
        for e

[2020-04-17 14:08] 0crat commented on #221
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-17 14:15] 0crat commented on #219
Job `gh:yegor256/aibolit#219` is not assigned, can't get performer

[2020-04-17 14:18] 0crat commented on #159
The job [#159](https://github.com/yegor256/aibolit/issues/159) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/ee2fc1ac-df31-4c5a-89af-df58a0cebcf5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-17 15:05] #221 closed

[2020-04-17 15:26] silverCase commented on #182
#### For now, the algorithm only works fine in java classes with no attribute name shadowing and when there are no subclasses. Therefore it needs more work.

[2020-04-17 16:40] acheshkov opened #225 "Metric LCOM4: does not work with subclasses"
#### For now, the algorithm only works fine in java classes:

- with no abstract classes containing shadowing methods.

_Originally posted by @silverCase in https://github.com/yegor256/aibolit/pull/218#issuecomment-615344836_

[2020-04-17 16:40] acheshkov commented on #225
@0crat out

[2020-04-17 16:41] acheshkov opened #226 "Metric LCOM4: attribute name shadowing does not work"
#### For now, the algorithm only works fine in java classes:

- with no attribute name shadowing

_Originally posted by @silverCase in https://github.com/yegor256/aibolit/pull/218#issuecomment-615344836_

[2020-04-17 17:21] 0crat commented on #221
Job `gh:yegor256/aibolit#221` is not assigned, can't get performer

[2020-04-17 17:46] 0crat commented on #225
@acheshkov Job `gh:yegor256/aibolit#225` is not assigned, can't get performer

[2020-04-18 19:46] 0crat commented on #141
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-19 06:04] #141 closed

[2020-04-19 09:51] 0crat commented on #158
The job [#158](https://github.com/yegor256/aibolit/issues/158) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/a2750a8c-d246-4905-9b50-29eba0d683f3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-19 16:23] paulodamaso commented on #136
@acheshkov ping

[2020-04-19 16:23] paulodamaso commented on #136
@yegor256 ping

[2020-04-19 16:25] paulodamaso commented on #159
@acheshkov Something bad happened, 0pdd didn't closed the issue even with the reomved `todo`, please take a look

[2020-04-19 16:54] 0crat commented on #153
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-19 17:20] 0crat commented on #160
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-19 18:33] acheshkov commented on #153
@paulodamaso I'm going to assign this issue to @lyriccoder, if you don't mind

[2020-04-19 18:37] acheshkov commented on #159
@paulodamaso I've sent information to @yegor256

[2020-04-20 09:14] acheshkov opened #228 "Add intergration test"
Test patterns and metrics on the subset of Java classes. Test checks that calculation of patterns and metrics do not throw the error.

[2020-04-20 09:14] acheshkov commented on #228
@0crat out

[2020-04-20 10:02] silverCase commented on #225
The line `with no subclasses.`
Please change it to  `with no abstract classes containing shadowing methods.`

[2020-04-20 11:03] paulodamaso commented on #136
@0crat status

[2020-04-20 11:06] paulodamaso commented on #153
@acheshkov No problem for me

[2020-04-20 12:51] 0crat commented on #228
@acheshkov Job `gh:yegor256/aibolit#228` is not assigned, can't get performer

[2020-04-20 13:01] 0crat commented on #195
The user @tribals[/z](https://www.0crat.com/u/tribals) resigned from [#195](https://github.com/yegor256/aibolit/issues/195), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-04-20 13:29] 0crat commented on #123
The job [#123](https://github.com/yegor256/aibolit/issues/123) assigned to @tribals[/z](https://www.0crat.com/u/tribals), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/4cf020c9-b6a6-459c-bf5c-e18eccc491b5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-20 14:32] lyriccoder opened #229 "Need to change 04-patterns-find.py due to config.py"
Need to change 04-patterns-find.py due to config.py

[2020-04-20 14:32] 0crat commented on #229
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-21 13:39] 0crat commented on #215
@vitaly-protasov[/z](https://www.0crat.com/u/vitaly-protasov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-21 18:11] acheshkov commented on #228
#232

[2020-04-21 18:11] #228 closed

[2020-04-21 18:16] acheshkov commented on #215
@0crat pause

[2020-04-21 18:18] 0crat commented on #215
@acheshkov Can't understand "pause", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `elect` Trigger election for ticket
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Rev

[2020-04-21 18:18] acheshkov commented on #138
@0crat in

[2020-04-21 18:22] #85 closed

[2020-04-21 18:23] acheshkov commented on #144
@0crat in

[2020-04-21 18:23] acheshkov commented on #146
@0crat in

[2020-04-21 18:29] 0crat commented on #228
Job `gh:yegor256/aibolit#228` is not assigned, can't get performer

[2020-04-21 18:56] 0crat commented on #85
Job `gh:yegor256/aibolit#85` is not assigned, can't get performer

[2020-04-21 19:03] paulodamaso commented on #160
@acheshkov Something bad happened here also, 0pdd did not closed the issue, please take a look

[2020-04-21 19:04] paulodamaso commented on #160
@0crat wait for closure

[2020-04-21 19:16] paulodamaso commented on #136
@0crat status

[2020-04-21 19:17] 0crat commented on #136
@paulodamaso This is what I know about this job in CT5UB7XAP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#136](https://github.com/yegor256/aibolit/issues/136) is [in scope](http://www.zerocracy.com/policy.html#14) for 19days
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [11days](http://www.zerocracy.com/policy.ht

[2020-04-21 19:20] paulodamaso commented on #136
@acheshkov Looks like 0crat didn't detected the job has closed, please take a look

[2020-04-21 19:29] paulodamaso commented on #153
@0crat wait for reassignment

[2020-04-22 06:53] #215 closed

[2020-04-22 06:54] Vitaly-Protasov commented on #206
done

[2020-04-22 07:29] #229 closed

[2020-04-22 07:29] #208 closed

[2020-04-22 07:29] #177 closed

[2020-04-22 07:31] #160 closed

[2020-04-22 10:08] Vitaly-Protasov opened #235 "Error of metric MaxDiameter in intergration tests"
Error of metric 'MaxDiameter' was occured
![image](https://user-images.githubusercontent.com/43099602/79969607-660a4300-849a-11ea-8df1-b80d90cc9d9b.png)

[2020-04-22 12:58] #235 closed

[2020-04-22 14:47] 0crat commented on #159
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-22 15:51] lyriccoder opened #237 "MI pipeline"
create MI pipeline

[2020-04-22 21:48] paulodamaso commented on #159
@0crat wait for closure

[2020-04-23 16:45] 0crat commented on #184
The job [#184](https://github.com/yegor256/aibolit/issues/184) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/e605e6cf-265a-49ba-9eb7-f347fb70bb17); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-23 19:43] 0crat commented on #183
The job [#183](https://github.com/yegor256/aibolit/issues/183) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/deb039c5-933b-4c17-b630-d43380e61d1f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-23 20:55] 0crat commented on #147
The job [#147](https://github.com/yegor256/aibolit/issues/147) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/0f4d3996-92ec-442c-8b8b-7c9db86c1e5e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-23 21:58] 0crat commented on #142
The job [#142](https://github.com/yegor256/aibolit/issues/142) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/8745b83c-ec59-4dd0-bb49-88dfd0280055); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-23 22:56] 0crat commented on #139
The job [#139](https://github.com/yegor256/aibolit/issues/139) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/373914c2-38d8-436c-ba42-23b6a8891a9e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-23 23:56] 0crat commented on #194
The job [#194](https://github.com/yegor256/aibolit/issues/194) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/dcf4780d-50ae-4154-b71d-d0d801d70298); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-24 09:50] 0crat commented on #158
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-24 13:09] paulodamaso commented on #136
@0crat status

[2020-04-24 13:13] 0crat commented on #136
@paulodamaso This is what I know about this job in CT5UB7XAP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#136](https://github.com/yegor256/aibolit/issues/136) is [in scope](http://www.zerocracy.com/policy.html#14) for 22days
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [13days](http://www.zerocracy.com/policy.ht

[2020-04-24 13:29] paulodamaso commented on #158
@acheshkov 0pdd did not closed, please take a look

[2020-04-24 13:29] paulodamaso commented on #158
@0crat wait for closure

[2020-04-24 20:44] paulodamaso commented on #194
@lyriccoder I've made a PR with tests for this, and most of the cases don't trigger any error, please take a look

[2020-04-25 13:42] 0crat commented on #123
@tribals[/z](https://www.0crat.com/u/tribals) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-25 17:38] paulodamaso commented on #153
@acheshkov PLease reassign it

[2020-04-25 18:22] paulodamaso commented on #136
@acheshkov please remove it from scope (try `@0crat out`)

[2020-04-25 18:24] paulodamaso commented on #159
@acheshkov ping

[2020-04-25 18:24] 0crat commented on #136
Are you speaking to me or about me [here](https://github.com/yegor256/aibolit/issues/136#issuecomment-619420980); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2020-04-25 18:25] paulodamaso commented on #158
@acheshkov ping

[2020-04-25 18:25] paulodamaso commented on #160
@0crat status

[2020-04-25 18:27] 0crat commented on #160
@paulodamaso This is what I know about this job in CT5UB7XAP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#160](https://github.com/yegor256/aibolit/issues/160) is [in scope](http://www.zerocracy.com/policy.html#14) for 22days
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [11days](http://www.zerocracy.com/policy.ht

[2020-04-25 19:49] paulodamaso commented on #160
@acheshkov still assigned to me, please try `@0crat out`

[2020-04-25 19:50] 0crat commented on #160
Are you speaking to me or about me [here](https://github.com/yegor256/aibolit/issues/160#issuecomment-619431761); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2020-04-26 13:32] 0crat commented on #215
The user @vitaly-protasov[/z](https://www.0crat.com/u/vitaly-protasov) resigned from [#215](https://github.com/yegor256/aibolit/issues/215), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-04-26 16:55] #206 closed

[2020-04-26 16:55] #133 closed

[2020-04-26 17:12] 0crat commented on #206
Job `gh:yegor256/aibolit#206` is not assigned, can't get performer

[2020-04-26 17:40] tribals commented on #116
I understand what is `assertThrows` and `NullPointerException`. But still don't see the pattern. Can you explain it using written language? I don't want to make useless assumptions. Should it match for every `assertThrows` with `NullPointerException` as an argument? Or what?

I read about `Optional`, too. Again, still don't see the pattern. Isn't that an `Optional` guarantees that no action will b

[2020-04-26 17:45] 0crat commented on #215
The job [#215](https://github.com/yegor256/aibolit/issues/215) assigned to @tribals[/z](https://www.0crat.com/u/tribals), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/b7f61226-2bb5-4fab-8146-c9771b83443c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-27 09:41] #237 closed

[2020-04-27 09:49] lyriccoder opened #246 "Need to get rid of NN model"
At the moment we are using `torch` and NN model. We need to replace it with the new `Two fold` model

[2020-04-27 09:50] lyriccoder commented on #246
I will implement it

[2020-04-27 09:50] 0crat commented on #246
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-27 09:50] lyriccoder commented on #246
@0crat  assign to @lyriccoder

[2020-04-27 09:51] 0crat commented on #246
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.12](https://github.com/zerocracy/farm): Issue: yegor256/aibolit#246, Comment: 619867766

[2020-04-27 09:59] 0crat commented on #237
Job `gh:yegor256/aibolit#237` is not assigned, can't get performer

[2020-04-27 10:23] 0crat commented on #246
The job [#246](https://github.com/yegor256/aibolit/issues/246) assigned to @lyriccoder[/z](https://www.0crat.com/u/lyriccoder), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/d1ccaf07-9536-49e8-930a-6d276c9bdb9d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-04-27 16:08] #159 closed

[2020-04-27 16:09] 0crat commented on #153
The job [#153](https://github.com/yegor256/aibolit/issues/153) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/fc43e20e-4478-4f3c-93ad-bda4d88f641a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-04-27 16:12] #158 closed

[2020-04-27 16:12] acheshkov commented on #136
@0crat out

[2020-04-27 16:12] #136 closed

[2020-04-27 16:13] 0crat commented on #136
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-27 16:30] 0crat commented on #136
Job `gh:yegor256/aibolit#136` is not assigned, can't get performer

[2020-04-27 17:44] 0crat commented on #195
The job [#195](https://github.com/yegor256/aibolit/issues/195) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/d2ec1487-6129-49fe-8a24-be1b4b776c21); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-27 18:42] 0crat commented on #138
The job [#138](https://github.com/yegor256/aibolit/issues/138) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/e1741f61-d860-4454-ba06-8490cbed5804); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-27 23:27] paulodamaso commented on #195
@lyriccoder None of the files triggers error on `AssertInCode` pattern, please take a look at the draft

[2020-04-28 00:46] 0crat commented on #215
@tribals[/z](https://www.0crat.com/u/tribals) resigned from [#215](https://github.com/yegor256/aibolit/issues/215), since the job is not in scope anymore

[2020-04-28 00:46] 0crat commented on #215
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.12](https://github.com/zerocracy/farm): CID: [1e603540-d740-49f2-8425-62d44ab470c6](https://www.0crat.com/footprint/CT5UB7XAP/1e603540-d740-49f2-8425-62d44ab470c6), Type: "Order was canceled"

[2020-04-28 01:44] 0crat commented on #144
The job [#144](https://github.com/yegor256/aibolit/issues/144) assigned to @tribals[/z](https://www.0crat.com/u/tribals), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/043f81c8-1c26-4a46-a3db-c645e9758c3a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-28 07:51] lyriccoder commented on #195
it doesn't matter.

1) We need to check empty cases
2) we had ~2000 errors when training a dataset, it means that we lost 2000 files

@acheshkov have you already fixed this patterns as i remember? Should we close this issue?

[2020-04-28 09:23] #164 closed

[2020-04-28 10:47] 0crat commented on #164
Job `gh:yegor256/aibolit#164` is not assigned, can't get performer

[2020-04-28 13:02] acheshkov commented on #166
1. Access to Foreign Data (ATFD)
2. Access to Local Data (ALD)
3. Average Method Weight (AMW)
4. Base Class Overriding Ratio (BOVR)
5. Base Class Usage Ratio (BUR)
6. Capsules Providing Foreign Data (CPFD)
7. Class Weight (CW)
8. Coupling Between Objects (CBO)
9. Cyclomatic Number (CYCLO)
10. Depth of Inheritance Tree (DIT)
11. Dispersion Ratio (DR)
12. Externally Called Global Functions (ECGF)
13

[2020-04-28 13:38] silverCase opened #251 "Documentation, typing and refactoring for LCOM4 PR"
#231

[2020-04-28 13:39] 0crat commented on #251
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-28 13:39] acheshkov commented on #251
@0crat out

[2020-04-28 13:48] 0crat commented on #251
@acheshkov Job `gh:yegor256/aibolit#251` is not assigned, can't get performer

[2020-04-28 13:50] #251 closed

[2020-04-28 13:50] 0crat commented on #251
The job [#251](https://github.com/yegor256/aibolit/issues/251) assigned to @silvercase[/z](https://www.0crat.com/u/silvercase), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/adf87fd5-dc71-45e7-9fbe-d42f6e830574); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-04-28 13:50] acheshkov commented on #225
@0crat out

[2020-04-28 13:59] 0crat commented on #251
@acheshkov @silvercase[/z](https://www.0crat.com/u/silvercase) resigned from [#251](https://github.com/yegor256/aibolit/issues/251), since the job is not in scope anymore

[2020-04-28 13:59] 0crat commented on #251
@acheshkov There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.13](https://github.com/zerocracy/farm): CID: [422bb2f9-b26a-419e-a72b-c3dba38dc33e](https://www.0crat.com/footprint/CT5UB7XAP/422bb2f9-b26a-419e-a72b-c3dba38dc33e), Type: "Order was canceled"

[2020-04-28 14:00] 0crat commented on #225
The job [#225](https://github.com/yegor256/aibolit/issues/225) assigned to @silvercase[/z](https://www.0crat.com/u/silvercase), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/d1a96bfc-8567-49ea-9287-50777d144736); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-04-28 14:01] 0crat commented on #225
@acheshkov GitHub issue is still open, won't close

[2020-04-28 14:08] 0crat commented on #251
Job `gh:yegor256/aibolit#251` is not assigned, can't get performer

[2020-04-28 17:47] 0crat commented on #184
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-28 20:47] 0crat commented on #183
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-28 20:51] acheshkov opened #252 "ML pipeline; Custom folder of JAVA files"
1. Able to use for training custom folder
2. custom folder defined using  environment variable "JAVA_FILES_PATH"
3. If JAVA_FILES_PATH is not defined use old behavior

[2020-04-28 20:51] acheshkov commented on #252
@0crat out

[2020-04-28 20:58] 0crat commented on #252
@acheshkov Job `gh:yegor256/aibolit#252` is not assigned, can't get performer

[2020-04-28 21:03] paulodamaso commented on #184
@0crat wait for #244 merge

[2020-04-28 21:03] paulodamaso commented on #183
@lukyanoffpashok PR merged, please close

[2020-04-28 21:03] paulodamaso commented on #183
@0crat wait for closure

[2020-04-28 21:46] 0crat commented on #147
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-28 22:48] 0crat commented on #142
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-28 23:47] 0crat commented on #139
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-29 00:49] 0crat commented on #194
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-29 15:42] paulodamaso commented on #142
@0crat wait for closure

[2020-04-29 15:43] 0crat commented on #142
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.13](https://github.com/zerocracy/farm): Issue: yegor256/aibolit#142, Comment: 621294998

[2020-04-29 15:43] paulodamaso commented on #142
@acheshkov Merged, please close

[2020-04-29 15:51] paulodamaso commented on #147
@0crat wait for #240 merge

[2020-04-29 15:52] paulodamaso commented on #194
@lyriccoder merged, please close

[2020-04-29 15:53] paulodamaso commented on #139
@0crat wait for #242 merge

[2020-04-29 16:00] paulodamaso commented on #195
@lyriccoder Is my PR valid then? Should I update its status?

[2020-04-29 21:12] paulodamaso opened #255 "Fix 0pdd issue on build"
There is a 0pdd error that is happening in build, probably a puzzle with wrong format. We should fix it and add pdd execution to merge and build scripts so it does not happen again

[2020-04-29 21:12] 0crat commented on #255
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-04-30 13:23] 0crat commented on #123
The user @tribals[/z](https://www.0crat.com/u/tribals) resigned from [#123](https://github.com/yegor256/aibolit/issues/123), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-04-30 13:52] paulodamaso commented on #142
@acheshkov ping

[2020-04-30 13:53] paulodamaso commented on #142
@0crat wait for closure

[2020-04-30 13:55] paulodamaso commented on #194
@lyriccoder ping

[2020-04-30 13:56] paulodamaso commented on #183
@acheshkov @lukyanoffpashok please close, PR had already been merged

[2020-04-30 13:56] paulodamaso commented on #147
@0crat status

[2020-04-30 13:57] paulodamaso commented on #139
@acheshkov @yegor256 Merged, please close

[2020-04-30 13:58] 0crat commented on #147
@paulodamaso This is what I know about this job in CT5UB7XAP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#147](https://github.com/yegor256/aibolit/issues/147) is [in scope](http://www.zerocracy.com/policy.html#14) for 20days
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [7days](http://www.zerocracy.com/policy.htm

[2020-04-30 13:58] paulodamaso commented on #184
@acheshkov @lukyanoffpashok PR merged, please close

[2020-04-30 13:59] paulodamaso commented on #195
@acheshkov @lyriccoder ping

[2020-04-30 14:12] paulodamaso commented on #147
@acheshkov I think that it is still in scope, please remove it (0crat out)

[2020-04-30 14:49] 0crat commented on #146
The job [#146](https://github.com/yegor256/aibolit/issues/146) assigned to @tribals[/z](https://www.0crat.com/u/tribals), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/189abc69-67df-4b2e-86a8-8afc3a6e2ec6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-30 15:16] acheshkov opened #256 "Create Docker image with JAVA classes dataset and other jar's"

[2020-04-30 15:17] acheshkov commented on #256
@0crat out

[2020-04-30 15:18] 0crat commented on #256
@acheshkov GitHub issue is still open, won't close

[2020-04-30 19:04] #256 closed

[2020-04-30 19:22] 0crat commented on #256
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @acheshkov[/z](https://www.0crat.com/u/acheshkov) (its creator); I won't close the order; please, re-open it and ask @acheshkov[/z](https://www.0crat.com/u/acheshkov) to close it

[2020-05-01 05:01] #184 closed

[2020-05-01 05:01] #139 closed

[2020-05-01 05:04] #194 closed

[2020-05-01 05:04] #142 closed

[2020-05-01 05:05] acheshkov commented on #147
@0crat out

[2020-05-01 05:05] 0crat commented on #147
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-01 05:06] 0crat commented on #147
@acheshkov GitHub issue is still open, won't close

[2020-05-01 05:07] #195 closed

[2020-05-01 05:18] #183 closed

[2020-05-01 05:26] 0crat commented on #255
The job [#255](https://github.com/yegor256/aibolit/issues/255) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/6c49eb15-1085-4a82-b34f-a749759c7f17); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-05-01 05:46] 0crat commented on #123
The job [#123](https://github.com/yegor256/aibolit/issues/123) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/388a44ba-239a-44e1-b762-5948c0442367); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-05-01 09:47] acheshkov opened #258 "Design recommendation sensitivity threshold"
The sensitivity is a number in range `[0, 1]`. Where `1` means inform about all potential issues, and `0` means ignore all recommendations.

[2020-05-01 09:47] acheshkov commented on #258
@0crat out

[2020-05-01 09:55] 0crat commented on #258
The job [#258](https://github.com/yegor256/aibolit/issues/258) assigned to @acheshkov[/z](https://www.0crat.com/u/acheshkov), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/06db1d98-6940-4c93-bf2c-3b32d30e63b8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-05-01 09:55] 0crat commented on #258
@acheshkov GitHub issue is still open, won't close

[2020-05-01 15:02] #258 closed

[2020-05-01 15:19] 0crat commented on #258
Job was finished in 5 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-02 10:44] 0crat commented on #246
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-02 12:59] acheshkov commented on #246
@0crat out

[2020-05-02 13:56] 0crat commented on #246
@acheshkov GitHub issue is still open, won't close

[2020-05-02 15:27] acheshkov commented on #246
@0crat wait

[2020-05-02 15:27] #246 closed

[2020-05-03 02:42] 0crat commented on #144
@tribals[/z](https://www.0crat.com/u/tribals) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-03 17:23] paulodamaso commented on #138
@acheshkov Merged, please close

[2020-05-04 06:22] #138 closed

[2020-05-04 07:56] 0crat commented on #225
@silvercase[/z](https://www.0crat.com/u/silvercase) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-05 04:54] acheshkov commented on #225
@0crat pause

[2020-05-05 05:46] 0crat commented on #225
@acheshkov Can't understand "pause", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `elect` Trigger election for ticket
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Rev

[2020-05-05 05:48] acheshkov commented on #225
@0crat wait

[2020-05-05 15:45] 0crat commented on #146
@tribals[/z](https://www.0crat.com/u/tribals) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-05 15:52] 0crat commented on #256
@acheshkov[/z](https://www.0crat.com/u/acheshkov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-06 00:31] 0crat commented on #256
@acheshkov[/z](https://www.0crat.com/u/acheshkov) resigned from [#256](https://github.com/yegor256/aibolit/issues/256), since the job is not in scope anymore

[2020-05-06 00:31] 0crat commented on #256
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.14](https://github.com/zerocracy/farm): CID: [6eb570de-8249-4f35-b0ef-6ec90bac4c12](https://www.0crat.com/footprint/CT5UB7XAP/6eb570de-8249-4f35-b0ef-6ec90bac4c12), Type: "Order was canceled"

[2020-05-06 06:44] 0crat commented on #123
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-06 08:55] lyriccoder opened #260 "Part sync patterns fails with ctors and lambdas"

[2020-05-06 08:55] 0crat commented on #260
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-06 10:02] acheshkov opened #262 "Docker. Base version of the Docker recommendation image."

[2020-05-06 10:02] 0crat commented on #226
The job [#226](https://github.com/yegor256/aibolit/issues/226) assigned to @silvercase[/z](https://www.0crat.com/u/silvercase), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/3dc72afa-d511-4c62-b8ae-76deabbf1cc9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-05-06 10:03] 0crat commented on #262
The job [#262](https://github.com/yegor256/aibolit/issues/262) assigned to @acheshkov[/z](https://www.0crat.com/u/acheshkov), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/c51b36b7-30ae-4d7d-ae8f-e0eaa1c1e0ee); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-05-06 11:02] lyriccoder opened #263 "Create parameter for path model in recommend pipeline"

[2020-05-06 11:02] 0crat commented on #263
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-06 11:03] lyriccoder opened #264 "Create parameter for threshold (recommend pipeline)"

[2020-05-06 11:03] 0crat commented on #264
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-06 11:09] lyriccoder opened #265 "Joined validation pattern completely fails and raises exceptions"
There are about 1436 errors for `joined validation` pattern.

1) Fix them all.

Here is the script with the list of files
[temp.py.txt](https://github.com/yegor256/aibolit/files/4586321/temp.py.txt)

Here are all files:
[files.tar.gz](https://github.com/yegor256/aibolit/files/4586331/files.tar.gz)

2) add java classes to the list which is tested by `all.py`. Each class with unique  type of excepti

[2020-05-06 11:09] 0crat commented on #265
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-06 12:31] 0crat commented on #264
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-05-06 12:31] 0crat commented on #265
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-05-06 14:54] acheshkov commented on #265
@0crat assign @paulodamaso

[2020-05-06 14:55] 0crat commented on #265
@acheshkov The job [#265](https://github.com/yegor256/aibolit/issues/265) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/720fa350-d27d-4354-bcc4-ee83db6335fe); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-05-06 15:41] #262 closed

[2020-05-06 16:00] 0crat commented on #262
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @acheshkov[/z](https://www.0crat.com/u/acheshkov) (its creator); I won't close the order; please, re-open it and ask @acheshkov[/z](https://www.0crat.com/u/acheshkov) to close it

[2020-05-07 08:34] lyriccoder opened #269 "This finder pattern has errors"
This finder,'StatementExpression' object has no attribute 'statements'
'IfStatement' object has no attribute 'statements',
'Statement' object has no attribute 'statements'

[2020-05-07 08:34] 0crat commented on #269
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-07 08:51] 0crat commented on #269
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-05-07 11:13] #269 closed

[2020-05-07 11:13] #264 closed

[2020-05-07 11:13] #263 closed

[2020-05-07 11:13] #260 closed

[2020-05-07 11:14] lyriccoder opened #271 "02-filter.py fails by unknown reason:"
[code]

[2020-05-07 11:14] 0crat commented on #271
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-07 11:15] 0crat commented on #271
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-05-07 11:16] lyriccoder commented on #271
it's because we have path in Chinese: target/01/DuGuQiuBai/Java/day05/code/01_方法重载/MethodDemo.java

[2020-05-07 11:30] 0crat commented on #269
Job `gh:yegor256/aibolit#269` is not assigned, can't get performer

[2020-05-07 11:30] 0crat commented on #264
Job `gh:yegor256/aibolit#264` is not assigned, can't get performer

[2020-05-07 11:30] 0crat commented on #260
Job `gh:yegor256/aibolit#260` is not assigned, can't get performer

[2020-05-07 11:30] 0crat commented on #263
Job `gh:yegor256/aibolit#263` is not assigned, can't get performer

[2020-05-07 22:26] paulodamaso commented on #147
@acheshkov Please close

[2020-05-07 22:29] paulodamaso commented on #138
@0crat status

[2020-05-07 22:29] 0crat commented on #138
@paulodamaso This is what I know about this job in CT5UB7XAP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#138](https://github.com/yegor256/aibolit/issues/138) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT5UB7XAP?q=%7Bjob%3A%27gh%3Ayegor256%2Faibolit%23138%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-05-07 22:30] paulodamaso commented on #138
@acheshkov I did not received payment for this one, please take a look

[2020-05-08 01:51] 0crat commented on #144
The user @tribals[/z](https://www.0crat.com/u/tribals) resigned from [#144](https://github.com/yegor256/aibolit/issues/144), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-05-08 08:45] 0crat commented on #144
The job [#144](https://github.com/yegor256/aibolit/issues/144) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/ef8380f5-d8bd-41f0-9c4e-6d9b74d91751); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-05-08 13:24] #271 closed

[2020-05-08 13:26] lyriccoder opened #273 "Need to split large files from calculate metrics"
At the moment PMD calculates lots of files and can fail. Thus, all result will be lost.

Need to split it

[2020-05-08 13:26] 0crat commented on #273
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-08 13:46] 0crat commented on #271
Job `gh:yegor256/aibolit#271` is not assigned, can't get performer

[2020-05-08 14:06] paulodamaso commented on #147
@acheshkov ping

[2020-05-09 03:49] paulodamaso commented on #123
@0crat wait for #275 review

[2020-05-09 06:04] paulodamaso commented on #265
@lyriccoder I've fixed the errors, but I couldn't understand the second part ("add java classes to the list which is tested by all.py"); am I supposed to add tests for each of these cases in our sample classes?

[2020-05-09 14:40] lyriccoder commented on #265
there are integration tests, they a relocated here:
https://github.com/yegor256/aibolit/tree/master/test/integration
1) you need to uncomment `p23` pattern

`EXCLUDE_PATTERNS = ['P23']` must be replaced with `EXCLUDE_PATTERNS = []`
2)

yes, you need to add classes to the following folder for each of mentioned cases:
https://github.com/yegor256/aibolit/tree/master/test/integration/samples

Then you

[2020-05-10 14:56] 0crat commented on #146
The user @tribals[/z](https://www.0crat.com/u/tribals) resigned from [#146](https://github.com/yegor256/aibolit/issues/146), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-05-11 06:20] acheshkov opened #278 "1.0.0a1"
Alpha release

[2020-05-11 06:20] acheshkov commented on #278
@0crat out

[2020-05-11 06:21] 0crat commented on #278
The job [#278](https://github.com/yegor256/aibolit/issues/278) assigned to @acheshkov[/z](https://www.0crat.com/u/acheshkov), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/265a8900-a509-48de-a0fa-232a195f9c2d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-05-11 06:22] 0crat commented on #278
@acheshkov Job [#278](https://github.com/yegor256/aibolit/issues/278) is not in the agenda of @acheshkov[/z](https://www.0crat.com/u/acheshkov), can't set title

[2020-05-11 06:22] acheshkov commented on #278
@rultor release tag is 1.0.0a1

[2020-05-11 06:22] rultor commented on #278
@acheshkov OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22018-626496112)

[2020-05-11 06:22] 0crat commented on #278
@acheshkov GitHub issue is still open, won't close

[2020-05-11 06:24] rultor commented on #278
@acheshkov Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22018-626496112) (spent 2min)

[code]

[2020-05-11 06:52] acheshkov commented on #278
@rultor release, tag=`1.0.0a1`

[2020-05-11 06:53] rultor commented on #278
@acheshkov OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22018-626507980)

[2020-05-11 07:02] rultor commented on #278
@acheshkov Done! FYI, the full log is [here](https://www.rultor.com/t/22018-626507980) (took me 9min)

[2020-05-11 10:45] 0crat commented on #226
@silvercase[/z](https://www.0crat.com/u/silvercase) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-11 10:46] 0crat commented on #262
@acheshkov[/z](https://www.0crat.com/u/acheshkov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-11 15:46] 0crat commented on #265
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-11 17:10] paulodamaso commented on #265
@lyriccoder ping

[2020-05-11 18:28] #278 closed

[2020-05-11 18:49] 0crat commented on #278
Job was finished in 12 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-12 06:50] lyriccoder commented on #144
isn't it a duplicate of https://github.com/yegor256/aibolit/issues/118?
Seems absolutely the same patterns

[2020-05-12 07:04] yegor256 commented on #144
@lyriccoder yes, it's a dup of #118

[2020-05-12 07:04] #144 closed

[2020-05-12 08:18] lyriccoder commented on #123
The problem is that each pattern is a Singleton and `value()` is a _static method_. _static method_ cannot be overridden.

That's why we do not need abstract class here

[2020-05-12 11:43] lyriccoder opened #280 "Max diameter metric can't handle file with Unicode"
Files with errors: [files.tar.gz](https://github.com/yegor256/aibolit/files/4615267/files.tar.gz)
Logs [errors.csv.gz](https://github.com/yegor256/aibolit/files/4615279/errors.csv.gz)

[2020-05-12 11:43] 0crat commented on #280
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-12 17:46] paulodamaso commented on #147
@acheshkov Please take a look at this one

[2020-05-13 06:45] yegor256 commented on #255
@paulodamaso fixed in 76b6e4e

[2020-05-13 06:46] 0pdd opened #281 "method_siblings.py:30-32: Implement method_siblings..."
The puzzle `142-80952438` from #142 has to be resolved:

https://github.com/yegor256/aibolit/blob/76b6e4ebc5fa3260b3c44acd53e640d098107f64/aibolit/patterns/method_siblings/method_siblings.py#L30-L32

The puzzle was created by paulodamaso on 26-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-05-13 06:46] 0pdd opened #282 "bidirect_index.py:12-17: Implement bidirect index pattern..."
The puzzle `139-732b1bcc` from #139 has to be resolved:

https://github.com/yegor256/aibolit/blob/76b6e4ebc5fa3260b3c44acd53e640d098107f64/aibolit/patterns/bidirect_index/bidirect_index.py#L12-L17

The puzzle was created by paulodamaso on 24-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-05-13 06:46] 0pdd opened #283 "mutable_index.py:13-16: Implement MutableIndex pattern We..."
The puzzle `147-d9d6862a` from #147 has to be resolved:

https://github.com/yegor256/aibolit/blob/76b6e4ebc5fa3260b3c44acd53e640d098107f64/aibolit/patterns/mutable_index/mutable_index.py#L13-L16

The puzzle was created by paulodamaso on 24-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2020-05-13 06:46] 0pdd opened #284 "var_siblings.py:7-9: Implement var_siblings pattern. This..."
The puzzle `141-6e9388cb` from #141 has to be resolved:

https://github.com/yegor256/aibolit/blob/76b6e4ebc5fa3260b3c44acd53e640d098107f64/aibolit/patterns/var_siblings/var_siblings.py#L7-L9

The puzzle was created by paulodamaso on 26-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2020-05-13 06:46] 0crat commented on #283
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-13 06:46] 0pdd opened #285 "local_methods_calls.py:27-31: Implement local method..."
The puzzle `183-069e5295` from #183 has to be resolved:

https://github.com/yegor256/aibolit/blob/76b6e4ebc5fa3260b3c44acd53e640d098107f64/aibolit/metrics/local_methods_calls/local_methods_calls.py#L27-L31

The puzzle was created by paulodamaso on 25-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-05-13 06:46] 0pdd opened #286 "external_methods_called.py:27-31: Implement external..."
The puzzle `183-9b03d7d9` from #183 has to be resolved:

https://github.com/yegor256/aibolit/blob/76b6e4ebc5fa3260b3c44acd53e640d098107f64/aibolit/metrics/external_methods_called/external_methods_called.py#L27-L31

The puzzle was created by paulodamaso on 25-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \

[2020-05-13 06:46] 0crat commented on #282
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-13 06:47] 0pdd commented on #131
@fanifieiev all 3 puzzles are solved here: [#158](https://github.com/yegor256/aibolit/issues/158), [#159](https://github.com/yegor256/aibolit/issues/159), [#160](https://github.com/yegor256/aibolit/issues/160).

[2020-05-13 06:47] 0pdd commented on #142
@yegor256 the puzzle [#281](https://github.com/yegor256/aibolit/issues/281) is still not solved.

[2020-05-13 06:47] 0pdd commented on #139
@yegor256 the puzzle [#282](https://github.com/yegor256/aibolit/issues/282) is still not solved.

[2020-05-13 06:47] 0pdd commented on #147
@yegor256 the puzzle [#283](https://github.com/yegor256/aibolit/issues/283) is still not solved.

[2020-05-13 06:47] 0pdd commented on #141
@yegor256 the puzzle [#284](https://github.com/yegor256/aibolit/issues/284) is still not solved.

[2020-05-13 06:47] 0pdd commented on #183
@lukyanoffpashok 2 puzzles [#285](https://github.com/yegor256/aibolit/issues/285), [#286](https://github.com/yegor256/aibolit/issues/286) are still not solved.

[2020-05-13 06:47] 0crat commented on #281
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-13 06:48] 0crat commented on #286
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-13 06:49] 0crat commented on #285
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-13 06:49] 0crat commented on #284
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-13 07:52] #265 closed

[2020-05-13 08:46] 0crat commented on #146
The job [#146](https://github.com/yegor256/aibolit/issues/146) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/a7313ae6-4883-452b-a888-5fcb96e9b560); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-05-13 09:30] acheshkov commented on #286
@0crat in

[2020-05-13 09:31] acheshkov commented on #285
@0crat in

[2020-05-13 09:31] acheshkov commented on #284
@0crat in

[2020-05-13 09:31] acheshkov commented on #283
@0crat in

[2020-05-13 09:32] acheshkov commented on #282
@0crat in

[2020-05-13 09:33] acheshkov commented on #281
@0crat in

[2020-05-13 09:37] IlyaMoskva opened #287 "Recommend failed."
Failed with recommend.
Aibolit Version 1.0.0a1

[MavenSlice.zip](https://github.com/yegor256/aibolit/files/4621048/MavenSlice.zip)

[2020-05-13 09:37] 0crat commented on #287
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-13 09:56] 0crat commented on #144
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-13 12:06] angusev opened #289 "Implement new feature in Aibolit"
Make possible to obtain pattern and metrics of input java classes with a special flag.

[2020-05-13 12:10] 0crat commented on #289
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-13 12:11] 0crat commented on #289
You @angusev[/z](https://www.0crat.com/u/angusev) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-05-13 12:12] paulodamaso commented on #255
@yegor256 we can't exclude  `'test` folder, there are a lot of puzzled inside it

[2020-05-13 12:26] lyriccoder opened #290 "Update patterns list"
Need to update list of patterns in the config

New patterns have been implemented.

[2020-05-13 12:26] 0crat commented on #290
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-13 12:32] paulodamaso commented on #147
@acheshkov ping

[2020-05-13 14:50] angusev opened #292 "Aibolit train failed"
`>> aibolit train --java_folder ./java_folder`
[code]

[2020-05-13 14:51] 0crat commented on #292
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-13 14:52] lyriccoder commented on #292
you need to set up env path

[2020-05-13 14:52] #292 closed

[2020-05-13 15:10] 0crat commented on #292
Job `gh:yegor256/aibolit#292` is not assigned, can't get performer

[2020-05-13 15:13] yegor256 opened #293 "appveyor CI"

[2020-05-13 15:13] 0crat commented on #293
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-13 15:20] yegor256 commented on #293
@acheshkov done, but the build fails on Windows

[2020-05-13 15:20] #293 closed

[2020-05-13 15:45] 0crat commented on #293
Job `gh:yegor256/aibolit#293` is not assigned, can't get performer

[2020-05-13 15:57] 0crat commented on #280
You @vitaly-protasov[/z](https://www.0crat.com/u/vitaly-protasov) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-05-13 15:59] Vitaly-Protasov commented on #280
Typical log looks like this:
`

,Traceback (most recent call last): |   |   |   |   |  
-- | -- | -- | -- | -- | --
File   ""./04-find-patterns.py"", line 99, in   execute_python_code_in_parallel_thread |  
val = metric['make']().value(file) |   |   |   |   |  
File   ""/hdd/aibolit/aibolit/aibolit/metrics/maxDiameter/max_diam_of_tree.py"",   line 63, in value
tree = AST(filename).value() |   |  

[2020-05-13 16:15] paulodamaso commented on #138
@acheshkov ping

[2020-05-13 16:17] paulodamaso commented on #123
@lyriccoder  What should I do here then?

[2020-05-13 16:23] acheshkov commented on #289
@0crat out

[2020-05-13 16:25] acheshkov commented on #287
@0crat out

[2020-05-13 16:26] 0crat commented on #289
@acheshkov Job `gh:yegor256/aibolit#289` is not assigned, can't get performer

[2020-05-13 16:27] 0crat commented on #287
The job [#287](https://github.com/yegor256/aibolit/issues/287) assigned to @lyriccoder[/z](https://www.0crat.com/u/lyriccoder), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/45ec9a9a-4b9b-4814-8c47-6c3cc6ba85de); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-05-13 16:27] 0crat commented on #287
@acheshkov GitHub issue is still open, won't close

[2020-05-13 16:27] 0crat commented on #287
@acheshkov Job [#287](https://github.com/yegor256/aibolit/issues/287) is not in the agenda of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder), can't set title

[2020-05-13 16:30] paulodamaso commented on #144
@acheshkov @lyriccoder @yegor256 What about my payment for the PR?

[2020-05-13 19:12] lyriccoder commented on #123
I will talk to @acheshkov and will decide what to do.
@acheshkov Will we merge PR?

[2020-05-14 07:21] acheshkov opened #295 "Appveyor Windows build failed"

[2020-05-14 07:22] acheshkov commented on #295
@0crat out

[2020-05-14 07:22] acheshkov commented on #295
`set PATH=C:\Python37;C:\Python37\Scripts;%PATH%`

[2020-05-14 07:22] 0crat commented on #295
The job [#295](https://github.com/yegor256/aibolit/issues/295) assigned to @acheshkov[/z](https://www.0crat.com/u/acheshkov), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/7e620259-5d0a-43f6-b19b-3f6261c6071a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-05-14 07:23] 0crat commented on #295
@acheshkov GitHub issue is still open, won't close

[2020-05-14 07:49] acheshkov commented on #144
@paulodamaso we are handling, don't worry

[2020-05-14 08:34] lyriccoder opened #298 "Update documentation for aibolit (recommend)"
Update documentation for aibolit (recommend)

[2020-05-14 08:35] 0crat commented on #298
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-14 09:02] acheshkov commented on #144
@0crat status

[2020-05-14 09:03] 0crat commented on #144
@acheshkov This is what I know about this job in CT5UB7XAP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#144](https://github.com/yegor256/aibolit/issues/144) is [in scope](http://www.zerocracy.com/policy.html#14) for 23days
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [6days](http://www.zerocracy.com/policy.html#

[2020-05-14 09:12] acheshkov commented on #144
@0crat out

[2020-05-14 09:17] acheshkov commented on #144
@0crat status

[2020-05-14 09:18] 0crat commented on #144
@acheshkov The project doesn't have enough funds, can't make a payment

[2020-05-14 09:19] 0crat commented on #144
@acheshkov This is what I know about this job in CT5UB7XAP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#144](https://github.com/yegor256/aibolit/issues/144) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT5UB7XAP?q=%7Bjob%3A%27gh%3Ayegor256%2Faibolit%23144%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-05-14 09:53] 0crat commented on #298
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-05-14 09:57] #295 closed

[2020-05-14 10:14] 0crat commented on #295
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @acheshkov[/z](https://www.0crat.com/u/acheshkov) (its creator); I won't close the order; please, re-open it and ask @acheshkov[/z](https://www.0crat.com/u/acheshkov) to close it

[2020-05-14 10:42] #287 closed

[2020-05-14 10:59] 0crat commented on #287
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) the issue is closed not by @IlyaMoskva (its creator); I won't close the order; please, re-open it and ask @IlyaMoskva to close it

[2020-05-14 11:54] #298 closed

[2020-05-14 11:55] lyriccoder opened #300 "Documentation update for patterns"
Documentation update for patterns

[2020-05-14 11:58] acheshkov opened #301 "Release 1.0.0-alpha2"

[2020-05-14 11:58] acheshkov commented on #301
@0crat out

[2020-05-14 11:59] acheshkov commented on #301
@rultor release, tag=1.0.0a2

[2020-05-14 11:59] 0crat commented on #301
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.14](https://github.com/zerocracy/farm): Issue: yegor256/aibolit#301, Comment: 628586441

[2020-05-14 11:59] rultor commented on #301
@acheshkov OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22045-628586525)

[2020-05-14 12:01] rultor commented on #301
@acheshkov Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22045-628586525) (spent 2min)

[code]

[2020-05-14 12:01] acheshkov commented on #301
@rultor release, tag=`1.0.0a2`

[2020-05-14 12:04] rultor commented on #301
@acheshkov OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22045-628587798)

[2020-05-14 12:17] rultor commented on #301
@acheshkov Done! FYI, the full log is [here](https://www.rultor.com/t/22045-628587798) (took me 12min)

[2020-05-14 12:18] #301 closed

[2020-05-14 12:35] 0crat commented on #301
Job `gh:yegor256/aibolit#301` is not assigned, can't get performer

[2020-05-14 12:55] lyriccoder commented on #94
@acheshkov why did u close it? we do not have code for it.

[2020-05-14 12:55] 0crat commented on #300
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-14 14:34] lyriccoder opened #302 "BidirectIndex is empty. It has empty value() method"
BidirectIndex is empty. It has empty `value()` method

[2020-05-14 14:34] 0crat commented on #302
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-14 14:35] lyriccoder opened #303 "LoopOutsider has empty value() method"
LoopOutsider doesn't have implementation at all

[2020-05-14 14:35] 0crat commented on #303
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-14 14:36] lyriccoder opened #304 "MethodSiblings has empty value() method"
MethodSiblings has empty value() method.

[2020-05-14 14:36] 0crat commented on #304
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-14 14:36] lyriccoder opened #305 "MutableIndex has empty value() method"
BidirectIndex is empty. It has empty value() method

[2020-05-14 14:36] 0crat commented on #305
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-14 14:37] lyriccoder opened #306 "VarSiblings is empty. It has empty value() method"
VarSiblings is empty. It has empty `value()` method

[2020-05-14 14:37] 0crat commented on #306
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-14 14:51] 0crat commented on #286
The job [#286](https://github.com/yegor256/aibolit/issues/286) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/a3ec6910-e68a-486b-ba9e-80331bc0dc7b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-05-14 17:24] acheshkov commented on #144
@0crat pay 30min @paulodamaso

[2020-05-14 18:35] paulodamaso commented on #144
@acheshkov Thanks!

[2020-05-15 04:28] acheshkov commented on #144
@0crat status

[2020-05-15 04:34] 0crat commented on #144
@acheshkov This is what I know about this job in CT5UB7XAP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#144](https://github.com/yegor256/aibolit/issues/144) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT5UB7XAP?q=%7Bjob%3A%27gh%3Ayegor256%2Faibolit%23144%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-05-15 07:01] acheshkov opened #310 "Model sensitivity threshold bug"
Recommend the same pattern what th=1.0

[2020-05-15 07:02] 0crat commented on #310
The job [#310](https://github.com/yegor256/aibolit/issues/310) assigned to @acheshkov[/z](https://www.0crat.com/u/acheshkov), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/a3b28d3c-601c-4393-b6c2-221e090e995d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-05-15 09:20] #310 closed

[2020-05-15 09:53] 0crat commented on #310
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @acheshkov[/z](https://www.0crat.com/u/acheshkov) (its creator); I won't close the order; please, re-open it and ask @acheshkov[/z](https://www.0crat.com/u/acheshkov) to close it

[2020-05-15 11:36] #290 closed

[2020-05-15 12:02] 0crat commented on #290
Job `gh:yegor256/aibolit#290` is not assigned, can't get performer

[2020-05-15 14:44] lyriccoder opened #315 "Create parameter which will allow to skip dataset collection"
At the moment we first collect dataset (calculate metrics,patterns) and then we train a model.
Need to skip dataset collection since it takes too much time. So, if we have already a dataset, we need to skip this procedure
We can set it via `HOME_DATASET_CSV` env variable

[2020-05-15 14:45] 0crat commented on #315
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-16 07:24] acheshkov commented on #280
@0crat out

[2020-05-16 07:28] 0crat commented on #280
@acheshkov Job `gh:yegor256/aibolit#280` is not assigned, can't get performer

[2020-05-16 10:02] 0crat commented on #226
The user @silvercase[/z](https://www.0crat.com/u/silvercase) resigned from [#226](https://github.com/yegor256/aibolit/issues/226), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-05-16 10:23] acheshkov commented on #226
@0crat out

[2020-05-16 10:23] #226 closed

[2020-05-16 10:34] 0crat commented on #226
@acheshkov Job `gh:yegor256/aibolit#226` is not assigned, can't get performer

[2020-05-16 10:47] 0crat commented on #226
Job `gh:yegor256/aibolit#226` is not assigned, can't get performer

[2020-05-16 11:19] #315 closed

[2020-05-16 11:20] lyriccoder opened #316 "New release with new model"
We need to make a new release with new model. New model will have target: Cognitive complexity. Also, some patterns will be added to a new dataset

[2020-05-16 11:21] 0crat commented on #316
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-16 11:24] 0crat commented on #316
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-05-16 11:58] 0crat commented on #315
Job `gh:yegor256/aibolit#315` is not assigned, can't get performer

[2020-05-16 20:28] #300 closed

[2020-05-16 20:48] 0crat commented on #300
Job `gh:yegor256/aibolit#300` is not assigned, can't get performer

[2020-05-17 14:00] acheshkov commented on #316
@0crat out

[2020-05-17 14:01] acheshkov commented on #306
@lyriccoder Is this issue duplicate of #284 ?

[2020-05-17 14:01] 0crat commented on #316
@acheshkov Job `gh:yegor256/aibolit#316` is not assigned, can't get performer

[2020-05-17 16:04] acheshkov commented on #316
@rultor release, tag=`1.0.0`

[2020-05-17 16:05] rultor commented on #316
@acheshkov OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22081-629820673)

[2020-05-17 16:18] rultor commented on #316
@acheshkov Done! FYI, the full log is [here](https://www.rultor.com/t/22081-629820673) (took me 13min)

[2020-05-17 16:22] acheshkov commented on #316
@lyriccoder, @yegor256  congrats us!

[2020-05-17 16:22] #316 closed

[2020-05-17 16:26] acheshkov opened #318 "Change project description setup.py"
`DevTool recommending how to improve the maintenance quality of your Java classes.`

[2020-05-17 16:27] acheshkov commented on #318
@0crat out

[2020-05-17 16:45] 0crat commented on #316
Job `gh:yegor256/aibolit#316` is not assigned, can't get performer

[2020-05-17 16:45] 0crat commented on #318
@acheshkov Job `gh:yegor256/aibolit#318` is not assigned, can't get performer

[2020-05-17 17:05] acheshkov opened #319 "Update documentation: ML pipeline docker usage"
[code]

[2020-05-17 17:05] acheshkov commented on #319
@0crat out

[2020-05-17 17:06] 0crat commented on #319
@acheshkov Job `gh:yegor256/aibolit#319` is not assigned, can't get performer

[2020-05-17 22:13] acheshkov commented on #284
@0crat assign @paulodamaso

[2020-05-17 22:14] acheshkov commented on #281
@0crat assign @paulodamaso

[2020-05-17 22:16] 0crat commented on #284
@acheshkov The job [#284](https://github.com/yegor256/aibolit/issues/284) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/141e70fa-942b-44b8-a9ad-0e56ba641ee1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-05-17 22:16] #225 closed

[2020-05-17 22:16] 0crat commented on #281
@acheshkov The job [#281](https://github.com/yegor256/aibolit/issues/281) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/3e17471e-1b45-4bf6-b403-c33ce6e9e914); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-05-18 09:52] 0crat commented on #146
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-18 11:44] lyriccoder opened #320 "Make an option to make full report for aibolit"

[2020-05-18 11:45] 0crat commented on #320
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-18 11:54] 0crat commented on #320
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-05-18 16:51] 0crat commented on #287
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-18 19:40] acheshkov commented on #320
@0crat out

[2020-05-18 19:48] 0crat commented on #320
@acheshkov Job `gh:yegor256/aibolit#320` is not assigned, can't get performer

[2020-05-18 20:03] paulodamaso commented on #138
@acheshkov Please take a look at this, I didn't received my payment

[2020-05-18 20:04] paulodamaso commented on #147
@acheshkov ping

[2020-05-18 20:12] paulodamaso commented on #123
@acheshkov Do we have any resolution on this one?

[2020-05-19 07:20] #320 closed

[2020-05-19 07:46] 0crat commented on #320
Job `gh:yegor256/aibolit#320` is not assigned, can't get performer

[2020-05-19 07:46] 0crat commented on #295
@acheshkov[/z](https://www.0crat.com/u/acheshkov) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-19 09:38] lyriccoder opened #322 "Aibolit have lot of logs"
AT the moment Catboost  creates lots of unnecessary logs. They have to remove it every time the program is run

[2020-05-19 09:38] 0crat commented on #322
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-19 09:51] yegor256 opened #323 "--full instead of --full_report"
Please, rename command line option `--full_report` to `--full`. Thanks.

[2020-05-19 09:51] 0crat commented on #323
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-19 14:52] lyriccoder opened #324 "Detect encoding"
Detect encoding in each pattern. At the moment we use only utf-8 by default. Chinese symbols cannot be parsed

We need to detect encoding via cchardet.
Also, NullAssignment is not using encoding at all. Find similar patterns

[2020-05-19 14:52] 0crat commented on #324
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-19 15:54] 0crat commented on #286
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-19 17:47] lyriccoder opened #327 "Need to add maintainability score"
Need to add maintainability score to xml report

[2020-05-19 17:47] 0crat commented on #327
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-20 04:46] #147 closed

[2020-05-20 07:59] acheshkov opened #329 "Fix issue with AppVeyor Windows build"
[code]

[2020-05-20 09:50] 0crat commented on #327
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-05-20 09:53] 0crat commented on #324
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-05-20 09:54] 0crat commented on #323
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-05-20 10:19] #329 closed

[2020-05-20 10:58] #327 closed

[2020-05-20 11:16] 0crat commented on #327
Job `gh:yegor256/aibolit#327` is not assigned, can't get performer

[2020-05-20 11:24] #324 closed

[2020-05-20 11:24] #323 closed

[2020-05-20 11:49] 0crat commented on #329
Job `gh:yegor256/aibolit#329` is not assigned, can't get performer

[2020-05-20 12:00] 0crat commented on #323
Job `gh:yegor256/aibolit#323` is not assigned, can't get performer

[2020-05-20 12:16] lyriccoder opened #330 "Make integration test for model training"

[2020-05-20 13:16] 0crat commented on #330
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-20 13:18] 0crat commented on #289
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-05-20 14:30] lyriccoder opened #331 "Bug with training dataset"
Number of features:  42
Traceback (most recent call last):
  File "/opt/conda/bin/aibolit", line 11, in <module>
    load_entry_point('aibolit', 'console_scripts', 'aibolit')()
  File "/home/jovyan/aibolit/aibolit/__main__.py", line 402, in main
    run_parse_args(commands)
  File "/home/jovyan/aibolit/aibolit/__main__.py", line 89, in run_parse_args
    commands_dict[args.command]()
  File "/home

[2020-05-20 14:30] 0crat commented on #331
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-20 16:38] #331 closed

[2020-05-20 16:38] #273 closed

[2020-05-20 16:39] #289 closed

[2020-05-20 16:57] 0crat commented on #331
Job `gh:yegor256/aibolit#331` is not assigned, can't get performer

[2020-05-20 16:57] 0crat commented on #289
Job `gh:yegor256/aibolit#289` is not assigned, can't get performer

[2020-05-20 16:57] 0crat commented on #273
Job `gh:yegor256/aibolit#273` is not assigned, can't get performer

[2020-05-21 06:42] acheshkov opened #333 "Aibolit CLI should return ExitCode=1"
Aibolit CLI should return ExitCode=1 If any issues are found

[2020-05-21 06:47] acheshkov commented on #333
@0crat out

[2020-05-21 06:55] 0crat commented on #333
The job [#333](https://github.com/yegor256/aibolit/issues/333) assigned to @lyriccoder[/z](https://www.0crat.com/u/lyriccoder), here is [why](https://www.0crat.com/footprint/CT5UB7XAP/96ec8488-7109-41b5-af26-5c93be30c0c5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-05-21 06:56] 0crat commented on #333
@acheshkov Job [#333](https://github.com/yegor256/aibolit/issues/333) is not in the agenda of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder), can't set title

[2020-05-21 06:56] 0crat commented on #333
@acheshkov GitHub issue is still open, won't close

[2020-05-21 08:23] #153 closed

[2020-05-21 08:45] 0crat commented on #153
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) the issue is closed not by @acheshkov[/z](https://www.0crat.com/u/acheshkov) (its creator); I won't close the order; please, re-open it and ask @acheshkov[/z](https://www.0crat.com/u/acheshkov) to close it

[2020-05-21 12:43] #333 closed

[2020-05-21 12:59] 0crat commented on #322
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-05-21 13:01] 0crat commented on #333
@lyriccoder[/z](https://www.0crat.com/u/lyriccoder) the issue is closed not by @acheshkov[/z](https://www.0crat.com/u/acheshkov) (its creator); I won't close the order; please, re-open it and ask @acheshkov[/z](https://www.0crat.com/u/acheshkov) to close it

[2020-05-22 10:45] lyriccoder opened #336 "03-metrics-calculate.py does not count Java files in top-level folder"

[2020-05-22 10:45] 0crat commented on #336
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-22 11:21] lyriccoder commented on #336
Unfortunately, `pmd` can only take a path as a parameter can. So if we have java files at the top of the folder we will have to move to another directory:

 - top_level_folder
     - project_one_folder
        - 1.java
     - project_two_folder
        - 2.java
     - NOTICE_JAVA.java
     - ONE_MORE_FILE.java

Then we will have to move to another directory:

 - top_level_folder
     - project_one

[2020-05-22 11:29] lyriccoder opened #337 "max_classes parameter does not work for multiprocessing (02-filter-and-move.py)"

[2020-05-22 11:29] 0crat commented on #337
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-22 11:29] 0crat commented on #337
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-05-22 12:32] yegor256 opened #338 "there is no console output per file"
This is what I'm doing:

[code]

Even though some of these files have issues, I don't see them. They are saved into `out.xml`. They have to printed to the console __too__.

[2020-05-22 12:32] 0crat commented on #338
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-22 12:34] yegor256 opened #339 "out.xml structure is weird"
This is what I see:

[code]

The idea of combining text contents and elements is very bad. Instead, make it like this:

[code]

[2020-05-22 12:35] 0crat commented on #339
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-22 12:37] yegor256 opened #340 "P21 Var in the middle is wrong about my code"
This is Java code I have:

[code]

P21 says that line 6 has "var in the middle". It seems that it's a mistake. The `iterator` variable is _not_ in the middle.

[2020-05-22 12:37] 0crat commented on #340
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-22 12:39] yegor256 opened #341 "The <output_string> is not consistent"
The `<output_string/>` element is present only for files with not patterns. This, I believe, is not correct. It should either be everywhere or nowhere.

[2020-05-22 12:39] 0crat commented on #341
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-22 12:39] yegor256 opened #342 "Let's rename maintainability_score"
The element `<maintainability_score/>` has a very strange name. Let's rename it to simply `score`.

[2020-05-22 12:40] 0crat commented on #342
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-22 12:42] yegor256 opened #343 "P5 Force Type Casting Finder is wrong"
This is my code:

[code]
Aibolit complains about line no.4: "P5 Force Type Casting Finder". It seems that this code can't be refactored. This is how it has to look. Or I'm wrong?

[2020-05-22 12:42] 0crat commented on #343
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-22 13:02] lyriccoder commented on #343
` (Scalar<Integer>) ()` -  this is type casting. What is wrong here?

[2020-05-22 13:09] yegor256 commented on #343
@lyriccoder it is type casting, it is wrong. However, in this case, I believe, it's _impossible_ to get rid of it..

[2020-05-22 13:15] yegor256 commented on #339
Let's do it this way:

[code]

[2020-05-22 13:19] yegor256 opened #344 "report.xsd"
Would be great to create XSD Schema for the XML report and validate the report everytime before printing against this XSD file.

[2020-05-22 13:19] 0crat commented on #344
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-22 13:23] yegor256 commented on #338
Make sure you print everything to console always. Let the user change the format of the output using `--format=text` or `--format=xml` option.

[2020-05-22 14:38] lyriccoder commented on #339
[code]

[2020-05-22 15:09] yegor256 commented on #339
@lyriccoder I like!

[2020-05-24 18:20] paulodamaso commented on #147
@0crat status

[2020-05-24 18:22] 0crat commented on #147
@paulodamaso This is what I know about this job in CT5UB7XAP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#147](https://github.com/yegor256/aibolit/issues/147) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT5UB7XAP?q=%7Bjob%3A%27gh%3Ayegor256%2Faibolit%23147%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-05-25 04:05] paulodamaso commented on #284
@0crat wait for https://github.com/yegor256/aibolit/pull/346

[2020-05-25 04:06] paulodamaso commented on #281
@0crat wait for https://github.com/yegor256/aibolit/pull/347

[2020-05-25 07:21] #339 closed

[2020-05-25 07:21] #322 closed

[2020-05-25 07:55] 0crat commented on #339
Job `gh:yegor256/aibolit#339` is not assigned, can't get performer

[2020-05-25 07:55] 0crat commented on #322
Job `gh:yegor256/aibolit#322` is not assigned, can't get performer

[2020-05-25 08:03] #342 closed

[2020-05-25 08:03] #341 closed

[2020-05-25 08:20] 0crat commented on #342
Job `gh:yegor256/aibolit#342` is not assigned, can't get performer

[2020-05-25 08:21] 0crat commented on #341
Job `gh:yegor256/aibolit#341` is not assigned, can't get performer

[2020-05-25 10:15] #252 closed

[2020-05-25 10:32] 0crat commented on #252
Job `gh:yegor256/aibolit#252` is not assigned, can't get performer

[2020-05-25 14:43] acheshkov commented on #147
@0crat out

[2020-05-25 14:48] 0crat commented on #147
@acheshkov Job `gh:yegor256/aibolit#147` is not assigned, can't get performer

[2020-05-25 14:58] acheshkov commented on #138
@0crat out

[2020-05-25 15:00] 0crat commented on #138
@acheshkov Job `gh:yegor256/aibolit#138` is not assigned, can't get performer

[2020-05-25 15:14] 0pdd opened #349 "non_final_argument.py:14-17: Implement NonFinalArgument..."
The puzzle `146-4f2084fc` from #146 has to be resolved:

https://github.com/yegor256/aibolit/blob/56d07529e977321d44b5545dae4b9cd2ea115ced/aibolit/patterns/non_final_argument/non_final_argument.py#L14-L17

The puzzle was created by paulodamaso on 13-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-05-25 15:14] 0pdd commented on #146
@yegor256 the puzzle [#349](https://github.com/yegor256/aibolit/issues/349) is still not solved.

[2020-05-25 15:16] 0crat commented on #349
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-25 15:31] #337 closed

[2020-05-25 15:48] 0crat commented on #337
Job `gh:yegor256/aibolit#337` is not assigned, can't get performer

[2020-05-25 17:04] paulodamaso commented on #123
@lyriccoder @acheshkov I think that we shouldn't use singletons because singleton is a bad pattern. This stated, we could make the method non-static and override it as needed

[2020-05-25 17:42] paulodamaso commented on #146
@acheshkov Merged, please close

[2020-05-26 08:08] 0crat commented on #338
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-05-26 11:25] g4s8 opened #351 "It's not clear where to find output report"
When I run `aibolit` tool for the first time, I thought my code doesn't have any problems, but then I read documentation more accurately, and found that the report was saved to the `out.xml` file. But I expected it to be printed to system output (before reading it). It's hard to find in documentation, because it appears after technical details of CLI tool implementation which I not really needed t

[2020-05-26 11:25] 0crat commented on #351
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-26 11:31] g4s8 opened #352 "Convert out.xml to human-readable format"
It's good to have XML report for `recommend` command (e.g. for CI tools or other dev tools), but it's hard to read for developer. I'd suggest making an option to render this report as a plain text or introduce additional command to parse report from XML to human-readable format. It may look like:
[code]

[2020-05-26 11:31] 0crat commented on #352
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-26 12:14] #338 closed

[2020-05-26 12:32] 0crat commented on #338
Job `gh:yegor256/aibolit#338` is not assigned, can't get performer

[2020-05-26 12:48] acheshkov commented on #352
@0crat out

[2020-05-26 12:50] 0crat commented on #352
@acheshkov Job `gh:yegor256/aibolit#352` is not assigned, can't get performer

[2020-05-26 12:52] acheshkov commented on #352
@g4s8 try the version `1.0.3` it has text output option

[code]

[code]

[2020-05-26 12:52] lyriccoder commented on #351
duplicate for #338

[2020-05-26 12:52] #351 closed

[2020-05-26 12:57] lyriccoder opened #353 "Make a parameter for sorting lines (format=compact)"

[2020-05-26 12:58] 0crat commented on #353
@acheshkov[/z](https://www.0crat.com/u/acheshkov) please, pay attention to this issue

[2020-05-26 12:58] 0crat commented on #353
You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @lyriccoder[/z](https://www.0crat.com/u/lyriccoder) are: `REV`

[2020-05-26 13:10] 0crat commented on #351
Job `gh:yegor256/aibolit#351` is not assigned, can't get performer

[2020-05-26 14:13] g4s8 commented on #352
@acheshkov thanks!

[2020-05-26 14:13] #352 closed

[2020-05-26 14:30] 0crat commented on #352
Job `gh:yegor256/aibolit#352` is not assigned, can't get performer

[2020-05-28 03:11] paulodamaso commented on #146
@acheshkov ping

[2020-05-28 03:12] paulodamaso commented on #146
@0crat status

[2020-05-28 03:12] 0crat commented on #146
@paulodamaso This is what I know about this job in CT5UB7XAP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#146](https://github.com/yegor256/aibolit/issues/146) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [15days](http://www.zerocracy.com/policy.html

[2020-05-28 04:09] paulodamaso commented on #286
@0crat wait I wasn't notified

[2020-05-28 06:29] yegor256 opened #355 "Rename --filenames to --files"
Try to stay away from compound names as much as you can. Just `--files` is descriptive enough.

[2020-05-28 06:29] yegor256 opened #356 "Rename --model_file to --model"
Compound names are evil. Just `--model` is more than enough.